<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activation Pending</title>
</head>
<body>

{% autoescape off %}
Hello {{ firstname }}!<br>

Congratulations, you are now one step closer to joining the IE family! :D
<br>
Please click on the link to activate your account: 
<br>
http://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}
{% endautoescape %}
<br><br>
We look forward to interacting with you!
<br>
Wishing you luck,
<br><br>
<b>Aritra Sinha</b>
<br>
Website Head
<br>
<i>The Institution of Engineers, NITK Chapter <br>
Institutional Member ID: IM0001491</i>
<br>
+91 8114119534
<br>

</body>
</html>
