{% extends "admin-base.html" %}
{% load app_filters %}
{% block sidebar_apply %}active{% endblock %}
{% block body %}
<div class="alert alert-danger" role="alert">
    If you only want to apply for Tectonic, just fill Garage as main SIG but no need to write test for it
  </div>
<div style="padding-right: 7.5%;padding-left: 7.5%;">
    <p style="align-content: center;" class="lead">Select at least one Core SIG. Once you submit, your choices cannot be
        changed.</p>
    <p class="lead">Visit <a href="{% url 'sig:sig' %}">our website </a>to learn more about our Special Interest Groups!
    </p>
    {% include "singleform.html" %}
</div>

{% endblock %}