{% extends "admin-base.html" %}
{% load app_filters %}
{% block sidebar_assignments %}active{% endblock %}
{% block body %}


<p class="lead"></p>
<p class="lead">Visit <a href="{% url 'sig:sig' %}">our website </a>to learn more about our Special Interest Groups!</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<style type="text/css">
    body {
        margin: 0;
    }

    #element {
        margin: 40px auto 20px auto;
        height: 200px;
        width: 400px;
        background-color: #e9e9e9;
        font-size: 20px;
        padding: 40px 0 0 0;
        text-align: center;
        box-sizing: border-box;
    }

    #go-button {
        width: 200px;
        display: block;
        margin: 50px auto 0 auto;
    }

    /* webkit requires explicit width, height = 100% of sceeen */
    /* webkit also takes margin into account in full screen also - so margin should be removed (otherwise black areas will be seen) */
    #element:-webkit-full-screen {
        width: 100%;
        height: 100%;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

    /* W3C proposal that will eventually come in all browsers */
</style>



<div id="gadget-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="text-center">
            <h1>IE GADGET SIG</h1>
            <h2>TAKE HOME ASSIGNMENT</h2> 
        </div>   
        <div style="padding: 100px;">
            <h3>GENERAL INSTRUCTIONS:</h3>
            
            The assignment consists of 3 different sections i.e.Digital, Analog and Misc. You can do your research through any medium.<br>
            Submit the report in .pdf format to the Submission Link (to be provided later).<br>
            Attempt as many questions as you can.<br>
            Attempt at least 2 sections.<br>
            Add all the references that you have used while making the report.<br>
            Submission Deadline is 1st October 2021, 5:00 PM<br>

            <br>
            <a href="https://docs.google.com/document/d/1UPX94tzC99K4nJVRDLG4vFJWfZfFqnmZXNHLucWuNUo/edit?usp=sharing">
                <button type="button" class="btn btn-info">Assignment Link</button>
            </a>
        </div>
    </div>
  
</div>




{% if gadget_eligible %}
<div class="text-center" id="gadget-button">
    <button type="button" class="btn btn-info">Gadget Assignment</button>
</div>

<br>
{% endif %}


For any technical difficulties/errors such as problems with applying on the website, contact -
<br><br>
Prakriti Goyal: +91 90361 50451<br>
Atreya Majumdar: +91 90084 30111
<br>
Omanshu Mahawar: +91 82091 04660
</p>
<br>
<br>

<script>
    // Get the modal
    var gadget_modal = document.getElementById("gadget-modal");

    // Get the button that opens the modal
    var gadget_button = document.getElementById("gadget-button");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal 
    gadget_button.onclick = function() {
        gadget_modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        gadget_modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == gadget_modal) {
            gadget_modal.style.display = "none";
        }
    }
</script>


{% endblock %}