{% extends "admin-base.html" %}
{% load app_filters %}
{% load static %}
{% block title %}Overview{% endblock %}
{% block sidebar_profile %}active{% endblock %}
{% block body_header %}Welcome {{profile.firstname}}{% endblock %}


{% block body %}
<p>
    Hi, there!<br><br>
<div class="alert alert-info" role="alert">
    Registration will close at 3pm on 16 August<br><br>
    Test Links will be available today at the designated time.<br>
    Candidates interested in Script need not give the Aptitude test. However, other SIGs will consider the Aptitude score for shortlisting.    
    <br>
    <br>
    Written Test - The first round of recruitment process will be held Today, 16th August 2020 (Sunday) acccording to following time slots for respective SIGs:
<br>
1. Aptitude (All SIGs*): 4:00-4:30 pm<br>
2. Code: 4:45 - 5:15 pm<br>
3. Capital: 5:30 - 6:00 pm<br>
4. Gadget: 6:15- 6:45 pm<br>
5. Robotics: 7:00 - 7:30 pm<br>
6. Garage: 7:45 - 8:15pm<br>
    
</div>

We know that these challenging times can often make us feel very distant to you. Worry not, we are only a call away,
fellow IE enthusiast!
<br><br>
For all questions regarding the recruitment process, contact -
<br><br>
Junaid Hussain: +91 7829023969<br>
Nishant Kumar: +91 9035207801
<br><br>
For all your 404 errors such as problems with applying on the website, contact -
<br><br>
Chaitany Pandiya: +91 98347 08844
<br>Madhumitha Nara: +91 7981819450
</p>
<br>
<br>
<p>P.S : Access different options on mobile by clicking 3 menu button on top</p>

{% endblock %}