{% extends "admin-base.html" %}
{% load app_filters %}
{% load static %}
{% block title %}Overview{% endblock %}
{% block sidebar_profile %}active{% endblock %}
{% block body_header %}Welcome {{profile.firstname}}{% endblock %}


{% block body %}
<p>
    Hi, there!<br><br>
</p>

<div class="alert alert-info" role="alert">
    Registration will close at 12 noon on 13th October<br><br>
    Tests will be conducted on 14th and 15th October. Detailed SIG Wise timings will be declared soon<br> 
    <br>
</div>

We know that these challenging times can often make us feel very distant to you. Worry not, we are only a call away,
fellow IE enthusiast!
<br><br>
For all questions regarding the recruitment process, contact -
<br><br>
Mohd. Sahil Akhtar: +91 90052 03044<br>
Rajveer Singh: +91 74249 59585
<br><br>
For any technical difficulties/errors such as problems with applying on the website, contact -
<br><br>
Aritra Sinha: +91 81141 19534

<br>
<br>