{% extends "admin-base.html" %}
{% load app_filters %}
{% block sidebar_apply %}active{% endblock %}
{% block body %}
<p class="lead">Select at least one Core SIG. Once you submit, your choices cannot be changed.</p>
<p class="lead">Visit <a href="{% url 'sig:sig' %}">our website </a>to learn more about our Special Interest Groups!</p>

<button></button>
<iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLScRnB8ocrb2qMi-wP6W3wYd9OuLNoR1MyEivNKzij1ETrIytQ/viewform?embedded=true"
    width="640" height="1249" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    
{% endblock %}