{% extends "admin-base.html" %}
{% load app_filters %}
{% block sidebar_status %}active{% endblock %}
{% block body_header %}
    <div align="center">Recruitment Status</div> {% endblock %}
{% block body %}
<div align="center">
    <table width="50%" class="table table-hover table-striped table-bordered">
        <thead>
        <th width="30%">SIG</th>
        <th width="70%">Status</th>
        </thead>
        <tbody>
        {% for entry in query %}
            <tr>
                <td>{{ entry.0 }}</td>
                <td>{{ entry.1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if applied_for_script == True %}
        <p>First Round for Script will be an online round. Please click <a href="/scriptroundone">here</a> to participate!</p>
{% endif %}

{% if applied_for_media == True %}
        <p>First Round for Media will be an online round. Please click <a href="https://docs.google.com/forms/d/e/1FAIpQLSdfX4d5T3AelQLfz3INlADMnge4FNpfiNRH8j3UWVH3a-YJFQ/viewform?usp=sf_link" target = "_blank">here</a> to participate!</p>
{% endif %}

    <p>Explore our <a href="{% url 'home' %}">website</a> or <a href="{% url 'flappy' %}">play</a> while you wait for your results!</p>
{% endblock %}
