/* Your custom css code goes here */
h3{
	text-align: center;
	size: 50px;
	font-weight: bold;
}
.probootstrap-media{
	background-color: black;
	position: relative;
	border-radius: 50%;
}
.probootstrap-media img{
	width: 100%;
	height: 100%;
}
.probootstrap-text{
	position: relative;
	height: 400px;
	font-size: 1.2em;
}