{% extends "admin-base.html" %}
{% load app_filters %}
{% block title %}All Candidates{% endblock %}
{% block sidebar_all_candidates %}active{% endblock %}
{% block body_header %}
    Candidates
    <br>
{% endblock %}
{% block body %}
    <table id="datatable" class="table table-hover table-striped table-bordered">
        <thead>
        <th>Action</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone Number</th>
        <th>Roll No.</th>
        <th>Pref 1</th>
        <th>Pref 2</th>
        <th>Pref 3</th>
        <th>Pref 4</th>

        </thead>
        <tbody>
        {% for candidate in query %}
            <tr>
                {% comment %}{% if user.username != candidate.user.user.username %}{% endcomment %}

                <script type="text/javascript">
                    function proxy{{ candidate.pk }}() {
                        configureModal({{ candidate.pk }},
                                '{{ candidate.user.username }}',
                                '{{ candidate.role }}'
                            )
                    };
                </script>
                <script type="text/javascript">
                    function delete{{ candidate.pk }}() {
                        configureModalDelete({{ candidate.pk }},
                                '{{ candidate.user.username }}',
                                '{{ candidate.role }}'
                            )
                    };
                </script>
                <td>
                    {{ candidate.pk }}
                    <button onclick="proxy{{ candidate.pk }}()" type="button" class="btn btn-warning" data-toggle="modal" data-target="#archive-modal">Archive</button>
                    <button onclick="delete{{ candidate.pk }}()" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button>
                </td>

                <td>{{ candidate.user.username }}</td>
                <td>{{ candidate.profile.firstname }}</td>
                <td>{{ candidate.profile.lastname }}</td>
                <td>{{ candidate.profile.phone }}</td>
                <td>{{ candidate.roll_no }}</td>
                {% for preference in candidate.status_set.all %}
                    <td>
                        <strong> {{ preference.to_sig }} </strong><br>
                        {{ preference.to_status }}
                    </td>
                {% endfor %}



            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "ienitk/admin/user_modal.html" %}
    {% include "ienitk/admin/delete_user_modal.html" %}
    
    <script type="text/javascript">
        $(document).ready(function () {

            //ugly hack to prevent alert which comes if there's less than 2 preferences.
            $.fn.dataTable.ext.errMode = 'none';

            $('#datatable').DataTable({
                "dom": 'lBfrtip',
                buttons: [
                    'csv'
                ]
            });
        });

        function configureModal(pk, username) {
            document.getElementById('archive-modal-body').innerHTML = 'Are you sure you want to archive the user '.concat(username, '?');
            document.getElementById('archive-modal-hidden').value = pk;
            console.log("hi"+ pk);
        }
        function configureModalDelete(pk, username) {
                document.getElementById('delete-modal-body').innerHTML = 'Are you sure you want to delete the user '.concat(username, '?');
                document.getElementById('delete-modal-hidden').value = pk;
        }
    </script>

{% endblock %}
