{% extends "base.html" %}
{% load app_filters %}
{% block title %}Deleted Users{% endblock %}
{% block sidebar_admin_users %}active{% endblock %}
{% block body_header %}
    View Archived Users
    <br>
    <a class="btn btn-success btn-sm" href="/admin/adduser/" role="button">Add User</a>
    <a class="btn btn-info btn-sm" href="/admin/users/" role="button">View Current Users</a>
{% endblock %}
{% block body %}
    <table id="datatable" class="table table-hover table-striped table-bordered">
        <thead>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for account in query %}
                <tr>
                    {% comment %}{% if user.username != account.user.username %}{% endcomment %}
                        <td>{{ account.user.username }}</td>
                        <td>{{ account.profile.firstname }}</td>
                        <td>{{ account.profile.lastname }}</td>
                    {% if account.role == 10 %}
                    <td>Admin</td>
                    {% endif %}
                    {% if account.role == 20 %}
                    <td>Applicant</td>
                    {% endif %}
                                <script type="text/javascript">
                                                function proxy{{ account.pk }}() {
                                                    configureModal(
                                                            {{ account.pk }},
                                                            '{{ account.user.username }}'
                                                        )
                                                };
                                            </script>
                        <td><button onclick="proxy{{ account.pk }}()" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#restore-modal">Restore</button></td>
                    {% comment %}{% endif %}{% endcomment %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "ienitk/admin/restore_user_modal.html" %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable();
        });
        function configureModal(pk, username) {
            document.getElementById('restore-modal-body').innerHTML = 'Are you sure you want to restore the user '.concat(username, '?');
            document.getElementById('restore-modal-hidden').value = pk;
        }
    </script>
{% endblock %}