{% extends "admin-base.html" %}
{% load app_filters %}
{% block title %}Candidates{% endblock %}
{% block sidebar_candidates %}active{% endblock %}
{% block body_header %}
Candidates
<br>
{% endblock %}
{% block body %}
<table id="datatable" class="table table-hover table-striped table-bordered">
    <thead>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone Number</th>
        <th>Roll No.</th>
        <th>Status</th>
        <th>Last Updated</th>
        {% if logged_in_user.account.role == 4 %}
        <th>SIG</th>
        {% endif %}
    </thead>
    <tbody>
        {% for candidate in query %}
        <tr>
            {% comment %}{% if user.username != candidate.user.user.username %}{% endcomment %}
            <td>{{ candidate.user.user.username }}</td>
            <td>{{ candidate.user.profile.firstname }}</td>
            <td>{{ candidate.user.profile.lastname }}</td>
            <td>{{ candidate.user.profile.phone }}</td>
            <td>{{ candidate.user.roll_no }}</td>

            {% if logged_in_user.account.role == 1 or logged_in_user.account.role == 4 %}
            <td data-value="{{ candidate.status }}">
                <form action="./" method="post" class="form-inline">{% csrf_token %}
                    <input type="hidden" name="pk" value="{{ candidate.pk }}">
                    <select class="form-control" name="status">
                        <option value="WR" {% if candidate.status == "WR" %}selected="selected" {% endif %}>Written
                            Round
                        </option>
                        <option value="AS" {% if candidate.status == "AS" %}selected="selected" {% endif %}>
                            Assignment
                        </option>
                        <option value="TE" {% if candidate.status == "TE" %}selected="selected" {% endif %}>
                            Technical
                        </option>
                        <option value="HR" {% if candidate.status == "HR" %}selected="selected" {% endif %}>HR
                        </option>
                        <option value="H2" {% if candidate.status == "H2" %}selected="selected" {% endif %}>HR2
                        </option>l̥
                        <option value="SL" {% if candidate.status == "SL" %}selected="selected" {% endif %}>Selected
                        </option>
                        <option value="NS" {% if candidate.status == "NS" %}selected="selected" {% endif %}>Not Selected
                        </option>
                    </select>
                    <input class="btn btn-primary" type="submit" value="Save" />
                </form>
            </td>

            {% else %}
            <td> {{ candidate.to_status }} </td>
            {% endif %}

            <td>{{ candidate.updated_at }}</td>

            {% if logged_in_user.account.role == 4 %}
            <td>{{ candidate.to_sig }}</td>
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            "dom": 'lBfrtip',
            buttons: [
                'csv'
            ]
        });
    });
</script>

{% endblock %}