{% extends "base.html" %}
{% load app_filters %}
{% block title %}Jobs{% endblock %}
{% block sidebar_job %}active{% endblock %}
{% block body_header %}
    View Posts
    <br>
    {% if user.account.role == 10 %}
    <a class="btn btn-success btn-sm" href="/admin/add_post/" role="button">Add Post</a>
    {% endif %}
{% endblock %}
{% block body %}
    <table id="datatable" class="table table-hover table-striped table-bordered">
        <thead>
            <th>Position</th>
            <th>AGP</th>
            <th>Vacancy</th>
            <th>Department</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for post in query %}
                <tr>
                    <td>{{ post.postname }}</td>
                    <td>{{ post.agp }}</td>
                    <td>{{ post.vacancy }}</td>
                    <td>{{ post.department }}</td>
                    <td>{% if user.account.role == 10 %}
                        <button onclick="proxy{{ post.pk }}()" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirm-modal">Delete</button>
                        {% endif %}
                    {% if user.account.role == 20 %}
                        <button type="button" class="btn btn-success btn-sm">Apply</button>
                        {% endif %}
                    </td>
                <script type="text/javascript">
                    function proxy{{ post.pk }}() {
                        configureModal(
                            {{ post.pk }},
                            '{{ post.postname }}',
                            '{{ post.department }}'
                        );
                    };
                </script>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "facportal/admin/post_modal.html" %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable();
        });
        function configureModal(pk, name, department) {
            document.getElementById('confirm-modal-body').innerHTML = 'Are you sure you want to delete the job '.concat(name, ' for department ', department, '?');
            document.getElementById('confirm-modal-hidden').value = pk;
        }
    </script>
{% endblock %}
