<!DOCTYPE html>
{% load static %}
{% load app_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/favicon.ico' %}"/>
    <title>IE NITK {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://mishal23.github.io/flatly-bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

</head>


<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/{% block brand_link %}profile/{% endblock %}">IE NITK</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user|isAuthenticated %}
                        <li class="dropdown">
                            <a href="/profile/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account Management <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/profile/">Signed in as {{ user.username }}</a></li>
                                <li class="divider"></li>
                                <li><a href="/profile/">View Profile<i class="pull-right fa fa-user"></i></a></li>
                                <li><a href="/profile/update/">Update Profile<i class="pull-right fa fa-pencil"></i></a></li>
                                <li><a href="/profile/password">Change Password<i class="pull-right fa fa-cog"></i></a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">Logout<i class="pull-right fa fa-sign-out"></i></i></a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <p class="nav navbar-text" style="color: #FFF">Not signed in</p>
                        </li>
                    {% endif %}
                    <li><a data-toggle="modal" data-target="#aboutus-modal">About us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% if user|isAuthenticated %}
        <nav class="navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                            <li class="{% block sidebar_profile %}{% endblock %}"><a href="/profile/">Profile<i class="pull-right fa fa-user"></i></a></li>
                            {% if user.account.role == 2 %}
                            {% endif %}

                            {% if user.account.role == 1 %}
                                <li class="{% block sidebar_admin_users %}{% endblock %}"><a href="/admin/users">Manage Users<i class="pull-right fa fa-users"></i></a></li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}
    <div class="container-fluid main">
        <div class="row">
            {% if user|isAuthenticated %}
                <div class="col-sm-12 main">
            {% else %}
                <div class="col-sm-offset-3 col-sm-6">
            {% endif %}
                <h1 class="page-header">{% block body_header %}{% endblock %}</h1>
                {% if alert_success %}
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {{ alert_success }}
                    </div>
                {% endif %}
                {% if alert_danger %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {{ alert_danger }}
                    </div>
                {% endif %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
        {% include "aboutus_modal.html" %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126629212-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126629212-1');
    </script>

</body>
</html>