{% extends "base.html" %}
{% load static %}
{% block events %}active{% endblock %}
      {% block main %}
<style>

/* Your custom css code goes here */
h3{
  text-align: center;
  size: 50px;
  font-weight: bold;
}

.probootstrap-media img{
  width: 100%;
  height: 100%;
}
.probootstrap-text{
  position: relative;
  height: 400px;
  font-size: 1.2em;
}
.probootstrap-text{
    margin-top: 10%;
}

.probootstrap-media{
    border-radius: 50%;
    background-color: #0b0b0b
}

</style>


      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>IE Events</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate"  style="margin-top: 0; height: 435px;">
                  <div class="text-uppercase probootstrap-uppercase">Featured Events</div>
                  <h3>Engineer's Day</h3>
                  <p>An event to facilitate and encourage the top performers of each department and year.</p>
                  <p>
                    <span class="probootstrap-date"><i class="icon-calendar"></i>September 17, 2018</span>
                    <span class="probootstrap-location"><i class="icon-location2"></i>Main Seminar Hall, NITK</span>
                  </p>
                  <!-- <p><a href="#" class="btn btn-primary">Learn More</a></p> -->
                </div>
                <div class="probootstrap-image probootstrap-animate">
                  <figure class="probootstrap-media"><img src="{% static 'img/spark-group.jpg' %}" alt="Spark" class="img-responsive"></figure>
                </div35              </div>
            </div>
          </div>
        </div>
      </section>


      
      
      <section class="probootstrap-section">
        <div class="container">

          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/rtfm-event.jpg' %}" alt="RTFM" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>RTFM (Read the F#@cking Manual)</h3>
                  <p>This is an event conducted by IE Code under the flagship event Enigma. Here, first years gather to test their wits in a series of technical Computer Science events. Participants are given a manual with the help of which they have to solve a series of tasks.</p>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/sync-event.jpg' %}" alt="Sync" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Sync</h3>
                  <p>Event in which students become Sherlocks and Dr. Watsons and try to solve mysteries using their Forensic skills. Sessions are held to help them enhance their knowledge.</p>
                  
                </div>
              </a>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/logician-event.jpg' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Transcaper</h3>
                  <p>Gadgets flagship event where the teams dove into layers of dreams, solved and built circuits while eliminating the other teams to emerge victorious. A three day event which includes a workshop. The final face off involves building a circuit from the knowledge gained during the workshop.</p>
                </div>
              </a>
            </div>

            <div class="clearfix visible-md-block"></div>
            
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/koth-event.jpg' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>KOTH (King of the Hills)</h3>
                  <p>IE's collaborative SIG event, where first years battle their way through the challenges set by each of our SIGs at each 'hill' to finally become 'The King'. It's basically a series of tech-based problems/games/obstacles/ puzzles.</p>
                  
                </div>
              </a>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/spark-par.jpeg' %}" alt="Spark" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Spark</h3>
                  <p>IE Spark is NITK's own TED talk series, where we invite people mostly from our own college to come up and give talks on their areas of interest. Conducted only once or twice a year, due to its strict quality standards, IE Spark is IE's flagship non-technical event.</p>
                  
                  
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/vriddhi-event.jpg' %}" alt="Vriddhi Event" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Vriddhi Visit</h3>
                  <p>Under our social initiative, Vriddhi, we organise regular trips to nearby care homes and orphanages to contribute our part to the less priviliged. All the club members come together and spend a day with the students by teaching, playing with them.</p>

                  
                </div>
              </a>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>


          </div>
        </div>
      </section>
      
{% endblock %}