<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HackVerse</title>

  <meta name="description" content="Hack in the North 4 Website.">

  <!-- Facebook -->
  <!-- <meta property="og:url" content="https://www.hackinthenorth.com" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Hack In The North 4" />
  <meta property="og:description" content="India's best student held hackathon" />
  <meta property="og:image" content="https://github.com/HackInTheNorth/hackinthenorth.github.io/blob/master/images/LOGO_og.png?raw=true"
  /> -->

  <!-- Twitter -->
  <!-- <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="Team HINT">
  <meta name="twitter:site" content="https://hackinthenorth.com">
  <meta name="twitter:title" content="Hack In The North 4 - India's Biggest Student Hackathon">
  <meta name="twitter:description" content="Hack in the North, a student-held hackathon in India will host it's third edition this March. We have invited a 
  legion of over 500 hackers over the past two years to collaborate, create and bring to life an idea, in 36 hours.">
  <meta name="twitter:image:src" content="images/LOGO.png">
  <meta name="twitter:image:width" content="312">
  <meta name="twitter:image:height" content="141"> -->

  <link rel="stylesheet" href="{% static 'css/hackverse/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/hackverse/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="shortcut icon" href="../../static/img/hackverse/LOGO.png">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72748005-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-72748005-1');
  </script> -->

</head>

<body>



  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
    <div class="container-fluid" style="padding-right:0; padding-left:0%;">
      <a class="navbar-brand js-scroll-trigger navbar-title" href="#"><img src="{% static 'img/hackverse/Text-Logo.png' %}" class="navbar-img"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto navbar-list">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#sponsor-target">Sponsors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="team.html">Team</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="projects.html">Projects</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>


  <div class="landing-page">
    <div class="container-fluid landing-contents">
      <div class="row">
        <div class="col-12">
          <img src="{% static 'img/hackverse/LOGO.png' %}" class="logo-img">
        </div>
      </div>

      <div class="row" style="margin-top: 4%;">
        <!-- <div id="gallery-btn" class="col-md-3 landing-contents-button">
          <a href="#" target="_blank"><button type="button"
              class="btn btn-outline-primary landing-nav-btn" style="border-color:#715EFF; color:#715EFF;">Gallery</button></a>
        </div> -->

        <!-- <div class="col-md-6 landing-contents-button">
          <button id="hint-apply-now" type="button" class="btn btn-outline-dark landing-nav-btn" >
            <svg class="logo" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 115.46 123.46" style="height:24px;width:24px;">
              <path d="M115.46 68a55.43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-10.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 13.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05 1.05.08 2.18.08 3.34z"/>
              <path d="M110.93 55.87A55.43 55.43 0 0 1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 55.41 0 0 1 50.58 55.34z"/>
            </svg>
            Apply with Devfolio
          </button>
        </div>

        <div id="sponsor-btn" class="col-md-6 landing-contents-button">
          <a href="#sponsors"><button type="button" class="btn btn-outline-danger landing-nav-btn"
              style="border-color:#FF6C56; color:#FF6C56;">Sponsor Us</button></a>
        </div> -->
      </div>



      <div class="row justify-content-center text-center landing-icons" style="margin-top: 4%; padding-left: 8%; padding-right: 8%; transition: all 0.6s;">
        <!-- <div class="col-12 text-center hover-text">
          Applications are closed!
        </div> -->
        <div class="col-6 col-md-6 landing-info" style="display:inline-block">
          <img src="../../static/img/hackverse/Group 34.svg" class="pointer-svg"> &nbsp NITK, Surathkal
        </div>
        <div class="col-6 col-md-6 landing-info">
          <img src="../../static/img/hackverse/calendar.svg" class="calendar-svg"> &nbsp 26th - 27th October, 2019
        </div>
      </div>
    </div>
  </div>


  <div class="about" id="about" style="background-color: #FBFBFB;">
    <div class="about-fluid">
      <div class="row about-row">
        <div class="col-md-6 col-lg-8 order-2 order-md-1">
          <div class="row about-text">
            <div class="col-12 about-title">
              What is HackVerse?
            </div>

            <div class="col-12 about-contents">
              HackVerse, an idea visualised by IE NITK, seeks to encourage enthusiastic minds to brainstorm on solutions for the most challenging issues in technical aspects. We provide a platform for innovations, where developers can test and showcase their potential to the best of their abilities.
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 order-1 order-md-2">
          <img src="{% static 'img/hackverse/1.png' %}" class="about-img">
        </div>

      </div>

     <!--  <div class="row">
        <div class="col-12">
          <video src="videos/after movie hint_x264.mp4" controls class="about-video">Cannot Play Video</video>
        </div>
      </div> -->
    </div>
  </div>


  <!-- <div class="commitment" id="commitment">
    <div class="container-fluid commitment-align">
      <div class="row commitment-row">
        <div class="col-md-6">
          <img src="../../static/img/hackverse/WomanSVG.svg" class="winner-img">
        </div>

        <div class="col-md-6">
          <div class="row commitment-text">
            <div class="col-12 commitment-title">
              About IE NITK
            </div>

            <div class="col-12 commitment-contents">
              IE NITK is one of the 6 exclusive clubs in NITK, aiming to increase technical exposure to all its members. Our previous Hackathon , ACM-IE NITK’s Digital Hackathon which was conducted last year, sparked our ingenious students to transpire cutting edge solutions to various problem statements. Other events like SPARK, a small scale version of Ted talks and KOTH, a challenge filled series, sought to bring out the interest within our freshman.
              <a href="https://hackcodeofconduct.org/769-hack_in_the_north_4_0" target="_blank">See Our
                Code of Conduct here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="../../static/img/hackverse/FemalePic.png" class="commitment-image">
  </div> -->


  <div class="timeline" id="timeline" style="background-color: #FBFBFB;">
    <div class="container-fluid">
      <div class="row timeline-row">
        <div class="col-lg-6">
          <!-- <br>
                <br>
                <br> -->
          <img src="{% static 'img/hackverse/3.png' %}" class="winner-timeline-img">
        </div>

        <div class="col-lg-6">
          <div class="row timeline-text">
            <div class="col-12 timeline-title">
              Timeline
            </div>

            <div class="col-12">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 570 481.5" class="timeline-img">
                <defs>
                  <style>
                    @font-face {
                      font-family: CircularStd-Medium;
                      src: url("../../static/css/fonts/CircularStd-Medium.otf") format("opentype");
                    }

                    .cls-1 {
                      fill: #818181;
                      font-size: 20px;
                      font-family: CircularStd-Medium, Circular Std Medium;
                      font-weight: 500;
                    }

                    .cls-2 {
                      fill: #575757;
                    }

                    .cls-3,
                    .cls-9 {
                      fill: none;
                    }

                    .cls-3,
                    .cls-5,
                    .cls-6 {
                      stroke: #ff6c56;
                    }

                    .cls-3 {
                      stroke-linecap: round;
                      stroke-width: 4px;
                    }

                    .cls-4,
                    .cls-6,
                    .cls-7 {
                      fill: #ff6c56;
                    }

                    .cls-4 {
                      opacity: 0.11;
                    }

                    .cls-5 {
                      fill: #fff;
                    }

                    .cls-5,
                    .cls-6 {
                      stroke-width: 3px;
                    }

                    .cls-8 {
                      stroke: none;
                    }
                  </style>
                </defs>
                <g id="Group_49" data-name="Group 49" transform="translate(-558 -4122.5)">
                  <text id="_16th_Mar_9:00_PM_Opening_Ceremony" data-name="16th Mar 9:00 PM | Opening Ceremony" class="cls-1"
                    transform="translate(1088 4197)">
                    <tspan style="fill: #818181;" x="-358.24" y="0">26th Oct 8:00 AM </tspan>
                    <tspan class="cls-2" y="0" xml:space="preserve"> | Registation</tspan>
                  </text>
                  <text id="_18th_Mar_12:00_AM_Tshirt_and_goodies_Distribution" data-name="18th Mar 12:00 AM | Tshirt and goodies Distribution"
                    class="cls-1" transform="translate(1088 4404)">
                    <tspan style="fill: #818181;" x="-468.9" y="0">27th Oct 12:00 AM</tspan>
                    <tspan class="cls-2" y="0" xml:space="preserve"> | Phase 2 Evaluation</tspan>
                  </text>
                  
                  <text id="_18th_Mar_5:00_PM_Prize_Distribution_Feedback_Session" data-name="18th Mar 5:00 PM | Prize Distribution &amp; Feedback Session"
                    class="cls-1" transform="translate(1088 4594)">
                    <tspan style="fill: #818181;" x="-521.6" y="0">27th Oct 10:00 AM</tspan>
                    <tspan class="cls-2" y="0" xml:space="preserve"> | Pitching Starts</tspan>
                  </text>
                  <text id="_17th_Mar_12:00_Midnight_Registration" data-name="17th Mar 12:00 Midnight | Registration"
                    class="cls-1" transform="translate(1088 4267)">
                    <tspan style="fill: #818181;" x="-346.76" y="0">30th Mar 12:00 Midnight </tspan>
                    <tspan class="cls-2" y="0">| Registration</tspan>
                  </text>
                  <text id="_17th_Mar_11:00_AM_Lunch" data-name="17th Mar 11:00 AM | Lunch" class="cls-1" transform="translate(1088 4299)">
                    <tspan style="fill: #818181;" x="-238.62" y="0">30th Mar 1:00 PM </tspan>
                    <tspan class="cls-2" y="0">| Lunch</tspan>
                  </text>
                  <text id="_17th_Mar_8:00_PM_Dinner" data-name="17th Mar 8:00 PM | Dinner" class="cls-1" transform="translate(1088 4331)">
                    <tspan style="fill: #818181;" x="-237.78" y="0">30th Mar 8:00 PM </tspan>
                    <tspan class="cls-2" y="0">| Dinner</tspan>
                  </text>
                  <text id="_18th_Mar_10:00_AM_Breakfast" data-name="18th Mar 10:00 AM | Breakfast" class="cls-1"
                    transform="translate(1088 4442)">
                    <tspan style="fill: #818181;" x="-274.84" y="0">31st Mar 10:00 AM</tspan>
                    <tspan class="cls-2" y="0" xml:space="preserve"> | Breakfast</tspan>
                  </text>
                  <g id="Timeline">
                    <line id="Line_4" data-name="Line 4" class="cls-3" y2="464" transform="translate(1110.5 4124.5)" />
                    <g id="Group_45" data-name="Group 45" transform="translate(0 250)">
                      <circle id="Ellipse_28" data-name="Ellipse 28" class="cls-4" cx="17.5" cy="17.5" r="17.5"
                        transform="translate(1093 3923)" />
                      <g id="Ellipse_29" data-name="Ellipse 29" class="cls-5" transform="translate(1100 3930)">
                        <circle class="cls-8" cx="11" cy="11" r="11" />
                        <circle class="cls-9" cx="11" cy="11" r="9.5" />
                      </g>
                    </g>
                    <g id="Group_46" data-name="Group 46" transform="translate(0 456)">
                      <circle id="Ellipse_28-2" data-name="Ellipse 28" class="cls-4" cx="17.5" cy="17.5" r="17.5"
                        transform="translate(1093 3923)" />
                      <g id="Ellipse_29-2" data-name="Ellipse 29" class="cls-5" transform="translate(1100 3930)">
                        <circle class="cls-8" cx="11" cy="11" r="11" />
                        <circle class="cls-9" cx="11" cy="11" r="9.5" />
                      </g>
                    </g>
                    <g id="Group_47" data-name="Group 47" transform="translate(0 567)">
                      <circle id="Ellipse_28-3" data-name="Ellipse 28" class="cls-4" cx="17.5" cy="17.5" r="17.5"
                        transform="translate(1093 3923)" />
                      <g id="Ellipse_29-3" data-name="Ellipse 29" class="cls-5" transform="translate(1100 3930)">
                        <circle class="cls-8" cx="11" cy="11" r="11" />
                        <circle class="cls-9" cx="11" cy="11" r="9.5" />
                      </g>
                    </g>
                    <g id="Group_48" data-name="Group 48" transform="translate(0 646)">
                      <circle id="Ellipse_28-4" data-name="Ellipse 28" class="cls-4" cx="17.5" cy="17.5" r="17.5"
                        transform="translate(1093 3923)" />
                      <g id="Ellipse_29-4" data-name="Ellipse 29" class="cls-6" transform="translate(1100 3930)">
                        <circle class="cls-8" cx="11" cy="11" r="11" />
                        <circle class="cls-9" cx="11" cy="11" r="9.5" />
                      </g>
                    </g>
                    <circle id="Ellipse_35" data-name="Ellipse 35" class="cls-7" cx="5" cy="5" r="5" transform="translate(1106 4255)" />
                    <circle id="Ellipse_36" data-name="Ellipse 36" class="cls-7" cx="5" cy="5" r="5" transform="translate(1106 4287)" />
                    <circle id="Ellipse_37" data-name="Ellipse 37" class="cls-7" cx="5" cy="5" r="5" transform="translate(1106 4319)" />
                    <circle id="Ellipse_38" data-name="Ellipse 38" class="cls-7" cx="5" cy="5" r="5" transform="translate(1106 4430)" />
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="faq" id="faq">
    <div class="container-fluid">
      <div class="row faq-row">
        <div class="col-md-6">
          <div class="row faq-title">
            <div class="col-md-8 col-6">
              <div>
                <div class="faq-heading">FAQ</div><br>
                <div class="faq-text">
                  Have more Questions?<br>Reach out to us<br><br>
                  <div style="font-family: circularStdBook; color: #818181;"><a href="mailto:hackinthenorth@iiita.ac.in"
                      target="_top">hackverse@nitk.ac.in</a> <br>
                    <a href="https://www.facebook.com/HackVerse" target="_blank">facebook.com/HackVerse</a></div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-6">
              <img src="{% static 'img/hackverse/faq.png' %}" class="woman-img">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row faq-column">
            <div class="faq-collapsible">
                <button class="collapsible">Is this hackathon an online event or offline?</button>
                <div class="content">
                  <p>HackVerse is an offline event and as a participant you need to be present at NITK campus.
                  </p>
                </div>
              </div>
            <div class="faq-collapsible">
              <button class="collapsible">Is there a participation fee?</button>
              <div class="content">
                <p>No</p>
              </div>
            </div>
            <div class="faq-collapsible">
              <button class="collapsible">Will there be food arrangement?</button>
              <div class="content">
                <p>Yes. Sure. Sí. हाँ. Absolutely. You will be provided with proper meals. Thanks to our sponsors.</p>
              </div>
            </div>
            <div class="faq-collapsible">
              <button class="collapsible">How big can a team be?</button>
              <div class="content">
                <p>You can form teams of up to 3 people. Most teams aim to have a mix of people with both design and developer skills.</p>
              </div>
            </div>
            <div class="faq-collapsible">
              <button class="collapsible">What should I do if I do not have any team yet?</button>
              <div class="content">
                <p>Just fill out the application form and we will match you with the best team possible during pre-hackathon meeting.</p>
              </div>
            </div>
            <div class="faq-collapsible">
              <button class="collapsible">What are the perks and benefits of Participating in this Hackathon?</button>
              <div class="content">
                <p>Hackathons provide hands on experience with the experts from different field working on the Projects like Blockchain, AI, Machine Learning, etc. This will help to give a head start if any one want to make project on the field. Along with that the participant will be provided with cool swags, stickers and refreshments to keep them up. Also our sponsors will be providing problem statements and if team works on the problem statements, they may get company prizes and recruitment benefits.</p>
              </div>
            </div>
            <div class="faq-collapsible">
              <button class="collapsible">I have a question related to hackathon which is not listed above. What should I do?</button>
              <div class="content">
                <p>You can contact the team using the contact details provided above.</p>
              </div>
            </div>
            <div class="faq-collapsible">
              <button class="collapsible">What should I bring?</button>
              <div class="content">
                <p>Bring your student ID, laptop, chargers. A pillow and sleeping bag may be useful as well.</p>
              </div>
            </div>
            <div class="faq-collapsible">
              <button class="collapsible">How long is it?</button>
              <div class="content">
                <p>It is 24 hour long Hackathon.</p>
              </div>
            </div>
            <div class="faq-collapsible">
              <button class="collapsible">What is the criterion of selection?</button>
              <div class="content">
                <p>You will be judged on the quality, innovation, feasibility and impact of your idea/plan of action, project implementation.</p>
              </div>
            </div>
            <div class="faq-collapsible">
              <button class="collapsible">Can I start working on my hack before the event?</button>
              <div class="content">
                <p>No. In the interest of fairness, students should not be working on their projects before the hackathon begins and we do not allow participants to work on pre-existing projects. However, you can familiarize yourself with all the tools and technologies you intend to use beforehand!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid prizes" style="padding-bottom: 0%;">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-12 speaker-title">
          Prizes
        </div>
    </div>
    <div class="row prizes-row justify-content-center">
      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container top-prize">
          <div class="image-row" style="height: 70%;">
            <div class="image-text">
              ₹30,000
            </div>
          </div>
          
          <div class="details-row text-center">
              <strong>1st Prize</strong>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container top-prize">
          <div class="image-row" style="height: 70%;">
            <div class="image-text">
              ₹20,000
            </div>
          </div>
          
          <div class="details-row text-center">
              <strong>2nd Prize</strong>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container top-prize">
          <div class="image-row" style="height: 70%;">
            <div class="image-text">
              ₹10,000
            </div>
            <!-- <div style="position: relative; font-size: 22px; top: 35%; left: 50%; transform: translate(-50%, -50%); text-align: center; ">
              <span style="background: -webkit-linear-gradient(#6C63FF 0%, #FF6C56 60%, #FFDB2E 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">+</span><br>
              <span style="background: -webkit-linear-gradient(#6C63FF 0%, #FF6C56 60%, #FFDB2E 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Ghost Anti Theft Bags</span>
            </div> -->
          </div>
          
          <div class="details-row text-center">
              <strong>3rd Prize</strong>
          </div>
        </div>
      </div>
    <!-- </div> -->


    <!-- <div class="row prizes-row justify-content-center"> -->
      <!-- <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container">
          <div class="image-row">
            <img src = '../../static/img/hackverse/Prizes/41514212_eu_family-stripe_250x170._CB484163430_.png' class = 'prize-image'>
          </div>
          <div class="details-row text-center">
              <strong>4th Prize</strong>
          </div>
          <div class="desc-row text-center">Amazon Echo Dots</div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container">
          <div class="image-row">
            <img src = '../../static/img/hackverse/Prizes/jbl_headphones.png' class = 'prize-image' style="width: initial; height: 80%;">
          </div>
          <div class="details-row text-center">
              <strong>5th Prize</strong>
          </div>
          <div class="desc-row text-center">JBL Headphones</div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container">
          <div class="image-row">
            <img src = '../../static/img/hackverse/Prizes/mi_band.png' class = 'prize-image' style="width: initial; height: 80%;">
          </div>
          <div class="details-row text-center">
              <strong>6th Prize</strong>
          </div>
          <div class="desc-row text-center">Mi Bands</div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container">
          <div class="image-row">
            <div class="image-text">₹5,000</div>
          </div>
          <div class="details-row text-center">
              <strong>Best All Girls' Team</strong>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container">
          <div class="image-row">
            <img src = '../../static/img/hackverse/Prizes/iot.png' class = 'prize-image' style="width: 60%; height: initial;">
          </div>
          <div class="details-row text-center">
              <strong>Best Hardware Hack</strong>
          </div>
          <div class="desc-row text-center">IOT Kits</div>
        </div>
      </div>
 -->
    </div>
    
  </div>


  <!-- <div class="container-fluid prizes">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-12 speaker-title">
          Special Prizes
        </div>
    </div>


    <div class="row prizes-row justify-content-center">
      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container">
          <div class="special-image-row">
            <img src = '../../static/img/hackverse/sponsors/walmart_labs.png' class = 'prize-image' style="width: initial; height: 60%;">
          </div>
          <div class="details-row text-center">
              <strong>Walmart Labs</strong>
          </div>
          <div class="desc-row text-center">Mi Bands for the best implementation of their problem statement.</div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container">
          <div class="special-image-row">
            <img src = '../../static/img/hackverse/sponsors/new_sponsors/Matic_Logo.png' class = 'prize-image' style="width: 60%; height: initial;">
          </div>
          <div class="details-row text-center">
              <strong>Matic Network</strong>
          </div>
          <div class="desc-row text-center">₹5,000 for the best use of their API.</div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container">
          <div class="special-image-row">
            <img src = '../../static/img/hackverse/sponsors/new_sponsors/tech.png' class = 'prize-image' style="width: 60%; height: initial;">
          </div>
          <div class="details-row text-center">
              <strong>.tech Domain</strong>
          </div>
          <div class="desc-row text-center">₹7,500 for the best hack/project hosted on a .tech domain.</div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container">
          <div class="special-image-row">
            <img src = '../../static/img/hackverse/sponsors/new_sponsors/hasura.jpg' class = 'prize-image' style="width: 50%; height: initial;">
          </div>
          <div class="details-row text-center">
              <strong>Flipkart</strong>
          </div>
          <div class="desc-row text-center">₹5,000 Flikart gift cards for the best app built on Hasura GraphQL Engine.</div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-6 col-12">
        <div class="container prize-container">
          <div class="special-image-row">
            <img src = '../../static/img/hackverse/sponsors/new_sponsors/zulip.png' class = 'prize-image' style="width: 50%; height: initial;">
          </div>
          <div class="details-row text-center">
              <strong>Zulip</strong>
          </div>
          <div class="desc-row text-center">$100 for the best use of Zulip API.</div>
        </div>
      </div>

    </div>
    
  </div> -->

  

 




  <!-- <div class="container-fluid sponsor-us" id="sponsors">
    <div class="row text-center sponsor-us-row">
      <div class="col-12">
        Want to sponsor Hack In The North 4.0? Shoot us an E-mail
      </div>
      <div class="col-12">
        <a href="mailto:hackinthenorth@iiita.ac.in" target="_top">hackinthenorth@iiita.ac.in</a>
      </div>
      <div class="col-12" style="margin-top:1%; text-decoration:underline;">
        <a href="documents/HINT4-V2.pdf" download>Download Brochure</a>
      </div>
    </div>
  </div> -->

  <!-- <div class="container-fluid sponsors" id="sponsor-target">
    <div class="row">
      <div class="col-12 text-center sponsor-title">
        Sponsors
      </div>
    </div>

    <div class="row justify-content-around main-sponsors" style="margin-bottom: 10%;">
      <div class="col-lg-6 image-column">
        <a href="https://github.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/GitHub_Logo.png" style="width:80%;" class="title-sponsor-image"></a>
      </div>

      <div class="col-lg-6 image-column">
        <a href="https://www.rightmesh.io/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/RightMesh.jpeg" style="width:80%;" class="title-sponsor-image"></a>
      </div>
      
      <div class="col-lg-6 image-column">
        <a href="https://www.elastic.co/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/elastic-logo-H-full color.png" style="width:80%;" class="title-sponsor-image"></a>
      </div>

      <div class="col-lg-6 image-column">
        <a href="https://devfolio.co/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/devfolio.svg" style="width:80%;" class="title-sponsor-image"></a>
      </div>

      <div class="col-lg-6 image-column">
        <a href="https://www.bitgrit.net/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/bg_logo_bk_high (1).jpg" style="width:20%;" class="associate-sponsor-image"></a>
      </div>

      <div class="col-lg-6 image-column">
        <a href="https://www.name.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/name.jpg" style="width:80%;" class="associate-sponsor-image"></a>
      </div>

      <div class="col-lg-6 image-column">
        <a href="http://www.upcloud.com" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/upcloud.png" style="width:80%;" class="associate-sponsor-image" alt="" srcset=""></a>
      </div>

      <div class="col-lg-5 mx-auto image-column">
        <a href="https://www.linode.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/linode-logo_standard_light_medium.png" style="width:80%;" class="associate-sponsor-image"></a>
      </div>

      <div class="col-lg-3 image-column">
        <a href="https://matic.network/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/Matic_Logo.png" style="width:80%;" class="associate-sponsor-image"></a>
      </div>

      <div class="col-lg-3 image-column">
        <a href="https://www.gitkraken.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/GitKraken.png" style="width:40%;" class="platform-sponsor-image"></a>
      </div>

      <div class="col-lg-3 image-column">
        <a href="https://quiknode.io/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/Logo_Portrait_Gray.png" style="width:40%;" class="platform-sponsor-image"></a>
      </div>

      <div class="col-lg-3 image-column">
        <a href="https://www.python.org/psf/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/PSF.png" style="width:60%;" class="platform-sponsor-image"></a>
      </div>
    </div>


    <div class="row patron-sponsors">
      <div class="col-12 text-center patron-title">
        Patrons
      </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 10%;">

      <div class="col-12 col-md-6 col-lg-3 image-column">
        <a href="https://zulipchat.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/zulip.svg" style="width:50%;" class="sponsor-image"></a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 image-column">
        <a href="https://get.tech/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/tech.png" style="width:80%;" class="sponsor-image"></a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 image-column">
        <a href="https://paytm.com//" target="_blank"><img src="../../static/img/hackverse/sponsors/Paytm Build For India Logo_500 x 500.png" class="sponsor-image" style="width:80%;"></a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 image-column">
        <a href="https://hasura.io/" target="_blank"><img src="../../static/img/hackverse/sponsors/hasura_logo_horizontal_black.png" class="sponsor-image" style="width:80%;"></a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 image-column">
        <a href="https://www.producthunt.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/producthunt.png" class="sponsor-image" style="width:80%;"></a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 image-column">
          <a href="https://www.sketchapp.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/sketch.png" class="sponsor-image" style="width:70%;"></a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 image-column">
          <a href="http://www.bitalino.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/bitalino_logo_2.0_falpha-00.png" class="sponsor-image"></a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 image-column">
        <a href="https://www.plux.info/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/logo_bw.png" class="sponsor-image"></a>
      </div>
      
      <div class="col-12 col-md-6 col-lg-3 image-column">
        <a href="http://advantedge.vc/" target="_blank"><img src="../../static/img/hackverse/sponsors/AdvantEdge.png" class="sponsor-image" style="width:40%"></a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 image-column">
        <a href="https://pentesterlab.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/pentesrlab.png" class="sponsor-image"></a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 image-column">
        <a href="https://www.creative-tim.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/tim.png" class="sponsor-image"></a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 image-column">
        <a href="https://www.stickeryou.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/SY.png" class="sponsor-image"></a> -->
<!--       </div>

      <div class="col-12 col-md-6 col-lg-3 image-column">
        <a href="https://codingblocks.com/" target="_blank"><img src="../../static/img/hackverse/sponsors/new_sponsors/cblogo.png" style="width:80%;" class="sponsor-image"></a>
      </div>	
    </div>
  </div> -->

  <div class="container-fluid footer" id="contact" style="background-color: #FBFBFB;">
    <div class="row footer-row">
      <div class="col-12">
        <a href="#" class="footer-title"><img src="../../static/img/hackverse/Text-Logo.png" class="footer-logo-img"></a>
      </div>
    </div>

    <div class="row footer-row footer-info">
      <div class="col-12">
        <a href="mailto:hackinthenorth@iiita.ac.in" target="_top">hackverse@nitk.ac.in</a>
      </div>

      <div class="col-12">
        <a href="https://hackcodeofconduct.org/769-hack_in_the_north_4_0" target="_blank">Code of Conduct</a>
      </div>

      <div class="col-12">
        Copyright © 2018 HackVerse
      </div>

      <div class="col-12">
        <a href="https://aparoksha.org/" target="_blank"><img src="../../static/img/hackverse/apklogo1.svg" style="padding-top: 2em; width: 15%;"></a>
      </div>
    </div>

    <div class="row footer-row justify-content-around footer-social-links">
      <div class="col-sm-4 col-12">
        <a href="https://www.facebook.com/HackInTheNorth/" target="_blank">Facebook</a>
      </div>

      <div class="col-sm-4 col-12">
        <a href="https://twitter.com/hintiiita" target="_blank">Twitter</a>
      </div>

      <div class="col-sm-4 col-12">
        <a href="https://www.instagram.com/hackinthenorth/" target="_blank">Instagram</a>
      </div>
    </div>


  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- <script src="js/script.js"></script> -->

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        for(var j = 0; j < coll.length; j++){
            if(coll[j] != this){
                var content = coll[j].nextElementSibling;
                content.style.maxHeight = null;
                coll[j].classList.remove("active");
            }
        }
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("mainNav").style.paddingTop = "1%";
          document.getElementById("mainNav").style.paddingBottom = "1%";
          document.getElementById("mainNav").classList.add("shadowFix");
      } else {
        document.getElementById("mainNav").style.paddingTop = "4%";
        document.getElementById("mainNav").style.paddingBottom = "0%";
        document.getElementById("mainNav").classList.remove("shadowFix");
      }
    }
    // document.addEventListener('DOMContentLoaded', function () {
    //     let devfolioOptions = {
    //         buttonSelector: '#hint-apply-now',
    //         key: 'hint',
    //     }

    //     let script = document.createElement('script');
    //     script.src = "https://apply.devfolio.co";
    //     document.head.append(script);

    //     script.onload = function () {
    //         new Devfolio(devfolioOptions);
    //     }

    //     script.onerror = function () {
    //         document.querySelector(devfolioOptions.buttonSelector).addEventListener('click', function () {
    //             window.location.href = 'https://devfolio.co/external-apply/' + devfolioOptions.key;
    //         });
    //     }
    // });
  </script>


</body>

</html>
