<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="icon" href="{% static 'img/favicon.ico' %}" title="IE NITK">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="{% static 'js/scripts.min.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>


    <!-- Title -->
    <title>Idp2020</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/idpimg/LOGO.png' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/idp.css' %}">

    <!-- <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Event",
            "name": "HackVerse",
            "email": "hackverse@nitk.edu.in",
            "image": "https://raw.githubusercontent.com/HackVerse/hackverse.github.io/master/img/LOGO.png",
            "url": "https://hackverse.nitk.ac.in",
            "sameAs": ["https://www.facebook.com/hackverse", "https://twitter.com/hackversenitk", "https://www.linkedin.com/company/hackverse", "https://www.instagram.com/hackversenitk"],
            "description": "HackVerse - 24 Hour Nation-Wide Hackathon at NITK, Surathkal as a part of the Diamond Jubilee Celebrations",
            "startDate": "25/01/2020 08:00AM",
            "endDate": "26/01/2020 09:00PM",
            "location": {
                "@type": "Place",
                "name": "NITK Surathkal",
                "sameAs": "http://www.nitk.ac.in/",
                "address": {
                  "@type": "PostalAddress",
                  "streetAddress": "NITK Surathkal",
                  "addressLocality": "Surathkal",
                  "postalCode": "575025",
                  "addressCountry": "IND"
                }
            }
        }
    </script>
 -->
</head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149404272-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-149404272-1');
</script>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="conferNav">

                    <!-- Logo -->
                    <a class="nav-brand" href=""><img
                            style="height: auto;width: auto;max-height: 105px;max-width: 250px;"
                            src="{% static 'img/ielogo.png' %}"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul class="ml-auto" id="nav">
                                <!-- <li class="active"><a href="">Home</a></li> -->
                                <li><a href="#about">About</a></li>
                                <li><a href="#timetable">Timeline</a></li>
                                <li><a href="#sponsors">Sponsors</a></li>
                                <li><a href="#faq">FAQ</a></li>
                                <li><a href="#footer">Contact</a></li>

                                <!-- <li><a href="">Prizes</a></li> -->
                                <!-- <li><a href="#">Links</a>
                                    <ul class="dropdown">
                                        <li><a target="_blank" rel="noopener noreferrer" href="//dj.nitk.ac.in/">NITK  💎 Jubilee</a></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="//www.nitk.ac.in/">NITK, Surathkal</a></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="/blog/">HackVerse Blog</a></li> -->
                                <!-- <li><a target="_blank" rel="noopener noreferrer" href="http://ie.nitk.ac.in/">IE NITK</a></li> -->
                                <!-- <li><a target="_blank" rel="noopener noreferrer" href="#">Our Team </a></li>                                         -->

                                <!-- <li><a href="schedule.html">- Schedule</a></li>
                                        <li><a href="./faq/">- Tickets</a></li>
                                        <li><a href="blog.html">- Blog</a></li>
                                        <li><a href="single-blog.html">- Single Blog</a></li>
                                        <li><a href="contact.html">- Contact</a></li>
                                        <li><a href="#">- Dropdown</a>
                                            <ul class="dropdown">
                                                <li><a href="#">- Dropdown Item</a></li>
                                                <li><a href="#">- Dropdown Item</a></li>
                                                <li><a href="#">- Dropdown Item</a></li>
                                                <li><a href="#">- Dropdown Item</a></li>
                                            </ul>
                                        </li> -->
                                <!-- </ul>
                                </li> -->
                            </ul>



                            <div id="logo-mob">
                                <img src="{% static 'img/idpimg/emblem.png' %}"
                                    style="max-width: 25%;display:block;margin:auto;padding-top: 55%;cursor: pointer;">
                            </div>
                            <!-- <a href="#" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Register! <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Welcome Area Start -->
    <section class="welcome-area" id="top">
        <!-- <div class="welcome-slides owl-carousel"> -->
        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay jarallax"
            style="background-image: url({% static 'img/idpimg/idp_background.jpeg' %});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->

                    <div class="welcome-text text-right">
                        <h2 data-animation="fadeInUp" data-delay="300ms" class="subhead" style="text-align: left;">
                            Industrial</h2>
                        <h2 data-animation="fadeInUp" data-delay="300ms" class="subhead" style="text-align: left;">
                            Defined</h2>
                        <h2 data-animation="fadeInUp" data-delay="300ms" class="subhead" style="text-align: left;">
                            Problem</h2>
                        <h6 data-animation="fadeInUp" data-delay="500ms">National Institute of Technology Karnataka,
                            Surathkal</h6>
                        <div style="display:flex;justify-content: center;" style="text-align: center;">

                            <a href="https://forms.gle/upWdSfZkBKC6A2qw6" xmlns="http://www.w3.org/2000/svg" fill="#fff"
                                viewBox="0 0 115.46 123.46" style="height:40px;width:24px;margin-right:8px"
                                class="btn confer-gb-btn" target="_blank">Apply</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

        <!-- Single Slide -->
        <!-- <div class="single-welcome-slide bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/45.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!- Welcome Text -->
        <!-- <div class="col-12">
                            <div class="welcome-text-two text-center">
                                <h5 data-animation="fadeInUp" data-delay="100ms">The event consistently</h5>
                                <h2 data-animation="fadeInUp" data-delay="300ms">OSHA Compliance</h2> -->
        <!-- Event Meta -->
        <!-- <div class="event-meta" data-animation="fadeInUp" data-delay="500ms">
                                    <a class="event-date" href="#"><i class="zmdi zmdi-account"></i> January 14, 2019</a>
                                    <a class="event-author" href="#"><i class="zmdi zmdi-alarm-check"></i> Laura Green</a>
                                </div>
                                <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#" class="btn confer-btn m-2">View more <i class="zmdi zmdi-long-arrow-right"></i></a>
                                    <a href="#" class="btn confer-btn m-2">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- </div> -->

        <!-- Scroll Icon -->
        <div class="icon-scroll" id="scrollDown"></div>
    </section>
    <!-- Welcome Area End -->

    <!-- About Us And Countdown Area Start -->
    <section class="about-us-countdown-area section-padding-100-0" id="about">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
                <div class="col-12 col-md-12 order-2 order-lg-1">
                    <div class="about-content-text mb-80">
                        <!-- <h6 class="wow fadeInUp" data-wow-delay="300ms">About</h6> -->
                        <h3 class="wow fadeInUp" data-wow-delay="300ms">What is Industrial Defined Problem ?</h3>
                        <p class="wow fadeInUp" data-wow-delay="300ms">IDP is short for Industrial Defined Problem and
                            concerns a problem statement which is prevalent
                            in a certain kind of industry. For instance, corrosion problem in pipelines for transporting
                            oil and
                            gas. These problems can either be extant or already been solved. Usually, such problems are
                            given by the industries/ startups but, a professor or like can also give out the same
                            provided
                            they are affiliated to an industry somehow. The solutions to these problems can be accepted
                            by
                            the industry to solve the problem or it can be rejected. They do not rely on such solutions.
                        </p>
                        <!-- <a href="#" class="btn confer-btn mt-50 wow fadeInUp" data-wow-delay="300ms">Interested <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                    </div>
                </div>

                <!-- About Thumb -->
                <!-- <div class="col-6 col-md-6 order-1 order-lg-2">
                    <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                        <img src="{% static 'img/idpimg/LOGO.png' %}" alt="HackVerse Logo">
                    </div>
                </div> -->
            </div>


            <div class="row align-items-center">
                <!-- About Content -->
                <div class="col-12 col-md-6 order-2 order-lg-1">
                    <div class="about-content-text mb-80">
                        <!-- <h6 class="wow fadeInUp" data-wow-delay="300ms">About</h6> -->
                        <h3 class="wow fadeInUp" data-wow-delay="300ms">The Institution</h3>
                        <p class="wow fadeInUp" data-wow-delay="300ms">National Institute of Technology Karnataka (NITK)
                            is one of the premier engineering institutions in the country. Situated near Mangalore along
                            the coast of the Arabian Sea, NITK is home to some of the brightest young minds of the
                            country engaged in a wide array of disciplines. With a vibrant and robust student body, NITK
                            has been the launchpad for people with great ideas that have grown to be very successful
                            ventures including Practo, Perpule, SaveMonk among others. This year, we celebrate our
                            Diamond Jubilee. To commemorate 60 years of NITK, we aim to gather all like minded hackers
                            to our own institute.</p>
                        <!-- <a href="#" class="btn confer-btn mt-50 wow fadeInUp" data-wow-delay="300ms">Interested <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                    </div>
                </div>

                <!-- About Thumb -->
                <div class="col-6 col-md-6 order-1 order-lg-2">
                    <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                        <img src="{% static 'img/idpimg/nitk.png' %}" height="354px" width="450px"
                            alt="NITK, Surathkal">
                    </div>
                </div>
            </div>

            <!-- Counter Up Area -->
    </section>

    <!-- timetable -->
    <section class="our-schedule-area section-padding-100" id="timetable">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">

                        <h4 style="color: black;"><u>Timeline</u></h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="schedule-tab">
                        <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="50ms" id="conferScheduleTab"
                            role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="monday-tab" data-toggle="tab" href="#step-one" role="tab"
                                    aria-controls="step-one" aria-expanded="true">Prelims<br> <span></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tuesday-tab" data-toggle="tab" href="#step-two" role="tab"
                                    aria-controls="step-two" aria-expanded="true">Final <br> <span></span></a>
                            </li>
                        </ul>
                    </div>


                    <!-- prelims -->
                    <div class="tab-content" id="conferScheduleTabContent">
                        <div class="tab-pane fade show active" id="step-one" role="tabpanel"
                            aria-labelledby="monday-tab">
                            <div class="single-tab-content">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                            data-wow-delay="300ms">
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <div class="single-schedule-tumb">
                                                    <img src="img/bg-img/10.jpg" alt="">
                                                </div>
                                                <div class="single-schedule-info">
                                                    <h6>Launching prelims problem statements</h6>
                                                </div>
                                            </div>

                                            <div class="schedule-time-place">
                                                <p><i class="fas fa-clock"></i>February 16th
                                                </p>

                                            </div>
                                        </div>

                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                            data-wow-delay="300ms">
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <div class="single-schedule-tumb">
                                                    <img src="img/bg-img/11.jpg" alt="">
                                                </div>
                                                <div class="single-schedule-info">
                                                    <h6>Idea Submit By teams</h6>
                                                </div>
                                            </div>
                                            <div class="schedule-time-place">
                                                <p><i class="fas fa-clock"></i> On or before 28th February</p>

                                            </div>
                                        </div>

                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                            data-wow-delay="300ms">
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <div class="single-schedule-tumb">
                                                    <img src="img/bg-img/11.jpg" alt="">
                                                </div>
                                                <div class="single-schedule-info">
                                                    <h6>Prelims Evaluation</h6>
                                                </div>
                                            </div>
                                            <div class="schedule-time-place">
                                                <p><i class="fas fa-clock"></i> 6th March</p>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-12">
                                        <div class="more-schedule-btn text-center mt-50 wow fadeInUp"
                                            data-wow-delay="300ms">
                                            <a href="https://drive.google.com/open?id=1-Ew2pJY4Qyx5_F1rg0b0s1W0bVGyYGUY"
                                                class="btn confer-gb-btn" target="_blank">Download schedule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- final-->
                        <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="tuesday-tab">
                            <div class="single-tab-content">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                            data-wow-delay="300ms">
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <div class="single-schedule-tumb">
                                                    <img src="img/bg-img/11.jpg" alt="">
                                                </div>
                                                <div class="single-schedule-info">
                                                    <h6>Problem statements rollout</h6>
                                                </div>
                                            </div>
                                            <div class="schedule-time-place">
                                                <p> <i class="fas fa-clock"></i> 7th March</p>

                                            </div>
                                        </div>

                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                            data-wow-delay="300ms">
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <div class="single-schedule-tumb">
                                                    <img src="img/bg-img/12.jpg" alt="">
                                                </div>
                                                <div class="single-schedule-info">
                                                    <h6>Final Evaluation</h6>
                                                </div>
                                            </div>
                                            <div class="schedule-time-place">
                                                <p><i class="fas fa-clock"></i> 14th March</p>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-12">
                                        <div class="more-schedule-btn text-center mt-50 wow fadeInUp"
                                            data-wow-delay="300ms">
                                            <a href="https://drive.google.com/open?id=1-Ew2pJY4Qyx5_F1rg0b0s1W0bVGyYGUY"
                                                class="btn confer-gb-btn" target="_blank">Download schedule </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- sponsors-->
    <section class="probootstrap-section probootstrap-bg probootstrap-section-colored probootstrap-testimonial"
        id="sponsors" style="background-image: url({% static 'img/slider_4.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center section-heading ">
                    <h2>Sponsors</h2>
                </div>
            </div>
            <!-- END row -->
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="owl-carousel owl-carousel-testimony owl-carousel-fullwidth">
                        <div class="item">
                            <div class="probootstrap-testimony-wrap text-center">
                                <img src="{% static 'img/idpimg/rdc_concrete.png' %}" alt="rdc_concrete">
                                <blockquote class="quote">

                                    <cite class="author"> <span></span></cite>
                                </blockquote>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/dxvHjVH_FmU"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>

                        </div>
                        <!-- <div class="item">
                  <div class="probootstrap-testimony-wrap text-center">
                    <figure>
                      <img src="{% static 'img/tarunya.jpeg' %}" alt="Tarunya Rao">
                    </figure>
                    <blockquote class="quote">&ldquo;If there is one thing IE has taught me, it is that trust can lead to wonders. In this fast-paced environment of ever-increasing competition, trust, faith and hope have helped IE rise to where we are today. IE has done for me, more than I have for IE.&rdquo; <cite class="author"> &mdash; <span>Tarunya Rao (Convener 2018-19)</span></cite></blockquote>
                  </div>
                </div>
              </div>
            </div> -->
                    </div>

                    <!-- END row -->
                </div>
    </section>






    <!-- Our Ticket Pricing Table Area Start -->
    <!-- <section class="our-ticket-pricing-table-area bg-img bg-gradient-overlay section-padding-100-0 jarallax" style="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <h4>Prizes</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="single-ticket-pricing-table text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6 class="ticket-plan">1st Prize</h6>
                        <div class="ticket-icon">
                            <img src="img/core-img/p1.png' %}" alt="">
                        </div>
                        <h2 class="ticket-price"><span>₹</span>1 Lakh</h2>
                        <a href="#" class="btn confer-btn w-100 mb-30">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>
                        <div class="ticket-pricing-table-details">
                            <p><i class="zmdi zmdi-check"></i> One Day Conference Ticket</p>
                            <p><i class="zmdi zmdi-check"></i> Coffee-break</p>
                            <p><i class="zmdi zmdi-check"></i> Lunch and Networking</p>
                            <p><i class="zmdi zmdi-check"></i> Keynote talk</p>
                            <p><i class="zmdi zmdi-check"></i> Talk to the Editors Session</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="single-ticket-pricing-table text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6 class="ticket-plan">2nd Prize</h6>
                        <div class="ticket-icon">
                            <img src="img/core-img/p1.png' %}" alt="">
                        </div>
                        <h2 class="ticket-price"><span>₹</span>60,000</h2>
                        <a href="#" class="btn confer-btn w-100 mb-30">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>
                        <div class="ticket-pricing-table-details">
                            <p><i class="zmdi zmdi-check"></i> One Day Conference Ticket</p>
                            <p><i class="zmdi zmdi-check"></i> Coffee-break</p>
                            <p><i class="zmdi zmdi-check"></i> Lunch and Networking</p>
                            <p><i class="zmdi zmdi-check"></i> Keynote talk</p>
                            <p><i class="zmdi zmdi-check"></i> Talk to the Editors Session</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="single-ticket-pricing-table text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6 class="ticket-plan">3rd Prize</h6>
                        <div class="ticket-icon">
                            <img src="img/core-img/p1.png' %}" alt="">
                        </div>
                        <h2 class="ticket-price"><span>₹</span>40,000</h2>
                        <a href="#" class="btn confer-btn w-100 mb-30">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>
                        <div class="ticket-pricing-table-details">
                            <p><i class="zmdi zmdi-check"></i> One Day Conference Ticket</p>
                            <p><i class="zmdi zmdi-check"></i> Coffee-break</p>
                            <p><i class="zmdi zmdi-check"></i> Lunch and Networking</p>
                            <p><i class="zmdi zmdi-check"></i> Keynote talk</p>
                            <p><i class="zmdi zmdi-check"></i> Talk to the Editors Session</p>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </section>   -->



    <!-- Our Sponsor And Client Area End -->

    <!-- Our Blog Area Start -->
    <!-- <section class="our-blog-area bg-img bg-gradient-overlay section-padding-100-60" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <h2>Why should I attend ?</h2>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                        <div class="single-blog-thumb">
                            <img src="img/bg-img/18.jpg" alt="">
                        </div>
                        <div class="single-blog-text text-center">
                            <h4 style="color: slateblue;">To make new Friends</h4>

                            <p>Hackathons provide an excellent opportunity for you to build professional contacts and make new friends. With over 100 developers and designers gathering from all over the country, grab your chance of connecting with people to discuss ideas and opportunities.</p>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                            <div class="single-blog-thumb">
                                <img src="img/bg-img/18.jpg" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <h4 style="color: slateblue;">To Learn</h4>

                                <p>Hackathons help you learn new skills. If you’re newer to programming, you’ll learn how to create a project from scratch, buff out the problems, and present to a panel of judges. Even if you’re already a coding pro, you have an opportunity to enhance your team collaboration and presentation skills.
    
                                    </p>
                            </div>

                        </div>
                    </div>
            </div>

        </div>
    </section> -->
    <!-- Our Blog Area End -->

    <!-- Contact Area Start -->
    <!-- <section class="contact-our-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        <p>Have Question?</p>
                        <h4>Contact us</h4>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-12 col-sm-3">
                    <div class="contact-information mb-100">
                        <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                            <p>Address:</p>
                            <h6>184 Main Collins Street</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-8">
                    <div class="contact_from_area mb-100 clearfix wow fadeInUp" data-wow-delay="300ms">
                        <div class="contact_form">
                            <form action="mail.php" method="post" id="main_contact_form">
                                <div class="contact_input_area">
                                    <div id="success_fail_info"></div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control mb-30" name="name" id="name" placeholder="Your Name">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control mb-30" name="name" id="name2" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control mb-30" name="email" id="email" placeholder="E-mail">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control mb-30" name="subject" id="subject" placeholder="Your Number">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control mb-30" id="message" cols="30" rows="6" placeholder="Your Message *"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn confer-btn">Send Message <i class="zmdi zmdi-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <!-- FAQ section-->

    <section id="faq">
        <div class="container">
            <div class="section-header">
                <h2>FAQs </h2>
                <br />
            </div>
            <!-- <div class="row justify-content-center align-items-center"> -->
            <div class="row">
                <div class="col-lg-6">
                    <ul id="faq-list">
                        <li>
                            <a data-toggle="collapse" class="collapsed" href="#faq1">Who is eligible to apply? <i
                                    class="fa fa-minus-circle"></i></a>
                            <div id="faq1" class="collapse" data-parent="#faq-list">
                                <p>
                                    Students enrolled in any college in 2nd and 3rd years from any Dept are welcome to
                                    apply.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" class="collapsed" href="#faq2">How many team members?<i
                                    class="fa fa-minus-circle"></i></a>
                            <div id="faq2" class="collapse" data-parent="#faq-list">
                                <p>
                                    3 members in a team are required to apply.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq3" class="collapsed">Is there any registration
                                fee? <i class="fa fa-minus-circle"></i></a>
                            <div id="faq3" class="collapse" data-parent="#faq-list">
                                <p>
                                    No. Registrations are completely free of cost.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq4" class="collapsed">Will accommodation be provided? <i
                                    class="fa fa-minus-circle"></i></a>
                            <div id="faq4" class="collapse" data-parent="#faq-list">
                                <p>
                                    Unfortunately, we won't be able to provide any accommodation to students.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq11" class="collapsed">Is a working model required?<i
                                    class="fa fa-minus-circle"></i></a>
                            <div id="faq11" class="collapse" data-parent="#faq2-list">
                                <p>
                                    No, a simulation will be sufficient (if required).
                                </p>
                            </div>
                        </li>
                        <!--  <li>
                        <a data-toggle="collapse" href="#faq5" class="collapsed">What is the selection criteria? <i class="fa fa-minus-circle"></i></a>
                        <div id="faq5" class="collapse" data-parent="#faq-list">
                            <p>
                                We are looking for people who innovate and can build crazy, unique solutions to real-world problems. Tell us why you want to be a part of HackVerse, any accomplishments you are proud of and anything else which could strengthen your application.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#faq6" class="collapsed">How big can a team be? <i class="fa fa-minus-circle"></i></a>
                        <div id="faq6" class="collapse" data-parent="#faq-list">
                            <p>
                                You can form teams of up to 3 people. Most teams aim to have a mix of people with both design and developer skills.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#faq7" class="collapsed">Will travel reimbursements be provided?<i class="fa fa-minus-circle"></i></a>
                        <div id="faq7" class="collapse" data-parent="#faq-list">
                            <p>
                                Reimbursements cannot be guaranteed. However, stay tuned on our social media channels for any updates regarding the same.
                            </p>
                        </div>
                    </li> 
                </ul> -->
                </div>

                <div class="col-lg-6">
                    <ul id="faq2-list">
                        <li>
                            <a data-toggle="collapse" href="#faq8" class="collapsed">Can team members be from different
                                branches?<i class="fa fa-minus-circle"></i></a>
                            <div id="faq8" class="collapse" data-parent="#faq-list">
                                <p>
                                    Yes, team members can be of different branches given all are in second or third
                                    year.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#faq9" class="collapsed">Can you be a part of multiple
                                problem statements? <i class="fa fa-minus-circle"></i></a>
                            <div id="faq9" class="collapse" data-parent="#faq-list">
                                <p>
                                    Yes you can take up multiple problem statements in Prelims. Though if you qualify
                                    for the finals you can only take ONE problem statement.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#faq10" class="collapsed">Still got questions? <i
                                    class="fa fa-minus-circle"></i></a>
                            <div id="faq10" class="collapse" data-parent="#faq2-list">
                                <p>
                                    Contact us using the information given below.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq10" class="collapsed">How many teams get selected for
                                the finals? <i class="fa fa-minus-circle"></i></a>
                            <div id="faq10" class="collapse" data-parent="#faq2-list">
                                <p>
                                    We are planning to select 6-8 teams across 4 problem statements for the final.
                                </p>
                            </div>
                        </li>


                        <!-- <li>
                        <a data-toggle="collapse" href="#faq12" class="collapsed">Are there any problem statements for the hackathon? <i class="fa fa-minus-circle"></i></a>
                        <div id="faq12" class="collapse" data-parent="#faq2-list">
                            <p>We believe being forced to build on problem statements limits creativity and participants should have the freedom to express their creativity. Near the hackathon, we'll release the APIs you could build on and some sample problem statements in case needed.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq13" class="collapsed">Can I start working on my hack before the event? <i class="fa fa-minus-circle"></i></a>
                        <div id="faq13" class="collapse" data-parent="#faq2-list">
                            <p>
                                No. In the interest of fairness, students should not be working on their projects before the hackathon begins and we do not allow participants to work on pre-existing projects. However, you can familiarize yourself with all the tools and technologies you intend to use beforehand.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq14" class="collapsed">Still got questions?<i class="fa fa-minus-circle"></i></a>
                        <div id="faq14" class="collapse" data-parent="#faq2-list">
                            <p>
                                Please join our Telegram Channel: @hackverse, and ask your question, one of the organizers will get in touch with you.
                            </p>
                        </div>
                    </li> 
                                      -->
                    </ul>
                </div>
                <!-- </div> -->

            </div>

    </section>

    <!-- Footer Area Start -->
    <footer class="probootstrap-footer probootstrap-bg" id="footer" data-wow-delay="50ms">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="probootstrap-footer-widget">
                        <h3>About IE NITK</h3>
                        <p>Institution of Engineers, NITK Chapter, is one of the six exclusive clubs in NITK. We are
                            divided by three core Special Interest Groups (SIGs) - Code, Gadget and Garage; but united
                            by five auxiliary SIGs - Vriddhi, our social initiative, Script, our literary SIG, Robotics,
                            Business and Media.</p>
                        <h3>Social</h3>
                        <ul class="probootstrap-footer-social">
                            <li><a href="https://facebook.com/ienitk" target="_blank"><i class="icon-facebook"></i></a>
                            </li>
                            <li><a href="https://github.com/IE-NITK" target="_blank"><i class="icon-github"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/company/ienitk/" target="_blank"><i
                                        class="icon-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/ienitk/?hl=en" target="_blank"><i
                                        class="icon-instagram"></i></a>
                            </li>
                            <li><a href="https://twitter.com/ienitk"><i class="icon-twitter"></i></a></li>
                            <li><a href="/blog/"><i class="icon-blog"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <h3>Contact Info</h3>
                        <ul class="probootstrap-contact-info">
                            <li><i class="icon-location2"></i> <span>Shaurya Seth</span>
                            </li>
                            <li><i class="icon-mail"></i><span>shauryaseth.16mt33@nitk.edu.in</span></li>
                            <li><i class="icon-phone2"></i><span>+918618753750</span></li>
                            <li><i class="icon-location2"></i> <span>Rahul Madhogarhia</span>
                            </li>

                            <li><i class="icon-phone2"></i><span>+917030881058</span></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div class="probootstrap-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-left">
                        <p>&copy; 2020 Built with <i class="icon icon-heart"></i> at IE NITK</p>
                    </div>
                    <div class="col-md-4 probootstrap-back-to-top">
                        <p><a href="#top">Back to top <i class="icon-arrow-long-up"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="{% static '/js/idpjs/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'js/idpjs/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/idpjs/bootstrap.min.js' %}"></script>
    <!-- All Plugins -->
    <script src="{% static 'js/idpjs/confer.bundle.js' %}"></script>
    <!-- Active -->
    <script src="{% static 'js/idpjs/default-assets/active.js' %}"></script>
    <script src="https://use.fontawesome.com/940386bfc9.js' %}"></script>
    <script>
        var mobile = document.getElementById('mobile');
        var desktop = document.getElementById('desktop');
        var mobile_logo = document.getElementById('logo-mob');
        var desktop_logo = document.getElementById('logo-pc');

        if (mobile != null) {
            mobile.style.display = "none";
        }

        if (mobile_logo != null) {
            mobile_logo.onclick = function () {
                window.location.href = "https://nitk.ac.in"
            }
            mobile_logo.style.display = "none";
        }

        if (desktop_logo != null) {
            desktop_logo.onclick = function () {
                window.location.href = "https://nitk.ac.in"
            }
        }

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {

            if (mobile != null) {
                mobile.style.display = "block";
                mobile.style.fontSize = ""
            }

            if (desktop != null) {
                desktop.style.display = "none";
            }

            if (mobile_logo != null) {
                mobile_logo.style.display = "block";
            }

            if (desktop_logo != null) {
                desktop_logo.style.display = "none";
            }

            var about = document.getElementById('about');
            if (about != null) {
                var about_sections = [...about.getElementsByClassName('row align-items-center')];
                about_sections.map((section) => {
                    section.style.display = "flex";
                    section.style.justifyContent = "center";

                    var h3_tag = section.querySelector('h3.wow.fadeInUp');
                    if (h3_tag != null) {
                        h3_tag.style.display = "flex";
                        h3_tag.style.justifyContent = "center";
                    }
                    var content = section.querySelector('p.wow.fadeInUp');
                    if (content != null) {
                        content.style.textAlign = "center";
                    }
                });

            }
        }
        new WOW().init();
        // document.addEventListener('DOMContentLoaded', function () {
        //     let devfolioOptions = {
        //         buttonSelector: '#devfolio-apply-now',
        //         key: 'hackverse',
        //     }

        //     let script = document.createElement('script');
        //     script.src = "https://apply.devfolio.co";
        //     document.head.append(script);

        //     script.onload = function () {
        //         new Devfolio(devfolioOptions);
        //     }

        //     script.onerror = function () {
        //         document.querySelector(devfolioOptions.buttonSelector).addEventListener('click', function () {
        //             window.location.href = 'https://devfolio.co/external-apply/' + devfolioOptions.key;
        //         });
        //     }
        // });
    </script>
</body>

</html>