{% extends "base.html" %}
{% block main %}


    <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left section-heading probootstrap-animate">
                    <h1>Industrial Defined Problem</h1>
                </div>
            </div>
        </div>
    </section>
    <table id="datatable" class="table table-hover table-striped table-bordered">
        <tbody>

                <tr>
                        <td>Mid - February</td>
                        <td>Launching prelims problem statements</td>
                </tr>

                <tr>
                        <td>February end</td>
                        <td>Prelims Results</td>
                </tr>
                <tr>
                        <td>March 1</td>
                        <td>Finals Problem Statements</td>
                </tr>
                <tr>
                        <td>Mid - March</td>
                        <td>Companies come for presentation</td>
                </tr>

        </tbody>
    </table>
    <section class="probootstrap-section probootstrap-section-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row probootstrap-gutter0">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdOKWm65plEdfhLnn_vi_2zEP72eymxM3j9dkpeDxoVQmlm6g/viewform?embedded=true"
                                width="400" height="2500" frameborder="0" marginheight="0" marginwidth="0">Loading…
                        </iframe>


                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}