{% extends "base.html" %}
{% block smp %}active{% endblock %}
{% block main %}


    <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left section-heading probootstrap-animate">
                    <h1>Summer Mentorship Programme 2020</h1>
                    <!-- <p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTTi8gRz22ls6MPyiG3qVczV09MaEMQHajrx8WDY_e7_DZ4A/viewform?embedded=true"
                           class="btn btn-primary" target="_blank">Register Now!</a>
                    </p> -->
                </div>
            </div>
        </div>
    </section>



    <section class="probootstrap-section probootstrap-section-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row probootstrap-gutter0">
                        <div class="col-md-4" id="probootstrap-sidebar">
                            <div class="probootstrap-sidebar-inner probootstrap-overlap probootstrap-animate">
                                <h3></h3>
                                <ul class="probootstrap-side-menu">
                                    <li class="tablinks active core"><a onclick="return navigate('smp-home')">Home</a>
                                    </li>
                                    <li class="tablinks code"><a onclick="return navigate('code')">Code</a></li>
                                    <li class="tablinks gadget"><a onclick="return navigate('gadget')">Gadget</a></li>
                                    <li class="tablinks garage"><a onclick="return navigate('garage')">Garage</a></li>
                                    <li class="tablinks robotics"><a onclick="return navigate('robotics')">Robotics</a>
                                    <li class="tablinks media"><a onclick="return navigate('media')">Media</a>
                                    <li class="tablinks capital"><a onclick="return navigate('capital')">Capital</a>
                                    <li class="tablinks script"><a onclick="return navigate('script')">Script</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="smp-home">
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">
                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 220px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h6><b>“Engineering” means “making things happen”.<br>

                                                    Ever wanted to build an Android App but never found the guidance to?<br>
                                                    Ever wanted to build a robot but didn’t know where to begin? <br>Heard
                                                    of ANSYS but thought it was beyond your scope? <br> From
                                                    implementation
                                                    of Snapchat filters to Wastewater Management, from Financial
                                                    Modelling to Photoshop and Video editing courses, we have it all.
                                                    <br><br>
                                                    Click on a SIG to know more.<br></b>

                                                    <i>Don’t just learn, understand.</i></h6>
                                                <!-- <p>
                                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTTi8gRz22ls6MPyiG3qVczV09MaEMQHajrx8WDY_e7_DZ4A/viewform?embedded=true"
                                                       class="btn btn-primary" target="_blank">Register Now!</a>
                                                </p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="code">
                            <h2>Code</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Competitive Programming</b></h3>
                                                <p></p>
                                                <p>A basic course series covering topics relevant to competitive
                                                    programming, with adequate coding contests and assignments for a
                                                    better grasp on fundamental data structures and algorithms.
                                                </p>
                                                <p><b>Detailed Course Plan:</b> <a
                                                        href="https://drive.google.com/file/d/1csou3jIGSkLEh-HZd0rK0YBfk_x_W1_o/view?usp=drivesdk"
                                                        target="_blank">CP
                                                    SMP course plan</a></p>
                                                <p><b>Contact:</b> Shreyansh Shrivastava: 7974484874,
                                                    shreyansh.171co244@nitk.edu.in </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Image Recognition using CNNs</b></h3>
                                                <p></p>
                                                <p> A course on building basic neural networks, especially Convolutional
                                                    Neural Networks. The course will discuss the structure and building
                                                    of a CNN, existing architectures and certain applications of CNNs.
                                                    The course will end with a mini-project on building a CNN model for
                                                    image classification.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/file/d/1UGiHUwBiYNSel4_xmHJmKdXFMgjfUYsE/view?usp=drivesdk"
                                                        target="_blank">CNN SMP
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Madhumitha Nara: 7981819450,
                                                    madhumithanara.171it125@nitk.edu.in
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Operating Systems</b></h3>
                                                <p></p>
                                                <p> A course which will cover the basic concepts of operating systems
                                                    and provide a comprehensive introduction to OS Design concepts. This
                                                    course is designed to provide an in-depth critique of the background
                                                    processes of an operating system.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/file/d/1GjX_HUbmNVacaj9d3F02UhRYlqGXhs-1/view?usp=drivesdk"
                                                        target="_blank">OS SMP
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Souhard Kataria: 8130901111,
                                                    souhard.171co147@nitk.edu.in
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Machine Learning</b></h3>
                                                <p></p>
                                                <p> This course is a complete ML package which includes an introduction
                                                    to Python for ML, Data preprocessing and visualization, Explanation
                                                    and Implementation of various algorithms, Cross-validation and
                                                    Metrics for evaluating a model, and an ML-based project by the end
                                                    of the SMP.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/file/d/14ofp7Cyy2qbQmyEaHQSOJzhlyxPhqKNo/view?usp=drivesdk"
                                                        target="_blank"> ML SMP
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> K Rahul Reddy - 8310496354 -
                                                    krahulreddy.171co119@nitk.edu.in
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Cryptography</b></h3>
                                                <p></p>
                                                <p>A course on the cryptographic factor of computer and networks
                                                    security. The course covers different types of cryptographic
                                                    algorithms, its evolution and uses for securing networks. Different
                                                    crypto-analytic methods will also be discussed.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/file/d/1vtCbrnq-AHi7CMp05K37XzDt6pUdSnaB/view?usp=drivesdk"
                                                        target="_blank">
                                                    Cryptography SMP
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Niwedita - 8970016495 - niwedita.171co227@nitk.edu.in
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Android App Development</b></h3>
                                                <p></p>
                                                <p>The course aims at teaching how to create an Android application
                                                    using Android Studio. It will cover the basics of Android App
                                                    development, tips on creating a good user interface, and the
                                                    integration of database into the system.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/file/d/1Jwu_bCTE1CP8YZ6GaWGK4Acn9YVdXfqz/view?usp=drivesdk"
                                                        target="_blank"> Android
                                                    SMP
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Avdhesh: 9479761593, avdhesh.171co210@nitk.edu.in
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div>
                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="gadget">
                            <h2>Gadget</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Image Processing using OpenCV</b>
                                                </h3>
                                                <p></p>
                                                <p> In those moments of boredom when you’re playing with Snapchat’s
                                                    filters, have you ever had a moment where you’ve wondered what’s
                                                    going on, on a technical level — how does Snapchat manage to match
                                                    your face to the animations?
                                                    <br>
                                                    Well, we have the answer.
                                                    IE NITK presents Image Processing SMP where we delve backstage into
                                                    the world of Snapchat filters and learn how image processing is used
                                                    for face detection and subsequent generation of those wacky filters.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1zAHs3dCilOqlW5hoMVZWT9TthP1fWbXb"
                                                        target="_blank">
                                                    Image Processing
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Neha Saji - 8861088103 - neha.171ee228@nitk.edu.in
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Home automation using Internet of Things</b>
                                                </h3>
                                                <p></p>
                                                <p> Internet of Things is an evergrowing hot topic in this modern age of
                                                    technology. Home automation is just one of the many labour saving
                                                    topics under this. Home automation features also form a system that
                                                    increases safety whether it is lighting your way when you get home
                                                    at night or helping monitor an aged loved one with motion sensors.
                                                    <br>
                                                    Heating and cooling accounts for 48% of an average home's energy use
                                                    and costs, but by installing home automation, we can monitor the use
                                                    of our daily appliances and save a lot.<br>
                                                    So come take a glance of how this exactly works in depth in this SMP
                                                    and experience turning your place into a smart home even if it is
                                                    just by a tiny bit.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=17At1kKcanJ5pyuvmM31d9Y9ehQTzQFVc"
                                                        target="_blank">
                                                    Home Automation
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Govind Sunilkumar - 9901074071 -
                                                    govindsunilkumar.171ec217@nitk.edu.in
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>PID Controller</b>
                                                </h3>
                                                <p></p>
                                                <p> Have you ever wondered how an air conditioner regulates the
                                                    temperature in auto mode? Did you ever think of what the upcoming
                                                    self-driving cars are based on? Want to make an actual beer brewing
                                                    system? You have come to the right place! Take part in the PID
                                                    Controller SMP to explore more about how the world runs on feedback
                                                    and control systems.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1LID2FHkmsRZEd32nIOhNX1Lr4k2Bh-Ws"
                                                        target="_blank">
                                                    PID Course Plan</a></p>
                                                <p><b>Contact:</b> Preethi Reddy - 8197202701 -
                                                    preethireddy10741@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Digital Electronics and Verilog</b>
                                                </h3>
                                                <p></p>
                                                <p>This SMP will cover topics in digital electronics including
                                                    Combinational circuits, Sequential circuit, Finite State Machines
                                                    (FSM) and implementation of digital circuits using verilog.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1F1KhPC54hCo6FsAE9IJ3s3n_9ZfxYI7J"
                                                        target="_blank">
                                                    Verilog Course Plan</a></p>
                                                <p><b>Contact:</b> Nishant Kumar - 9035207801
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b> Microprocessors</b>
                                                </h3>
                                                <p></p>
                                                <p> Ever wondered how computers worked or atleast wanted to get close to
                                                    fiddling with one? Learn about the controlling unit of a
                                                    micro-computer, fabricated on a small chip capable of performing
                                                    Arithmetic and Logical operations and communicating with other
                                                    devices connected to it. You shall also learn how to program these
                                                    small tech beasts that play a significant part in our daily lives!

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1jwMpfihHJBxCRoVKMPQFx0g2KB44pqo9"
                                                        target="_blank">
                                                    Microprocessor 8085 Course Plan</a></p>
                                                <p><b>Contact:</b> Soumya Mondal - 7980181421
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div>

                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="garage">
                            <h2>Garage</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Wastewater Treatment and Management</b></h3>
                                                <p></p>
                                                <p>Wastewater is one of those areas that need immediate actions in
                                                    today’s time. But do you really know why this is such a huge talking
                                                    point? We have created the perfect opportunity for you to delve
                                                    further into this field of ever-growing importance.


                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1p9rVK-9qSl8ONrKSc7S44dHHIxUfV-cZ"
                                                        target="_blank">
                                                    Wastewater SMP
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Snehal Satlawar, 8408020523,
                                                    snehal.171ch046@nitk.edu.in
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Introduction to Mechatronics and PLC Programming</b></h3>
                                                <p></p>
                                                <p>In the flourishing field of Mechatronics with countless applications
                                                    in the present world, you don’t want to be a normie. Join this SMP
                                                    and explore what really happens in a fully automated system. Speak
                                                    the language of PLCs, give them senses, teach them what to do and
                                                    watch the magic happen.


                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1csf9_2mCmjBfGiFNPtS6ULjux4FYWHGj"
                                                        target="_blank">
                                                    Mechatronics SMP
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Junaid Hussain: 7829023969, junaid.12399@gmail.com

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Alloy Phase Equilibria and Shape Memory Alloys</b></h3>
                                                <p></p>
                                                <p>Hard to imagine a world without alloys, isn’t it? Join this SMP if
                                                    you are passionate and curious about Materials Science and the day
                                                    to day revolutionary materials coming up. Starting with phase
                                                    diagrams, we will go onto Shape memory alloys - a new age material
                                                    that is transforming the world with its magical properties.


                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/file/d/1a58aeLnYR239lfSrIjFKP_wdz0RVeQ13/view?usp=sharing"
                                                        target="_blank">
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Priyank Agarwal- 8971114411 -
                                                    priyank.agarwal2807@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>ANSYS Simulation Software</b></h3>
                                                <p></p>
                                                <p> Ansys is a software which acts as a hands-on skill for an engineer
                                                    to simulate interactions of all disciplines of physics, structures,
                                                    vibration, fluid dynamics, heat transfer and electromagnetism.
                                                    It's one such skill which helps an engineer to show his/her
                                                    imagination qualitatively and quantitatively on a computer screen as
                                                    well compare and confirm theoretical analysis.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1KNtU4jm_nUsPOq6X-Yq7AFsZgWsgXxML"
                                                        target="_blank">
                                                    ANSYS Course Plan</a></p>
                                                <p><b>Contact:</b> Sadhana: 8884636974, sadhanam05@gmail.com


                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>DWsim Flowsheeting </b></h3>
                                                <p></p>
                                                <p>Ever wondered how process calculations are performed in industries?
                                                    Have you ever wondered how mega chemical plants are modelled? This
                                                    SMP teaches you DWsim, an open source software that is used for
                                                    flowsheeting/simulation of large scale industries and chemical
                                                    plants. The basics of this software is a must know for every
                                                    chemical/process engineer aspiring to work in an industry.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1gO3X00jcNJk3jdYt-ucEJXR7knmSLiDE"
                                                        target="_blank">
                                                    DWsim Course Plan</a></p>
                                                <p><b>Contact:</b> Pranav Krishna - 9902566885,
                                                    (pranavkrishna99@gmail.com)


                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Designing and Assembling 3D linkages using CATIA </b></h3>
                                                <p></p>
                                                <p>CATIA is a commercial software mainly used for CAD, designing and
                                                    simulation. Major industries like automobile and aerospace use 3D
                                                    modelling to solve engineering related problems, and if you have a
                                                    thing for these industries, this course is for you! Come unleash
                                                    your creative skills this summer and design your future.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1-t-xqcunwqnPZSZYfj6LNijpFOGwwnen"
                                                        target="_blank">
                                                    CATIA Course Plan</a></p>
                                                <p><b>Contact:</b> Rajat Shukla, 7678978169, (rajatme58@gmail.com )
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>All About Automobiles</b></h3>
                                                <p></p>
                                                <p>Automobile is a ever flourishing vast engineering field.This SMP will
                                                    equip students with the knowledge of how does a transmission works
                                                    and how important CVT is along with the analysis of the cars in
                                                    extreme conditions and involved in sports. </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1DD2gNnsyPhv62zsfM2jCcAZPdilOr12C"
                                                        target="_blank">
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Shefin - 9061302168
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div>
                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="robotics">
                            <h2>Robotics</h2>
                            <section class="probootstrap-section">

                                <div class="container" style="width: 100%;">
                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Gesture Control Robot</b>
                                                </h3>
                                                <p></p>
                                                <p>Robotics deals with the design, construction, operation, and use of
                                                    robots, as well as computer systems for their control, sensory
                                                    feedback, and information processing. This project aims to provide a
                                                    pedestal to those interested in the field. At the end of the
                                                    programme, mentees will have made a robot whose movement they can
                                                    control wirelessly using simple hand gestures.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1pmsWe0R_ihkij5n_mWl8HdvuZ8oo6mS9"
                                                        target="_blank">
                                                    Gesture Control Robot Course Plan</a></p>
                                                <p><b>Contact:</b> Rahasya Barkur - 7016600102
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div>

                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="media">
                            <h2>Media</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3>Basic Photoshop and Premiere pro</h3>
                                                <p>Photoshop is the biggest name in image editing and so is premiere pro
                                                    in video editing, but it has a reputation as a complicated and
                                                    difficult app to use. While it’s certainly feature packed, it’s
                                                    nowhere near as difficult to get the hang of as it first appears.
                                                    Let’s look at how to learn Photoshop and Premiere pro this
                                                    summer.</p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1ifnI3F9Z69BsRDV7p9ikmVTzMgp-kY5I"
                                                        target="_blank">
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Aditya S G : 8826950512 / adityasg3@gmail.com

                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div>

                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="capital">
                            <h2>Capital</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3>Business Metrics and Financial Modeling</h3>
                                                <p>A course about different parameters that define a company’s success
                                                    and how the use of data based on these parameters can make a company
                                                    more competitive and profitable. Further, learn about different
                                                    domains of financial modeling and how this critical business skill
                                                    can be used to make future decisions. </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/file/d/1Ne3iDfsbpzlrCTI49alThstJkPCppKtI/view?usp=sharing"
                                                        target="_blank">
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Yash Harlalka, 9930182870 / yash2103h@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div>
                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="script">
                            <h2>Script</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3>Leave It To The Prose</h3>
                                                <p>Where we set up an active environment for you to give your views and
                                                    interpretation on literature, it can even be movies or tv series!
                                                    Join us in this really enjoyable summer programme and partake in fun
                                                    dialogue which we as your mentors, assure you, will never have a
                                                    dull moment :D
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1cnguAE9wuIcnWThUzmUl9OrNdX1jnseW"
                                                        target="_blank">
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Madhumitha Nara - 7981819450 /
                                                    madhumithanara.171it125@nitk.edu.in

                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(".team").addClass("active");
        var tabcontent = document.getElementsByClassName('teams');
        for (i = 1; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        function navigate(signame) {
            var tabcontent = document.getElementsByClassName('teams');
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(signame).style.display = "block";
            $("." + signame).addClass("active");
        }
    </script>
{% endblock %}
