{% extends "base.html" %}
{% block smp %}active{% endblock %}
{% block main %}


<section class="probootstrap-section probootstrap-section-colored">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
                <h1>Summer Mentorship Programme 2021</h1>
                <!-- <p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTTi8gRz22ls6MPyiG3qVczV09MaEMQHajrx8WDY_e7_DZ4A/viewform?embedded=true"
                           class="btn btn-primary" target="_blank">Register Now!</a>
                    </p> -->
            </div>
        </div>
    </div>
</section>



<section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row probootstrap-gutter0">
                    <div class="col-md-4" id="probootstrap-sidebar">
                        <div class="probootstrap-sidebar-inner probootstrap-overlap probootstrap-animate">
                            <h3></h3>
                            <ul class="probootstrap-side-menu">
                                <li class="tablinks active core"><a onclick="return navigate('smp-home')">Home</a>
                                </li>
                                <li class="tablinks code"><a onclick="return navigate('code')">Code</a></li>
                                <li class="tablinks gadget"><a onclick="return navigate('gadget')">Gadget</a></li>
                                <li class="tablinks garage"><a onclick="return navigate('garage')">Garage</a></li>
                                <li class="tablinks robotics"><a onclick="return navigate('robotics')">Robotics</a>
                                <li class="tablinks capital"><a onclick="return navigate('capital')">Capital</a>
                                <li class="tablinks script"><a onclick="return navigate('script')">Script</a>
                                <li class="tablinks tectonic"><a onclick="return navigate('tectonic')">Tectonic</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="smp-home">
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">
                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 220px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h6><b>“Engineering” means “making things happen”.<br><br>
                                                    <i>Projects we have completed demonstrate what we know <br>
                                                        future projects decide what we learn.</i>
                                                    <br>
                                                    <br>

                                            </h6>
                                            <p>
                                                <a class="typeform-share button"
                                                    href="https://ie-nitk.typeform.com/to/nJLMYz1q" data-mode="popup"
                                                    style="display:inline-block;text-decoration:none;background-color:#57C0AB;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
                                                    data-submit-close-delay="5" target="_blank">Register here </a>
                                                <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="code">
                        <h2>Code</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Competitive Programming</b></h3>
                                            <p></p>
                                            <p>A basic course series relevant to Competitive Programming that aims to
                                                give you the motivation and in-depth knowledge of tools to solve the
                                                most complex problems in most efficient ways.
                                            </p>
                                            
                                            <a href="https://drive.google.com/file/d/1mIPuYOQx7N8HSzC72QJwgx7CLSd80GFh/view?usp=sharing"target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> K Prajwal: 6362297424
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Information Security</b></h3>
                                            <p></p>
                                            <p>Information Security is all about securing computers and the way they
                                                communicate. The objective is not only to teach security but also to
                                                provide mentees with a fundamental understanding of basic system
                                                technologies like Networking, Operating Systems, Computer Architecture,
                                                and so on.

                                            </p>
                                            <a href="https://drive.google.com/file/d/1EGVi20uLX4pJ3PAcODsugB7gi8FENu38/view?usp=sharing"target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b>Ragul NS: 8903435833

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Operating Systems</b></h3>
                                            <p></p>
                                            <p> An Operating System is an interface between a computer user and computer
                                                hardware. All of us might be using Windows/ Linux/MacOs but it is very
                                                essential for one to know how these operating systems actually work. i.e
                                                How multiple processes run together, How different tasks are scheduled,
                                                How are the resources managed, How is the memory accessed etc.

                                            </p>
                                            <a href="https://drive.google.com/file/d/1hY66leqMaUO8np_B4KD-KEeDc2ATuyLu/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b>Riya Shah: 9011940624

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Competing in Kaggle using Machine Learning </b></h3>
                                            <p></p>
                                            <p> Machine learning basic concepts and algorithms
                                            </p>
                                            <a href="https://drive.google.com/file/d/1JeBSslczW_JwhTmRj4z0tXuTdssMZnbH/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Shipra Anil Mathur: 6350140095
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Graph Algorithms </b></h3>
                                            <p></p>
                                            <p>Basic introduction to graph theory along with implementation and
                                                application of various algorithms on graphs
                                            </p>
                                            <a href="https://drive.google.com/file/d/1j8TlEUsTaKVK8oreiGRUi_OIY9Yi5SsN/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button> 
                                            </a>
                                            <p><b>Contact:</b>Swapnil Guduru:8431877921
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Web Development using Django</b></h3>
                                            <p></p>
                                            <p>This SMP helps the mentees explore the area of web development through
                                                the eyes of Django. We start with the basics of HTML,CSS and slowly dive
                                                deep into the concepts of MVC frameworks. Since this is a project based
                                                SMP, the mentees by the end of the SMP, will be able to create a fully
                                                functioning deployed Blog Writing Platform similar to Medium.

                                            </p>
                                            <a href="https://drive.google.com/file/d/1MguNX8Tig0F1Nmgz44lCzA05vu8HZ7Bz/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Sakshi Thimmaiah: 9731624937
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </section>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="gadget">
                        <h2>Gadget</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Foundations of Microprocessors and Embedded Systems </b>
                                            </h3>
                                            <p></p>
                                            <p>Introduction to various assembly level languages such as MIPS, ARM7 in a
                                                more practical manner which would also include introduction to
                                                simulation softwares like keil, spim. The SMP would also give an idea
                                                about basic verilog and communication protocols used in embedded
                                                systems.
                                            </p>
                                            <a href="https://docs.google.com/document/d/1RCVqXRZCQuFY_IxdiRan69EvuzlszjM4feOlzZYKv_U/edit?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Megha Das - 7892406197
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Speech emotion recognition using python</b>
                                            </h3>
                                            <p></p>
                                            <p> Design and implementation of Speech processing using python.
                                            </p>
                                            <a href="https://drive.google.com/file/d/1npCsVdcTyQ3skyIWvsUEZdHCwZmG_b-n/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>     
                                            </a>
                                            <p><b>Contact:</b> Hemadarshini Gopal-9959418352
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Emotion recognition of famous movie scenes using image processing</b>
                                            </h3>
                                            <p></p>
                                            <p>
                                            </p>
                                            <a href="https://docs.google.com/document/d/1Bh7EHOIZligrQfcoXRF2EPhueaaB18Q5eU9xbymuLyc/edit?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Hritika Bhavsar-9284880070 </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>PCB DESIGN</b>
                                            </h3>
                                            <p></p>
                                            <p>To learn how to analyze circuits using LTSPICE and design electrical
                                                schematics and PCBs using KiCAD. At the end of the course we will make
                                                an Arduino-clone board with the participant’s name on it.
                                            </p>
                                            <a href="https://drive.google.com/file/d/1jIHunkjB9y7RiKAzn_Km-QDIoYrlBQXl/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Vikram Magendar - 9380172268

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>DRIVER DROWSINESS DETECTION USING DEEP LEARNING</b>
                                            </h3>
                                            <p></p>
                                            <p>This is a python project which will enable us to detect the drowsiness of
                                                the driver while he/she is driving a vehicle.
                                            </p>
                                            <a href="https://docs.google.com/document/d/1i7Sb-t3r1fJT4QHuf1qG2K5WlJAaVJBs_0sfrqYWVTY/edit?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Arshad Shikalgar: 7385957212
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="garage">
                        <h2>Garage</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Machine Learning for Classifying Mechanical Properties</b></h3>
                                            <p></p>
                                            <p>To impart knowledge by covering basic concepts of Data Science & Machine
                                                Learning including several algorithms and tools to use for building
                                                models and a hands-on project related to Machine Learning in the field
                                                of Mechanical Engineering & Materials Science. This course covers the
                                                implementation of various algorithms along with examples during
                                                sessions. The coverage includes an explanation of the algorithm and
                                                implementation using the Scikit-learn library in Python.
                                            </p>
                                            <a href="https://docs.google.com/document/d/1LSfPDPpi51R8Q3BCWGlOLO5P0oYD-M-oEgPuz6fqvQc/edit?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Dhruv Jha – dhruvjha.191me128@nitk.edu.in -
                                                8073503626
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Design and Analysis of Aircraft Wing</b></h3>
                                            <p></p>
                                            <p>With Fusion 360 surfaces and 3D design and ANSYS structure and fluid in
                                                use, This is the three-week course that gives detailed knowledge
                                                regarding solid and Surface modeling, including all basic designing like
                                                sketching basic shapes, 3D objects to complex surfaces. We aim to
                                                provide detailed mentoring and make students motivated to take the CFD
                                                analysis and design field. Details regarding various concepts and
                                                assignments will be provided for the practice.

                                            </p>
                                            <a href="https://drive.google.com/file/d/1wwnjNfdBjYVymQjaOOOKACMUOa26gBF-/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Prasad G Maladkar:
                                                +918971736975
                                                prasadgmaladkar.191me159@nitk.edu.in
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Race Car Dynamics</b></h3>
                                            <p></p>
                                            <p>This SMP will be dealing with basics of a race car. It will be focussing
                                                majorly on vehicle dynamics and aerodynamics with a small introduction
                                                to powertrain. We'll also be using various softwares to demonstrate
                                                design of some of the components of a race car.
                                            </p>
                                            <a href="https://drive.google.com/file/d/1Xxk1BVLJTlci22ZjJN3qjptBLg1tlsQX/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Jharana Awasthi-
                                                8454097202
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Additive Manufacturing using Fusion 360</b></h3>
                                            <p></p>
                                            <p> Understanding the basics of Additive Manufacturing and modelling the
                                                products using Fusion 360
                                            </p>
                                            <a href="https://docs.google.com/document/d/1wQXKLbTCJXmEOIoiTGLLRJW-2HsIvX68ziQVaj9NLqs/edit?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Akash Anand Bhurke-
                                                93597 24495
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Battery Tech</b></h3>
                                            <p></p>
                                            <p>A complete overview of electrochemistry, battery terminologies,
                                                mathematical modelling, battery management system, thermal management,
                                                lithium-ion battery systems, chemistry, modelling, and management
                                                systems & cooling. Further we will also concentrate on solid state
                                                batteries, graphene and hydrogen battery systems.
                                            </p>
                                            <a href="https://docs.google.com/document/d/1HwxVOi-Vzpgmp8tKFavNp-0NOUgkaSsOHuEWIPbkTP4/edit?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Karpaga Vidhya Lakshmi J: 7406552295
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="robotics">
                        <h2>Robotics</h2>
                        <section class="probootstrap-section">

                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Robot Modelling with Fusion 360</b>
                                            </h3>
                                            <p></p>
                                            <p>In this course we aim to give a detailed knowledge regarding solid
                                                modelling including all basic designing like sketching basic shapes to
                                                basic 3D objects through tutorials and assignments.
                                            </p>
                                            <a href="https://drive.google.com/file/d/13XMI4cYKKCsZd3o2ih3g2jrtzIcexXDJ/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b>Rajveer Singh: 7424959585
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Motion Planning Algorithms Using Python</b>
                                            </h3>
                                            <p></p>
                                            <p>After developing a strong base for python, students will be taught the
                                                concepts necessary for various motion planning algorithms (Dijkstra and
                                                A*), namely using Matrix Method and Adjacency Lists. After this, they
                                                will be taught how to implement these algorithms on an actual map as a
                                                project. We also aim to introduce them to the various nuances present in
                                                the field of robotic kinematics
                                            </p>
                                            <a href="https://drive.google.com/file/d/1L2OCia0MFuJ9xSgyCTZJmeLIFXiYYqVZ/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Rahul Chaturvedi: 7678483899
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Pedestrian Counting & Social Distancing using Object detection and
                                                    tracking</b>
                                            </h3>
                                            <p></p>
                                            <p>This SMP introduces students to machine learning and object detection in
                                                a more practical manner which would also include introduction to Git and
                                                Github, Tensorflow and more. The sessions will briefly cover topics in
                                                regression, neural networks, deep learning and object detection. The
                                                guided project in the advanced track will focus on applying object
                                                detection to a real-time scenario using Tensorflow and YOLO.
                                            </p>
                                            <a href="https://drive.google.com/file/d/1QdwW8Qz6JIAmGsBeCmPThVhZeuR0gNoH/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b>Sharvani Somayaji: 6364208375
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </section>
                    </div>

                    <!-- <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="media">
                            <h2>Media</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3>Basic Photoshop and Premiere pro</h3>
                                                <p>Photoshop is the biggest name in image editing and so is premiere pro
                                                    in video editing, but it has a reputation as a complicated and
                                                    difficult app to use. While it’s certainly feature packed, it’s
                                                    nowhere near as difficult to get the hang of as it first appears.
                                                    Let’s look at how to learn Photoshop and Premiere pro this
                                                    summer.</p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1ifnI3F9Z69BsRDV7p9ikmVTzMgp-kY5I"
                                                        target="_blank">
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Aditya S G : 8826950512 / adityasg3@gmail.com

                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div> -->

                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="capital">
                        <h2>Capital</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Corporate Finance Analysis</b></h3>
                                            <p>To obtain a good grasp of knowledge of the financial corporate world and
                                                to create awareness about how the world
                                                operates in the eyes of Finance.</p>
                                            <a href="https://drive.google.com/file/d/1t-rxFVzFoMzABXhhun5ImxFtV8wtfS6T/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Nitesh Bhat: 9606697700
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Data Analysis on COVID-19 with Python</b></h3>
                                            <p>use python libraries to analyze and interpret covid 19 data</p>
                                            <a href="https://docs.google.com/document/d/1DiHFnTxSjPrwui5INRB81BYxyxCfPMTrPF19hSZ126o/edit?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Hariharan: 9880836613
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Introduction to Capital Markets</b></h3>
                                            <p>This SMP will take students through the basics of stock investment using
                                                various details like technical indicators,
                                                learning charts and balance sheets. </p>
                                            <a href="https://drive.google.com/file/d/13oFE_kLSipaa_sDMg4aJlk6c297jTh4m/view?usp=drivesdk" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Jharana Awasthi: 8454097202
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </section>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="script">
                        <h2>Script</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">
                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>The Subtle Art of Creativity</b></h3>
                                            <p>The purpose of this SMP is to bring out the creative side of the students
                                                and make them indulge in a relaxing learning experience,enabling them to
                                                collect their thoughts in a more comprehensive and clear manner,at the
                                                same time enabling them to pen these thoughts down .
                                                From movies to anime and reviews to journals,idea-maps and alternate
                                                endings.Join us in giving this SMP
                                                the twists and endings you’ve always craved for.
                                            </p>
                                            <a href="https://tinyurl.com/Art-Of-Creative-Writing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Sahil Akhtar: 9005203044,
                                                mohdsahilakhtar.191mn021@nitk.edu.in
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Academic Writing for Dummies </b></h3>
                                            <p>One must-have skill of every academic discipline is to be able to
                                                communicate effectively in writing. This SMP gives you an insight into
                                                the various aspects that will make your professional and academic
                                                writing stand out. This SMP will teach you to structure your test,
                                                improvise your style and write credibly.
                                            </p>
                                            <a href="https://tinyurl.com/Academic-Writing-For-Dummies" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Sree Harsha Thota: 9493949798,
                                                thotasreeharsha.191cs258@nitk.edu.in

                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </section>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="tectonic">
                        <h2>Tectonic</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Architecture Essentials (AutoCad and Revit) </b></h3>
                                            <p>The objective of this course is to teach users the basic commands and
                                                tools necessary for 2D and 3D drawing, design and drafting using AutoCAD
                                                and Revit.
                                            </p>
                                            <a href="https://docs.google.com/document/d/1ci7uHzlQFve34nIFsZcZgpnS_emCaz5v8waP8NIBNWw/edit?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Kushagra Katiyar: +917310870548,
                                                kushagrakatiyar.191cv131@nitk.edu.in
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>QUANTarc - Mapping The World with QGIS </b></h3>
                                            <p>Learning foundational concepts of Geographic Information System (GIS) and
                                                geospatial technology to view, understand and visualize geospatial data.
                                                QUANTarc helps you build solutions to the real world problems.
                                            </p>
                                            <a href="https://tinyurl.com/QUANTarc-QGIS-workshop" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Shreya Lingareddy: 9951616622,
                                                kushagrakatiyar.191cv131@nitk.edu.in
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(".team").addClass("active");
    var tabcontent = document.getElementsByClassName('teams');
    for (i = 1; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    function navigate(signame) {
        var tabcontent = document.getElementsByClassName('teams');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(signame).style.display = "block";
        $("." + signame).addClass("active");
    }
</script>
{% endblock %}