{% extends "base.html" %}
{% block smp %}active{% endblock %}
{% block main %}


    <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left section-heading probootstrap-animate">
                    <h1>Summer Mentorship Programme 2020</h1>
                    <!-- <p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTTi8gRz22ls6MPyiG3qVczV09MaEMQHajrx8WDY_e7_DZ4A/viewform?embedded=true"
                           class="btn btn-primary" target="_blank">Register Now!</a>
                    </p> -->
                </div>
            </div>
        </div>
    </section>



    <section class="probootstrap-section probootstrap-section-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row probootstrap-gutter0">
                        <div class="col-md-4" id="probootstrap-sidebar">
                            <div class="probootstrap-sidebar-inner probootstrap-overlap probootstrap-animate">
                                <h3></h3>
                                <ul class="probootstrap-side-menu">
                                    <li class="tablinks active core"><a onclick="return navigate('smp-home')">Home</a>
                                    </li>
                                    <li class="tablinks code"><a onclick="return navigate('code')">Code</a></li>
                                    <li class="tablinks gadget"><a onclick="return navigate('gadget')">Gadget</a></li>
                                    <li class="tablinks garage"><a onclick="return navigate('garage')">Garage</a></li>
                                    <li class="tablinks robotics"><a onclick="return navigate('robotics')">Robotics</a>
                                    <!-- <li class="tablinks media"><a onclick="return navigate('media')">Media</a> -->
                                    <li class="tablinks capital"><a onclick="return navigate('capital')">Capital</a>
                                    <li class="tablinks script"><a onclick="return navigate('script')">Script</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="smp-home">
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">
                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 220px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h6><b>“Engineering” means “making things happen”.<br><br>
                                                    <i>Projects we have completed demonstrate what we know <br>
                                                        future projects decide what we learn.</i>
                                                    <br>
                                                    <br>

                                                    </h6>
                                                <p>
                                                    <a class="typeform-share button" href="https://ie-smp.typeform.com/to/UUQLxD" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#57C0AB;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="5" target="_blank">Register here </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="code">
                            <h2>Code</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Competitive Programming</b></h3>
                                                <p></p>
                                                <p>A basic course series relevant to Competitive Programming that aims to give you the motivation and in-depth knowledge of tools to solve the most complex problems in most efficient ways.
                                                </p>
                                                <p><b>Detailed Course Plan:</b> <a
                                                        href="https://drive.google.com/open?id=1SeEBdOjyeDBBOvwIpGPhDiHDfTNj1d5M"
                                                        target="_blank">Competitive Programming</a></p>
                                                <p><b>Contact:</b> Paranjaya Saxena: 8840919002,
                                                    paranjayasaxena@gmail.com
                                                    </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Application Programming using Java and MySQL</b></h3>
                                                <p></p>
                                                <p>This course aims to impart the know-how of building interactive Java applications from scratch.
                                                    Mentees will get a grip on the basics of Java and MySQL, learn GUI programming,
                                                    connect to a database from within an application, and use the same to create visual 
                                                    applications which work.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1sXXLivofVsakHTy5XrxaoS4Z1Jg-EmyN"
                                                        target="_blank">Application Programming using Java and MySQL</a></p>
                                                <p><b>Contact:</b> Manas Trivedi: 8197112777,
                                                    manas.181co231@nitk.edu.in
                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Operating Systems</b></h3>
                                                <p></p>
                                                <p> The programme will cover the fundamental concepts and goals of operating systems and then explain how the design of contemporary operating systems achieves those goals.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=10D_zLWjh8Go-g-QAO12Udi9DCf0MLmUg"
                                                        target="_blank">Operating Systems</a></p>
                                                <p><b>Contact:</b> Dhanwin Rao: 9972327613,
                                                    dhanwinrao18@gmail.com  
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Machine Learning and Convolutional Neural Networks (CNN)</b></h3>
                                                <p></p>
                                                <p> Introducing different Machine Learning algorithms, Deep Learning, CNN(Convolutional neural networks) and their real-world usages.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1JKp3T30Wt0DyTkBlD1b29Z0uE8OepbAt"
                                                        target="_blank"> Machine Learning and Convolutional Neural Networks (CNN)</a></p>
                                                <p><b>Contact:</b> Chinmay Gupta: 6265245551,
                                                    chinmaygupta61@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Cryptography</b></h3>
                                                <p></p>
                                                <p>Basic cryptography concepts through cryptopals. Cryptopals is the online website that will be used.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1-P7zGf_-qlCiCkQeGp_881eWtild6qDBi3onETrbBN4"
                                                        target="_blank">
                                                    Cryptography</a></p>
                                                <p><b>Contact:</b> Shreesha Bharadwaj: 9740714752,
                                                    bharadwajshreesha@gmail.com    
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Web development using MEAN stack</b></h3>
                                                <p></p>
                                                <p> MEAN is a fullstack javascript framework used for building dynamic websites and web applications.This mentorship program is designed for software programmers who want to learn the basics of MEANjs and its programming concepts in simple and easy ways,which will give you enough understanding on components of MEANjs with suitable examples..

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1FTk_o1yGsE2P3AFvbXf6OvEyrYYba2pR"
                                                        target="_blank"> Web development using MEAN stack</a></p>
                                                <p><b>Contact:</b> Shonali: 9483852115,
                                                    shonaliks.181it244@nitk.edu.in
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div>
                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="gadget">
                            <h2>Gadget</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Audio processing and feature extraction using Python</b>
                                                </h3>
                                                <p></p>
                                                <p>In this SMP we will start with a basic introduction to Python programming. We will then go over
                                                    audio and signal processing techniques required to manipulate audio signals. We will then cover
                                                    some important audio processing algorithms used in Machine Learning. The mini project will
                                                    help implement the topics covered in this SMP.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1rCHw5L-eh3DxIyxt6_T23icn5hNQEVFN"
                                                        target="_blank">
                                                        Audio processing
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Rohan Jijju - 7594854100 - rohanjijju@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Foundations of Machine Learning</b>
                                                </h3>
                                                <p></p>
                                                <p> The students will be taught concepts in Linear Algebra and basic Probability Theory in order for
                                                    them to be able to implement them and be able to learn the basics of Machine Learning with
                                                    ease. They will be introduced to the various terms and basics of Machine Learning such as
                                                    Activation Functions, Regression, supervised and unsupervised learning, cost functions etc. They
                                                    will also be making an Iris Classifier as the capstone project for the course.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1gov-3EwLUQicxOh3Haou0rliNfn6bYD9"
                                                        target="_blank">
                                                        Foundations of Machine Learning
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Atreya Majumdar-9008430111,atreyamaj@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Design of Digital Systems</b>
                                                </h3>
                                                <p></p>
                                                <p> This SMP will cover topics in digital electronics including Number System, Combinational
                                                    circuits, Sequential circuit, Design of digital circuits using Finite State Machines (FSM)

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1v4LZh-cr4RiCeUvISxM0fxx5W5zKL7Iz"
                                                        target="_blank">
                                                        Digital Systems Course Plan</a></p>
                                                <p><b>Contact:</b> P Sriram Saran -7997897978, psriramsaran@gmail.com                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>FOUNDATION OF INTEGRATED CIRCUITS</b>
                                                </h3>
                                                <p></p>
                                                <p>We are going to teach them semiconductors, transistors, MOSFETs and help them in developing
                                                    interest in Analog Electronics. We will also make them familiar with ltspice.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1lvm7uEC05IOB9nXsv8UcKwdd1RySTcUQ"
                                                        target="_blank">
                                                        INTEGRATED CIRCUITS Course Plan</a></p>
                                                <p><b>Contact:</b> HARSHITHA S -
                                                    harshithasridhar172000@gmail.com,
                                                    8660849494
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Introduction to MATLAB Programming and Simulink</b>
                                                </h3>
                                                <p></p>
                                                <p>MATLAB is one of the most popular fourth-generation programming languages in the
                                                    world. It is one of the best numerical analysis environment. MATLAB is also the most
                                                    powerful and high-performance language that is used in technical computing. It is
                                                    built to solve the problems which use mathematics notations.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1FYsqhwYnQBqU8Dufz-6ziDHviAj0hvcK"
                                                        target="_blank">
                                                        MATLAB Course Plan</a></p>
                                                <p><b>Contact:</b> DIVYANSH BANSAL-
                                                    7568778177,
                                                    divyanshbansal0612@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                 


                                </div>
                            </section>
                        </div>

                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="garage">
                            <h2>Garage</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Architectural Modelling Using Blender</b></h3>
                                                <p></p>
                                                <p>Blender is a free and open-source 3D computer graphics software toolset used for various
                                                    purposes like 3D Modelling, Animation, etc. This course will help students to gain knowledge
                                                    about the software and how it is used in field of Architecture Modelling and 3D Modelling. This
                                                    Modelling can later be used for various purposes like Animation, Game Designing, etc.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1GRRryk7MDIZd6fpvMWs2daGs9IHDNNZh"
                                                        target="_blank">
                                                    Architectural Modelling SMP
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> VAIBHAV SAHAI – vaibhavsahai.181cv151@nitk.edu.in - 8050829050<br>
                                                    G K RAMYASHREE - ramyashreegk.nitk22@gmail.com - 9380031676
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>DESIGN SIMULATE ANALYZE
                                                    With CATIA and ANSYS</b></h3>
                                                <p></p>
                                                <p>CATIA is the World's Leading Solution for Product Design and Experience. It is used by leading
                                                organizations in multiple industries to develop the products we see and use in our everyday
                                                lives. This course will be an introduction to it. On the other side Ansys is mostly for evaluating
                                                the modes built. It can help us visualize the designs, engineering models and know the
                                                endurance of it. So, this will be complete package.


                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1kcI8e9zogfJ4gJG_XEZN9XtFYpQUD1V_"
                                                        target="_blank">
                                                        CATIA and ANSYS SMP
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> H.K. Sumanth Bharadwaj -
                                                    9100494122,
                                                    bharadwajhk.181me227@nitk.edu.in,
                                                    sumanth007hk@gmail.com

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Introduction to Computational Fluid Dynamics

                                                    Using MATLAB/Python</b></h3>
                                                <p></p>
                                                <p>Computational fluid dynamics (CFD) is the rapidly evolving science of numerically solving the
                                                    equations of fluid motion to produce quantitative predictions and/or analyses of fluid flow
                                                    phenomena. When used appropriately, CFD is often ideal for parametric studies or flow-physics
                                                    investigations that would otherwise be impractical or impossible via entirely theoretical or
                                                    experimental efforts. So, over the next few weeks we will explore different phenomenon using
                                                    programming Languages such as MATLAB/Python.


                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1s1B8A3mOwtqLuHZX0IcDbn96LxOs12Xe"
                                                        target="_blank">
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> H.K. Sumanth Bharadwaj-
                                                    9100494122,
                                                    bharadwajhk.181me227@nitk.edu.in,
                                                    sumanth007hk@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Climate Change, Renewable Energy and Pollution Management</b></h3>
                                                <p></p>
                                                <p> Climate change is one of the most challenging and debated topics of the 21st century. The
                                                    concerns regarding global carbon dioxide, SOx, NOx and other greenhouse gas emissions and
                                                    the impact that this has on the periodic climate patterns that exist is proving to be a great
                                                    threat to continued sustenance of the human kind. Renewable energy production is free of
                                                    these harmful emissions and is hence a promising solution to climate change. Solar energy and
                                                    wind energy are already in heavy use in European countries and most other countries plan to
                                                    follow the same path very soon.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=11HU9GPAIX_HfozL0z19uqqBrgtYO1dwj"
                                                        target="_blank">
                                                        Climate Change, Renewable Energy and Pollution Management</a></p>
                                                <p><b>Contact:</b> Nihal Mohamed Naeem-
                                                     8606521486,
                                                    nihalnaeem@gmail.com


                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Engineers dealing with Disasters </b></h3>
                                                <p></p>
                                                <p>Disaster management plans are multi-layered and are planned to address issues such as floods,
                                                    hurricanes, fires, mass failure of utilities, the rapid spread of disease and droughts. Post-disaster
                                                    development cannot be sustained unless mitigation is built into the development process. The
                                                    purpose is to make students better equipped with knowledge regarding disasters and how to not
                                                    let disasters happen in their engineering field(disasters caused by engineers).

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1PAMp2qPYVSEvw7wj0XpM7Rs3yRnVMqKu"
                                                        target="_blank">
                                                        Dealing with Disasters Course Plan</a></p>
                                                <p><b>Contact:</b> Sudeepthi Nalla- 8179306692- sudeepthinallareddy@gmail.com


                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Introduction to COMSOL Multiphysics </b></h3>
                                                <p></p>
                                                <p>You will learn the basics of COMSOL Multiphysics like modeling, mesh building and different
                                                    types of simulations.
                                                    Purpose is to get familiar enough so as to use this software for your future projects.

                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1CQY8qNILjA_SL4Qs6g9qgWz0GPgkJBby"
                                                        target="_blank">
                                                        COMSOL Multiphysics Course Plan</a></p>
                                                <p><b>Contact:</b> Kaustubh Sonawane - 7972267795 - kaustubhpsonawane@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    


                                </div>
                            </section>
                        </div>
                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="robotics">
                            <h2>Robotics</h2>
                            <section class="probootstrap-section">

                                <div class="container" style="width: 100%;">
                                    
                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Robotics with Robot Operating System (ROS)</b>
                                                </h3>
                                                <p></p>
                                                <p>Knowledge of ROS robotics is a basic requirement for any robotics enthusiast willing to pursue a career in Robotics. Even if you're a hobbyist, ROS offers a wide range of options for integration with existing libraries and hardware. Despite its popularity worldwide, the thirst for using ROS hasn’t gained much traction in the NITK fraternity. With this SMP, we wish to offer an easy to understand and practical insight into ROS robotics and make you realise the potential of the framework!
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1duALiBb6_GiojOvD_JtYTqJBvJOmcwK-"
                                                        target="_blank">
                                                        Robotics with Robot Operating System (ROS)</a></p>
                                                <p><b>Contact:</b> Adarsh Malapaka: 9962790608,
                                                    adarshmalapaka98@gmail.com                         
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Introduction to Computer Vision</b>
                                                </h3>
                                                <p></p>
                                                <p>There exist a camera in every robotics project. But how is information from camera passed to the microprocessors? The answer: Computer Vision.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1XOpj23qMPTwUMgpl85xH0xpCYiN0CXi0"
                                                        target="_blank">
                                                        Introduction to Computer Vision</a></p>
                                                <p><b>Contact:</b> Yogesh: 9538188221, 
                                                    yovikas1730@gmail.com                                                                     
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Introduction to Solidworks</b>
                                                </h3>
                                                <p></p>
                                                <p>Modelling is an important trait and most engineers should know this. So we bring an SMP on Solidworks,
                                                    one of the better softwares with an easier user interface
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=14bPOsEs-COTPJeOtm2rhswDjTkEz0pmt"
                                                        target="_blank">
                                                        Course Plan</a></p>
                                                <p><b>Contact:</b> Nikhilesh Singh - 8451827458 , nikhilesh2001@gmail.com                                                                  
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Motion planning using Python Robotics</b>
                                                </h3>
                                                <p></p>
                                                <p> Implementation of robotics motion planning algorithms using Python
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=14KCSqeCD3VrU6CpbMYjgvtxhTPVnhqKb"
                                                        target="_blank">
                                                        Motion planning using Python Robotics</a></p>
                                                <p><b>Contact:</b> Karn Tiwari: 9611836736, 
                                                    karntiwari3003@gmail.com                                                                     
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div>

                        <!-- <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="media">
                            <h2>Media</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3>Basic Photoshop and Premiere pro</h3>
                                                <p>Photoshop is the biggest name in image editing and so is premiere pro
                                                    in video editing, but it has a reputation as a complicated and
                                                    difficult app to use. While it’s certainly feature packed, it’s
                                                    nowhere near as difficult to get the hang of as it first appears.
                                                    Let’s look at how to learn Photoshop and Premiere pro this
                                                    summer.</p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1ifnI3F9Z69BsRDV7p9ikmVTzMgp-kY5I"
                                                        target="_blank">
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Aditya S G : 8826950512 / adityasg3@gmail.com

                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div> -->

                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="capital">
                            <h2>Capital</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Data analysis using excel</b></h3>
                                                <p>Microsoft Excel is one of the top tools for data analysis and the built-in pivot tables are arguably the most popular analytic tool. In this course, you will learn how to perform data analysis using Excel's most popular features.</p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1sUZwyc9VIX3wdSlVZnxAoJc5dxijBq8g"
                                                        target="_blank">
                                                        Data analysis using excel</a></p>
                                                <p><b>Contact:</b> Rachana E: 7760646399,
                                                    rachanaellur1@gmail.com                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Financial markets</b></h3>
                                                <p>A course on financial markets- Equity, FX , Interest Rate as well as their respective derivative markets (Futures and Options). You'll be analysing these different financial instruments as well as the factors that affect their movement.</p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1TrKswxZIfNU_GqzZGvg8Ni5hUZxZVg_K"
                                                        target="_blank">
                                                        Financial markets</a></p>
                                                <p><b>Contact:</b> Zuhayr Shariff: 8197460905,
                                                     zuhayrmohammed722000@gmail.com                                                                                                   
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Marketing</b></h3>
                                                <p>The importance of marketing. The difference between Good and bad marketing </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1v1Wc-9RngWQYg8YtabasxwVNUYUVkgAK"
                                                        target="_blank">
                                                        Marketing</a></p>
                                                <p><b>Contact:</b> Sriniketh Venkat Gautam: 9731430777,
                                                    sriniketh.gautam@gmail.com
                                                    </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Entrepreneurship</b></h3>
                                                <p>Entrepreneurship has been described as the "capacity and willingness to develop, organize and manage a business venture along with any of its risks to make a profit."</p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1usyLeKvP4qub3ahjkjnUxobLbURS0siv"
                                                        target="_blank">
                                                        Entrepreneurship</a></p>
                                                <p><b>Contact:</b> Ansar B Nadaf: 6363074088,
                                                    ansarnadaf5@gmail.com
                                                                                                                                                  
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div>
                        <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="script">
                            <h2>Script</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Shakespeare Literature</b></h3>
                                                <p>William Shakespeare was an English poet, playwright, and actor, widely regarded as the greatest writer in the English language and the world's greatest dramatist. His plays are considered evergreen but extremely difficult to understand. Join us as we guide you through some of his best works to help you strike them off your bucket list.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=12yQMwSmAslL55QTJ5o5OcTapzA5GVJBw"
                                                        target="_blank">
                                                        Shakespeare Literature</a></p>
                                                <p><b>Contact:</b> Sudeepthi Nalla: 8179306692,
                                                    sudeepthinallareddy@gmail.com                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3><b>Creative writing</b></h3>
                                                <p>Creative writing can be described as an intricate art which many practice but only a few have mastered. It is a voluminous field to delve in, much like an ocean. It may seem daunting at first, however only once we start riding its waves do we realize the joy of having one of our own writings come to life through the pen-strokes of our imagination. Join us in the Creative Writing SMP to learn how to get started and inch closer to true proficiency in this art.
                                                </p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1Ov5qo8B6plGRIrz_jq5j9-7iNdkx8zWZ"
                                                        target="_blank">
                                                        Creative writing</a></p>
                                                <p><b>Contact:</b> RVS Vineetha: 9381183950, 
                                                    Vineetha.nasa@gmail.com
                                                                                                  
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(".team").addClass("active");
        var tabcontent = document.getElementsByClassName('teams');
        for (i = 1; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        function navigate(signame) {
            var tabcontent = document.getElementsByClassName('teams');
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(signame).style.display = "block";
            $("." + signame).addClass("active");
        }
    </script>
{% endblock %}
