{% extends "base.html" %}
{% block smp %}active{% endblock %}
{% block main %}


<section class="probootstrap-section probootstrap-section-colored">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
                <h1>Summer Mentorship Programme 2022</h1>
                <!-- <p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTTi8gRz22ls6MPyiG3qVczV09MaEMQHajrx8WDY_e7_DZ4A/viewform?embedded=true"
                           class="btn btn-primary" target="_blank">Register Now!</a>
                    </p> -->
            </div>
        </div>
    </div>
</section>



<section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row probootstrap-gutter0">
                    <div class="col-md-4" id="probootstrap-sidebar">
                        <div class="probootstrap-sidebar-inner probootstrap-overlap probootstrap-animate">
                            <h3></h3>
                            <ul class="probootstrap-side-menu">
                                <li class="tablinks active core"><a onclick="navigate('smp-home')">Home</a>
                                </li>
                                <li class="tablinks code"><a onclick="navigate('code')">Code</a></li>
                                <li class="tablinks gadget"><a onclick="navigate('gadget')">Gadget</a></li>
                                <li class="tablinks garage"><a onclick="navigate('garage')">Garage</a></li>
                                <li class="tablinks robotics"><a onclick="navigate('robotics')">Robotics</a>
                                <li class="tablinks capital"><a onclick="navigate('capital')">Capital</a>
                                <li class="tablinks script"><a onclick="navigate('script')">Script</a>
                                <li class="tablinks tectonic"><a onclick="navigate('tectonic')">Tectonic</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="smp-home">
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">
                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 220px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h6><b>“Engineering” means “making things happen”.<br><br>
                                                    <i>Projects we have completed demonstrate what we know <br>
                                                        future projects decide what we learn.</i>
                                                    <br>
                                                    <br>

                                            </h6>
                                            <p>
                                                <a class="typeform-share button"
                                                    href="https://forms.gle/5Gd5bcqKeYjXUiAD7" data-mode="popup"
                                                    style="display:inline-block;text-decoration:none;background-color:#57C0AB;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
                                                    data-submit-close-delay="5" target="_blank">Register here </a>
                                                <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="code">
                        <h2>Code</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Competitive Programming SMP</b></h3>
                                            <p></p>
                                            <p>CP SMP is aimed to teach you all the necessary basic and advanced topics
                                                to handle and solve problems comfortably
                                            </p>

                                            <a href="https://drive.google.com/open?id=1Z0-pF7bVMASe6Ww9RCBZ8ld8rzW4f9hY"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Nithin GS: 7337752406
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Graphs SMP</b></h3>
                                            <p></p>
                                            <p>Master the Nuts and Bolts of Graph Theory: the Heart of Communication and
                                                Transportation Networks, Internet, GPS, and so on. Get a strong grasp on
                                                all fundamental Graph Concepts and Algorithms asked extensively in many
                                                IT Interviews and CP contests

                                            </p>
                                            <a href="https://drive.google.com/open?id=1OS50FKkUptM9_6Lqfg3PRcWk0Cq7L6Oq"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b>Dibyam: 8800194810

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Operating Systems SMP</b></h3>
                                            <p></p>
                                            <p> Dive deep into OS concepts and learn to debug and manage file systems.

                                            </p>
                                            <a href="https://drive.google.com/open?id=1CuD6w-FWq5iHcm3dq_bkeo4v8hnJyYDg"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> R Shreya : 7619644642

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Web Development SMP</b></h3>
                                            <p></p>
                                            <p> An guide on getting started with web development
                                            </p>
                                            <a href="https://drive.google.com/open?id=1pYbbvJ_Zh25i7DAJ2HYdCfgRsWS101E7"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Aakash: 8660690331
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Machine Learning SMP</b></h3>
                                            <p></p>
                                            <p>A sneak peek into one of the most intriguing and developing fields, an
                                                opportunity to learn about machine learning right from the basics to the
                                                different models that drives technology today.
                                            </p>
                                            <a href="https://drive.google.com/open?id=1_9eHXFbapojh6yaM6QVFB0N3V8QTq1Df"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Adarsh Jaju: 8971928213
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="gadget">
                        <h2>Gadget</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Analog Systems and Design of Power Converters</b>
                                            </h3>
                                            <p></p>
                                            <p>To learn how analog systems work and to learn the basics of power
                                                converters and their applications.
                                            </p>
                                            <a href="https://drive.google.com/file/d/1RB5Qj1WPGUyzvekMnv0Sp5BRbqOZpkui/view?usp=sharing"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Samiran - 9769617508
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Digital circuits</b>
                                            </h3>
                                            <p></p>
                                            <p> To understand and to implement concepts of digital electronics
                                            </p>
                                            <a href="https://docs.google.com/document/d/1-2ihkI3UhWn_d1AJGe_o0YCvqbcfj_Fa4F8GyESsguE/edit?usp=sharing"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Shashank - 9632870934
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Foundations of ML</b>
                                            </h3>
                                            <p></p>
                                            <p>Into the world of machine learning
                                            </p>
                                            <a href="https://drive.google.com/file/d/1AY9kdoYFWSD-zHKLoX8z6X2I2IG5-fAd/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Sourabh - 8904217014 </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>

                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="garage">
                        <h2>Garage</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>FUSION 360</b></h3>
                                            <p></p>
                                            <p>New to 3-D designs?
                                                In this SMP, We will show you how to create a part from start to finish
                                                and cover all the important aspects of 3D modelling on Fusion 360

                                            </p>
                                            <a href="https://drive.google.com/drive/folders/1yqiaC71gnG3LoktOHqVWIYtmJIvvb64s?usp=sharing"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Saurabh - 9044346358
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Aerodynamics of Airplanes</b></h3>
                                            <p></p>
                                            <p>Have you ever looked at a flying aeroplane and wondered, how such a huge
                                                plane able fly in the air?
                                                Worry not,for we from IE Garage bring to you a SMP on aerodynamics of
                                                airplane.


                                            </p>
                                            <a href="https://drive.google.com/file/d/1wwnjNfdBjYVymQjaOOOKACMUOa26gBF-/view?usp=sharing"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Karan - 7775911077
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="robotics">
                        <h2>Robotics</h2>
                        <section class="probootstrap-section">

                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Robot Operating System (ROS)</b>
                                            </h3>
                                            <p></p>
                                            <p>
                                            </p>
                                            <a href="https://drive.google.com/drive/folders/1FRLD0g1lz6X2roWrGzbli3ItoWaQwadj"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>ML- Housing price predictor</b>
                                            </h3>
                                            <p></p>
                                            <p>
                                            </p>
                                            <a href="https://drive.google.com/drive/folders/1-uTo_RDfSFevx8ldbyOn4pGC6al29iJA?usp=sharing"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </section>
                    </div>

                    <!-- <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="media">
                            <h2>Media</h2>
                            <section class="probootstrap-section">
                                <div class="container" style="width: 100%;">

                                    <div class="col-sm-12">
                                        <div class="probootstrap-teacher text-center probootstrap-animate"
                                             style="min-height: 170px">
                                            <div class="text" style="word-wrap: break-word;">
                                                <h3>Basic Photoshop and Premiere pro</h3>
                                                <p>Photoshop is the biggest name in image editing and so is premiere pro
                                                    in video editing, but it has a reputation as a complicated and
                                                    difficult app to use. While it’s certainly feature packed, it’s
                                                    nowhere near as difficult to get the hang of as it first appears.
                                                    Let’s look at how to learn Photoshop and Premiere pro this
                                                    summer.</p>
                                                <p><b>Detailed Course Plan:</b><a
                                                        href="https://drive.google.com/open?id=1ifnI3F9Z69BsRDV7p9ikmVTzMgp-kY5I"
                                                        target="_blank">
                                                    Course Plan</a></p>
                                                <p><b>Contact:</b> Aditya S G : 8826950512 / adityasg3@gmail.com

                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                        </div> -->

                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="capital">
                        <h2>Capital</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Financial Analysis using Excel</b></h3>
                                            <p>Intrigued by Data Analysis and Excel Macros? Fret not as this SMP will
                                                transform you into an excel geek and empower you to analyze financial
                                                data and predict stock price movements.</p>
                                            <a href="https://drive.google.com/file/d/1Zq7DnjDcGGPn_qXtN3nG9wP0ZF9bmyBv/view?usp=sharing"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Shlok Bhosale: 9619603665
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Macroeconomics</b></h3>
                                            <p>Ever wondered how monetary policies and geopolitics affect global
                                                economy, what is GDP, inflation, interest rates and how are they
                                                interrelated ?Join us to dive into the world of macroeconomics</p>
                                            <a href="https://drive.google.com/file/d/1cfbFZilmFvQA-8i1rSvPz00HSdNSV-hS/view?usp=sharing"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Gagan Jain: 9480973934
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Money in Media</b></h3>
                                            <p>Wanna know how movies on OTT platforms decide their budget? and how do
                                                they profit? join this SMP to find out! </p>
                                            <a href="https://drive.google.com/file/d/1aB3JGkfieviQnj0EsEkozRn2dPv0xjJZ/view?usp=sharing"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Meetali Srivastava : 9972118232
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </section>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="script">
                        <h2>Script</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">
                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>éloquence</b></h3>
                                            <p>Explore and express yourselves better as you begin to speak your ideas and pen down your tales more intriguingly.
                                            </p>
                                            <a href="https://drive.google.com/file/d/1ElqAXyn87n8Efo1-r6TZ99iiaKfX_X1B/view?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Uthiksha Sridhar : 8310623514,
                                                uthiksha@gmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>creative critique </b></h3>
                                            <p>learn what make blockbusters and shows soo successful
                                            </p>
                                            <a href="https://docs.google.com/document/d/1xGHB4-Pjkkjc87CRUb2jbUV5RrWrM8r5I2wNQOYmv1g/edit?usp=sharing" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Shashank : 9632870934,

                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </section>
                    </div>
                    <div class="col-md-7 col-md-push-1 probootstrap-animate teams" id="tectonic">
                        <h2>Tectonic</h2>
                        <section class="probootstrap-section">
                            <div class="container" style="width: 100%;">

                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>Revit 3D Architecture  </b></h3>
                                            <p>Wanna learn something more advanced than Autocad?
                                                Let's take a ride with Rivet software and explore how a floor plan is converted to a 3D building model.
                                            </p>
                                            <a href="https://docs.google.com/document/d/1Y62I_h_Rf8tRtECoBFc7QmqF_2Mjhyn2TsAisqHGBtk/edit?usp=sharing"
                                                target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Bhumika GS: 76761 84468
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="probootstrap-teacher text-center probootstrap-animate"
                                        style="min-height: 170px">
                                        <div class="text" style="word-wrap: break-word;">
                                            <h3><b>PTV Vissum: Traffic Simulation </b></h3>
                                            <p>Is there a way to get rid of traffic and plan a better traffic design.Join PTV VISSUM to learn about Traffic Modelling, Planning and Development of Traffic Networks.
                                            </p>
                                            <a href="https://docs.google.com/document/d/1sr7TxuZS5lR_anUpeGvis_08T5V4W2atuQsi7Nxk1hI/edit?usp=drivesdk" target="_blank">
                                                <button class="btn btn-primary">Detailed Course Plan</button>
                                            </a>
                                            <p><b>Contact:</b> Swathi:  6302 277 210
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(".team").addClass("active");
    var tabcontent = document.getElementsByClassName('teams');
    for (i = 1; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    function navigate(signame) {
        var tabcontent = document.getElementsByClassName('teams');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(signame).style.display = "block";
        $("." + signame).addClass("active");
    }
</script>
{% endblock %}
