{% extends "base.html" %}
{% load static %}
{% block main %}

      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>Special Interest Groups</h1>
            </div>
          </div>
        </div>
      </section>
      
      <section class="probootstrap-section">
        <div class="container">

          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/CodeSIG.png' %}" alt="Code"></figure>
                <div class="probootstrap-text" style="top:10%;">
                  <h3>Code</h3>
                  <div>High bandwidth Ultra Low Latency (HULL) extends the advantages of Data Center TCP
(DCTCP) and aims to provide lower latencies than DCTCP. DCTCP has been implemented in
ns-3 recently as a part of GSoC 2017. In this project, it is expected to extend the DCTCP
model in ns-3 to support HULL.</div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/GadgetSIG.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                <div class="probootstrap-text" style="top:10%;">
                  <h3>Gadget</h3>
                  <div>High bandwidth Ultra Low Latency (HULL) extends the advantages of Data Center TCP
(DCTCP) and aims to provide lower latencies than DCTCP. DCTCP has been implemented in
ns-3 recently as a part of GSoC 2017. In this project, it is expected to extend the DCTCP
model in ns-3 to support HULL.</div>
                </div>
              </a>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/GarageSIG.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                <div class="probootstrap-text" style="top:10%;">
                  <h3>Garage</h3>
                  <div>High bandwidth Ultra Low Latency (HULL) extends the advantages of Data Center TCP
(DCTCP) and aims to provide lower latencies than DCTCP. DCTCP has been implemented in
ns-3 recently as a part of GSoC 2017. In this project, it is expected to extend the DCTCP
model in ns-3 to support HULL.</div>
                </div>
              </a>
            </div>

            <div class="clearfix visible-md-block"></div>
            
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/booksig.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                <div class="probootstrap-text" style="top:10%;">
                  <h3>Script</h3>
                  <div>High bandwidth Ultra Low Latency (HULL) extends the advantages of Data Center TCP
(DCTCP) and aims to provide lower latencies than DCTCP. DCTCP has been implemented in
ns-3 recently as a part of GSoC 2017. In this project, it is expected to extend the DCTCP
model in ns-3 to support HULL.</div>
                </div>
              </a>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/VriddhiSIG.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                <div class="probootstrap-text" style="top:10%;">
                  <h3>Vriddhi</h3>
                  <div>High bandwidth Ultra Low Latency (HULL) extends the advantages of Data Center TCP
(DCTCP) and aims to provide lower latencies than DCTCP. DCTCP has been implemented in
ns-3 recently as a part of GSoC 2017. In this project, it is expected to extend the DCTCP
model in ns-3 to support HULL.</div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/robotics.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                <div class="probootstrap-text" style="top:10%;">
                  <h3>Robotics</h3>
                  <div>High bandwidth Ultra Low Latency (HULL) extends the advantages of Data Center TCP
(DCTCP) and aims to provide lower latencies than DCTCP. DCTCP has been implemented in
ns-3 recently as a part of GSoC 2017. In this project, it is expected to extend the DCTCP
model in ns-3 to support HULL.</div>
                </div>
              </a>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>

          </div>
        </div>
      </section>
      
      


    <!-- END wrapper -->
    {% endblock %}


    <script src="js/scripts.min.js"></script>
    <script src="js/main.min.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>