{% extends "base.html" %}
{% load static %}
{% block sig %}active{% endblock %}
{% block main %}

      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>Special Interest Groups</h1>
            </div>
          </div>
        </div>
      </section>
<style>
/* Your custom css code goes here */
h3{
  text-align: center;
  size: 50px;
  font-weight: bold;
}
.probootstrap-media{
  background-color: black;
  position: relative;
  border-radius: 50%;
  
}
.probootstrap-media img{
  width: 100%;
  height: 100%;
}
.probootstrap-text{
  position: relative;
  height: 400px;
  font-size: 1.2em;
}
.probootstrap-text{
    margin-top: 10%;
}

.probootstrap-media{
    border-radius: 50%;
    background-color: #0b0b0b
}

</style>
      
      <section class="probootstrap-section">
        <div class="container">

            <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
            <a href="#" class="probootstrap-featured-news-box" >
            <figure class="probootstrap-media"><img src="{% static 'img/CodeSIG.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
            <div class="probootstrap-text">
              <h3>Code</h3>
              <p>Our vision is to develop the average standard at NITK, to set standards higher for future batches, to help bring out the best in them.

 Code is a modest group of some of the most talented and overachieving students of NITK. We let our resumes do the talking.</p>
            </div>
            </a>
            </div>


            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
            <a href="#" class="probootstrap-featured-news-box" >
            <figure class="probootstrap-media"><img style="border-radius: 50%; background-color: #0b0b0b" src="{% static 'img/GadgetSIG.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
            <div class="probootstrap-text">
            <h3>Gadget</h3>
            <p>Find your Electronic labs boring and pointless? The Gadget family is a group of ‘heavily doped’ & motivated individuals who learn and propagate practical electronics by tinkering the various devices and circuits around us. In other words, the more the LEDs we burn, the more pleasure we derive.</p>
            </div>
            </a>
            </div>


            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/GarageSIG.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Garage</h3>
                  <p>IE Garage, is a group of, the top upcoming engineers in the core branches of engineering. Dedicated, hardworking, and sincere, we aim to solve common world problems using engineering methodology</p>
                </div>
              </a>
            </div>

            <div class="clearfix visible-md-block"></div>
            
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/booksig.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Script</h3>
                  <p>On literature appreciation, discussing the intricate and magical power of words. We also aim at making our own blog!</p>
                </div>
              </a>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/VriddhiSIG.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Vriddhi</h3>
                  <p>Our social initiative, which aims at small to large scale rural development programmes in collaboration with various NGO's.</p>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static 'img/robotics.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Robotics</h3>
                  <p>A culmination of all SIG's, we work on everything from Core Robotics, IoT, AI that makes life easier and futuristic.</p>
                </div>
              </a>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>

            <div class="col-md-offset-2 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6 col-xxs-offset-6 col-xxs-12 probootstrap-animate">
            <a href="#" class="probootstrap-featured-news-box" >
            <figure class="probootstrap-media"><img src="{% static 'img/capital.png' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
            <div class="probootstrap-text">
              <h3>Capital</h3>
              <p>Capital is the newest special interest group (SIG) of IE NITK. We direct our efforts in sensitizing the student community towards socially directed financial and economic solutions to real world problems</p>
            </div>
            </a>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
            <a href="#" class="probootstrap-featured-news-box" >
            <figure class="probootstrap-media"><img src="{% static 'img/media.webp' %}" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
            <div class="probootstrap-text">
              <h3>Media</h3>
              <p>The newly launched Media SIG ensures that our club events do not go unnoticed by the student community, by managing the various social media profiles and the necessary publicity.</p>
            </div>
            </a>
            </div>

          </div>
        </div>
      </section>
      
      


    <!-- END wrapper -->
    {% endblock %}


    <script src="js/scripts.min.js"></script>
    <script src="js/main.min.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>