{% extends "base.html" %}
{% block virtual_expo %}active{% endblock %}
{% load static %}
{% block main %}


<section class="probootstrap-section"
    style="background-image: url('{% static 'img/virtual-expo/app-based-delivery-1.png' %}'); width: 100%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate ">
                <h1>
                    <font color="black">App-Based Food Delivery</font>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>PROBLEM STATEMENT: </h3>
                <p>To study the pattern between customer spending behavior and demographics in the food-delivery market.
                </p>

                <h3>METHODOLOGY</h3>
                <p>
                    <strong><i>1) Abstract about the rise and growth of the industry</i></strong>
                    <ul>
                       <li>We gathered insights regarding the industry and its functioning. How is it affecting the customer behaviour.This was done by going through various research papers. </li>
                       <li>The rise and growth of the industry has been tremendous in the past few years. With the advent of smartphones and GPS facilities we can track our order every moment.</li>
                    </ul>
                    
                    <strong><i>2) Conducting a survey of customer habits w.r.t the market</i></strong>
                    <ul>
                       <li>Then we conducted a survey with maximum outreach , collected data consisting
                            of people from various backgrounds and different locations.</li>
                       <li>This diversified data helped us to get a deeper insight into the customer
                            behaviour towards the App Based food market.</li>
                    </ul>
                    
                    <strong><i>3) Analyzing the collected raw data and creating insights</i></strong>
                    <ul>
                        <li>We analysed the data using different tools like ‘Pivot Tables’ in excel sheet to get
                        better insights into the data set.</li>
                        <li>We also used the Chi-Square Test to check the ‘P’ value(probability) and
                        compare it with significance level to check if two factors have codependency or not.</li>
                    </ul>
                
                    <strong><i>4) Concluding by listing all the discovered patterns and a strategy for these companies</i></strong>
                        <ul><li>In the end we concluded by listing all the patterns that were discovered and came
                        up with a strategy for companies.</li></ul>
                </p>


                <h3>Results:</h3>
                <p>We surveyed people from various backgrounds and living in different locations on multiple
                factors of the app-based food delivery industry. These were the key findings that we found after
                analyzing the data:</p>
                <ol>
                        <li>
                            App services:
                            <ol>
                                <li>Our findings suggest that a massive majority of the survey respondents, around
                                    88.5%, use Swiggy as a food delivery service, followed by Zomato, which is
                                    being used by about 63.74% of respondents.</li>
                                <li>Participants using both Swiggy and Zomato showed the highest customer rating
                                average, 3.74, something to do with the convenience of choosing from the best of
                                both.</li>
                                <li>While used, the other apps constitute the minority in this market that was
                                dominated by swiggy and zomato.</li>
                            </ol>
                        </li>
                    
                        <li>
                            Frequency and order characteristics:
                            <ol>
                                <li>Upon analyzing the data collected here, we discovered that this industry, while
                                being the most popular industry, is not the most consistent one. Most people
                                admitted that they do not order food every week but only use it occasionally.</li>
                                <li>We also found that people generally order in groups of two, and the majority bill
                                ranges around the price of 200-500.</li>
                                <li>The most preferred meal of consumers is usually after a long tiring day, when
                                    they sit back and enjoy dinner, order via one of these services, and most find it
                                    convenient to order North Indian cuisine for this meal.</li>
                            </ol>
                        </li>

                        <li>
                            Customer motivation:
                            <ol>
                                <li>As expected, the popularity of this industry is due to the ease and convenience
                                that it provides. Following this, multiple users also admit that offers and discounts
                                also play a vital role while ordering.</li>
                                <li>Our country's health-conscious population base their decision on the ratings and
                                reviews provided by past users.</li>
                                <li>The barriers holding people back from ordering are concerns about hygiene and
                                quality. High delivery costs and delays in delivery follow closely behind it.</li>
                            </ol>
                        </li>

                        <li>
                            Mode of payment:
                            <ol>
                                <li>The dream of a digital India seems closer to becoming a reality than ever, with
                                48% percent of customers preferring to use UPI as their favorite mode of
                                payments. Cash on delivery came second in this list.</li>
                                <li>Much to our surprise, we found that the payment satisfaction was highest
                                amongst people who used E-wallets as payment methods, while UPI and cash
                                on delivery came to the bottom of this list.</li>
                                <li>We also discovered customer loyalty was maximum amongst people using credit
                                and debit cards as payment methods. While people using UPI or E-wallets
                                preferred to shift inspired by discounts and offers.</li>
                            </ol>
                        </li>    

                        <li>The premium plans have not gained much popularity in this industry, and only a minor of
                        17.2% own them, and only 5% were planning on purchasing.</li>


                        <li>  Customer Behavior:
                            <ol>
                                <li>People who use these services are also active social media users and frequently
                                order goods online via platforms like Amazon and Flipkart.</li>
                                <li>Lack of healthier options and lack of eco-friendly packaging induced a feeling of
                                guilt in people, causing them to avoid these services. </li>
                            </ol>
                        </li>                 
                </ol>


                <h3>Key Learnings:</h3>
                    <ol>
                        <li>This market is currently hugely dominated by swiggy and zomato, mostly cause of their
                            widespread nature while providing more offers than any other in their competition. They
                            also have the highest customer ratings.</li>
                        <li>Since the majority of users order for two, the most successful deals would be those that
                            cater to this group, with an ideal price range of 200-500 rupees.</li>
                        <li>Gaining customer trust by providing options from high rated restaurants and providing
                            hygienic and quality products, while providing quick and affordable delivery, are the way
                            to succeed in this industry.</li>
                        <li>The users of these facilities are found online and use other delivery services and social
                            media actively. These platforms thus prove to be an excellent marketing platform for
                            ABFD companies.</li>
                        <li>With the health consciousness among the general population, a broader customer base
                            can be acquired by providing healthier food options.</li>
                        <li>Providing eco-friendly packaging would also be a great strategy to attract customers
                            using other platforms.</li>
                    </ol>
                


                <h3>FUTURE WORK</h3>
                <ol><li>A survey for more numbers of people and from diverse locations for better overall results.</li>
                    <li>Localizing the survey to a particular location to study about the market at that particular location.</li>
                    <li>Data can be further analysed and can be used to accelerate growth of new ABFD businesses.</li>
                </ol>

                <h3>CONCLUSION</h3>
                <p>App-based Food Delivery Markets are bigger than ever. Because of rapid digitization and
                    increase in confidence on these platforms by the customers shows it is getting bigger and bigger.
                    There are mainly two big players in the market, Swiggy and Zomato. Companies still have to gain
                    the customers’ trust in terms of providing premium plans and hygiene concerns. The trends of
                    growth of ABFD Markets indicates that this segment is only going to expand in the next 5 years.
                </p>




                <h3>TEAM</h3>
                <p>
                    ● Yash Harlalka - Mentor- yash2103h@gmail.com<br>
                    ● Prakriti Goyal -prakritigoyal19@gmail.com<br>
                    ● Sriram Saran -psriramsaran@gmail.com<br>
                    ● Kshitij Raj -kshiteej.raj@gmail.com
                </p>

                <!-- <h3>PICTURES</h3>
                <section class="container">
                    <div class="row mb-5">

                        <div class="card-deck  col-md-4 col-sm-6 col-sm-12">
                            <div class="card" style="margin-bottom: 15px;">
                                <div style="text-align:center">

                                    <img src="" alt="Card image cap" class="img-fluid" style="height:270px; width:100%">
                                    <div class="card-body">
                                        <h6 class="card-title">card title</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
 -->

            </div>
</section>
</div>
</div>
</div>
</section>











{% comment %} <section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section> {% endcomment %}

<script type="text/javascript">
    $(".team").addClass("active");
    var tabcontent = document.getElementsByClassName('teams');
    for (i = 1; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    function navigate(signame) {
        var tabcontent = document.getElementsByClassName('teams');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(signame).style.display = "block";
        $("." + signame).addClass("active");
    }
</script>
{% endblock %}
