{% extends "base.html" %}
{% block virtual_expo %}active{% endblock %}
{% load static %}
{% block main %}


<section class="probootstrap-section"
    style="background-image: url('{% static 'img/virtual-expo/autoshopper.jpg' %}'); width: 100%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate ">
                <h1>
                    <font color="black">Autoshopper</font>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>PROBLEM STATEMENT: </h3>
                <p>The project aims to create a pick and place robot for use in shopping malls
                    that will prevent long queues in front of the cashier and help the shopkeepers get
                    more profit. The robot will be cheap and the design will be simple so that no
                    unnecessary cost addition takes place. The control system and logic being used will
                    be simple and consist of sensors. The arm and gripper will also be unique and
                    designed to prevent expensive manufacturing cost.
                </p>


                <h3>PROPOSED SOLUTION:</h3>
                <p>Auto Shopper is a robot that will help shopkeepers and malls reduce queues and
                    crowd and improve efficiency by accepting the customers list and picking and
                    placing the items in a trolley and also makes the billing. The bot will be completely
                    manufactured and assembled by us. The design will have an arm and gripper that
                    will pick and place items. It will also consist of a control system that will guide the
                    robot and control the arm and gripper.
                </p>


                <h3>TECHNOLOGY USED</h3>
                <p>● Design for Arm and Base : CAD<br>
                    ● Microcontroller for Arm : Arduino<br>
                    ● Microcontroller and main control station : Raspberry Pi 3B+<br>
                    ● App design tool : Android Studio<br>
                    ● Servo motors, sensors, wheel encoders
                </p>


                <h3>RESULTS</h3>
                <p>Localized map for testing:<br>
                    <img src="{% static 'img/virtual-expo/autoshopper1.png' %}" class="img-rounded img-fluid"
                        style="width: 25%;height:25%"><br>
                    Designs for gripper uploaded in github link, A star algorithm was used for map
                    localization
                </p>

                <h3>FUTURE WORK</h3>
                <p>Modifications planned for the project:<br>
                    1. Remote control of the bot using the app<br>
                    2. Using more extensive algorithms for better navigation and localization<br>
                    3. Making it industrially functional<br>
                    4. Adding more features
                </p>

                <h3>REFERENCES</h3>


                <p>
                    ● <a href="https://github.com/govind1804/AutoShopper.git">https://github.com/govind1804/AutoShopper.git</a><br>
                    ● <a href="https://ieeexplore.ieee.org/document/6153312">https://ieeexplore.ieee.org/document/6153312</a><br>
                    ● <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=16222">https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=16222 </a>

                </p>

                <h3>TEAM</h3>

                <p>
                    ● Manan Lohani - 3rd Year, Mechanical Engineering (Project Mentor)<br>
                    ● Govind Sunilkumar - 3rd Year, Electronics and Communication Engineering
                    (Project Mentor)<br>
                    ● Yogesh - 2nd Year, Electronics and Communication Engineering<br>
                    ● Rohit B V - 2nd Year, Electronics and Communication Engineering<br>
                    ● Nishanth - 2nd Year, Mechanical Engineering<br>
                    ● Harikrishnan sambath - 2nd Year, Mechanical Engineering<br>
                    ● Nikhilesh Singh - 2nd Year, Mechanical Engineering<br>
                </p>

                <!-- <h3>PICTURES</h3>
                <section class="container">
                    <div class="row mb-5">

                        <div class="card-deck  col-md-4 col-sm-6 col-sm-12">
                            <div class="card" style="margin-bottom: 15px;">
                                <div style="text-align:center">

                                    <img src="" alt="Card image cap" class="img-fluid" style="height:270px; width:100%">
                                    <div class="card-body">
                                        <h6 class="card-title">card title</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
 -->

            </div>
</section>
</div>
</div>
</div>
</section>











{% comment %} <section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section> {% endcomment %}

<script type="text/javascript">
    $(".team").addClass("active");
    var tabcontent = document.getElementsByClassName('teams');
    for (i = 1; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    function navigate(signame) {
        var tabcontent = document.getElementsByClassName('teams');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(signame).style.display = "block";
        $("." + signame).addClass("active");
    }
</script>
{% endblock %}