{% extends "base.html" %}
{% block virtual_expo %}active{% endblock %}
{% load static %}
{% block main %}


<section class="probootstrap-section"
    style="background-image: url('{% static 'img/virtual-expo/CrowdCounting.jpeg' %}'); width: 100%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate ">
                <h1>Crowd Counting</h1>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>PROBLEM STATEMENT: </h3>
                <p>To develop a method that can accurately estimate the crowd count for an individual image with
                    arbitrary crowd density and arbitrary perspective.
                </p>


                <h3>PROPOSED SOLUTION:</h3>
                <p>We use a multi-column convolutional neural network (MCNN) , which has proposed multi-column
                    deep neural networks for image classification. Our model contains three columns of convolutional
                    neural networks whose filters have different sizes. Input of the MCNN is the image, and its output
                    is a crowd density map whose integral gives the overall crowd count.
                </p>


                <h3>TECHNOLOGY USED</h3>
                <p>The code was implemented on Google colab where we have used python as our programming
                    language, we used ShanghaiTech dataset for training the model. The framework used was Keras.
                </p>




                <h3>METHODOLOGY</h3>
                <p>Phase 1 : The learning phase consisted of learning the basics of ML, DL and CNN. For that , we
                    completed the Andrew NG course named “deeplearning.ai”. Also, for CNN we followed some
                    videos on YouTube (MIT).<br>
                    Phase 2: This consisted of implementing our knowledge about the subject on some basic
                    projects such as classification of digits using the MNIST dataset.<br>
                    Phase 3: We started with the Crowd Counting Project using Google colab. We have used the
                    ShanghaiTech dataset which has a variety of related images with different perspectives. We used
                    keras as the framework for our project.
                </p>

                <h3>RESULTS</h3>
                <p>The accuracy of the model that we implemented was 94.387
                </p>


                <h3>FUTURE WORK</h3>
                <p>In future we are planning to expand this into a real-time analysis on an actual crowd, the program
                    currently finished can give an approximate count of the number of people in a crowd based on a
                    static image.
                </p>


                <h3>KEY LEARNINGS</h3>
                <p>Main things that we learnt during the course of this project include getting to learn a lot about
                    machine learning, deep learning and the way how images are preprocessed before being used
                    for training the model. Also we learnt many new algorithms and made a suitable model using
                    CNN.
                </p>


                <h3>CONCLUSION</h3>
                <p>Crowd counting using has a wide range of applications which include crowd control, disaster
                    management, violence detection , etc.
                </p>




                <h3>REFERENCES</h3>
                <p>
                    Following are the papers that we used as reference for our project:
                </p>
                <p>1. [MCNN] Single-Image Crowd Counting via Multi-Column Convolutional Neural
                    Network (CVPR2016)<br>2. [CSR] CSRNet: Dilated Convolutional Neural Networks for Understanding the
                    Highly Congested Scenes</p>
                <p></p>

                <h3>Team</h3>

                <p>● Shubam Agrawal<br>
                    ● Anish Patil<br>
                    ● Sasidhar Swarangi<br>
                    ● Rutwik Mulay<br>
                    ● Deepak<br>
                </p>
                <p></p>

                <!-- <h3>PICTURES</h3>
                <section class="container">
                    <div class="row mb-5">

                        <div class="card-deck  col-md-4 col-sm-6 col-sm-12">
                            <div class="card" style="margin-bottom: 15px;">
                                <div style="text-align:center">

                                    <img src="" alt="Card image cap" class="img-fluid" style="height:270px; width:100%">
                                    <div class="card-body">
                                        <h6 class="card-title">card title</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
 -->

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>











{% comment %} <section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section> {% endcomment %}

<script type="text/javascript">
    $(".team").addClass("active");
    var tabcontent = document.getElementsByClassName('teams');
    for (i = 1; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    function navigate(signame) {
        var tabcontent = document.getElementsByClassName('teams');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(signame).style.display = "block";
        $("." + signame).addClass("active");
    }
</script>
{% endblock %}