{% extends "base.html" %}
{% block virtual_expo %}active{% endblock %}
{% load static %}
{% block main %}


<section class="probootstrap-section"
    style="background-image: url('{% static 'img/virtual-expo/drag-system.png' %}'); width: 100%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate ">
                <h1>
                    <font color="black">Design and Analysis of a Drag reduction System</font>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>PROBLEM STATEMENT: </h3>
                <p>The project focuses on the development of a drag reduction system for a
                    car. A drag reduction system. Drag reduction system is a driver adjustable
                    feature that aims at reducing aerodynamic drag in order to increase top
                    speed and promote overtaking in motor racing. This project aimed at
                    designing a suitable drag reduction system as per the latest F1 regulations.

                </p>


                <h3>PROPOSED SOLUTION:</h3>
                <p>The project required the use of a suitable modeling software for designing
                    the drag reduction system. We used Solidworks for designing and modeling
                    the system. The design parameters were obtained from the latest F1
                    guidelines and features. The model designed is shown below:<br>
                    <img src="{% static 'img/virtual-expo/drag-system.png' %}" class="img-rounded img-fluid"
                        style="width: 50%;"><br>
                    On deploying the DRS system, a button is pressed and an opening is
                    created that allows air to pass through it and thus reducing air drag. The
                    DRS enabled model is shown below.<br>
                    <img src="{% static 'img/virtual-expo/drag-system1.png' %}" class="img-rounded img-fluid"
                        style="width:   40%;"><br>
                    Now analysis of the percentage reduction in downforce and drag force due
                    to this feature being deployed was calculated.Using Solidworks itself we
                    can calculate the downforce and drag being experienced by the 3D model.
                    Vehicle top speed considered = 360 Kmph
                    The results obtained are shown below:<br>
                    <img src="{% static 'img/virtual-expo/drag-system2.png' %}" class="img-rounded img-fluid"
                        style="width: 50%;"><br>
                </p>


                <h3>RESULTS</h3>
                <p>The project aimed at developing a DRS system as per the guidelines and
                    analyse the percentage reduction in the forces acting on the vehicle . The
                    analysis showed that the downforce and drag force were considerably
                    reduced using this system in an F1 car.<br>
                    Thus, the reduction in downforce is a cause for concern in curved roads or
                    turns but in straight paths the downforce is not a huge cause for concern
                    and the reduced drag increasingly helps the driver to obtain higher speeds.<br>
                    This is the reason the feature is only allowed at certain positions on the
racetrack.


                </p>


                <h3>FUTURE WORK</h3>
                <p>The project can be further improved by performing a dynamic analysis of
                    the DRS system in similar conditions typically experienced in the racetrack
                    and observing the changes in drag forces and downforce.
                </p>


               
                <h3>TEAM</h3>

                <p>
                    ● Manan Lohani<br>
                    ● Ameya Shende<br>
                    ● Shreyash Sabare<br>
                    ● Vineetha<br>
                    ● Harikrishnan<br>
                    ● Sumanth U
                </p>

                <!-- <h3>PICTURES</h3>
                <section class="container">
                    <div class="row mb-5">

                        <div class="card-deck  col-md-4 col-sm-6 col-sm-12">
                            <div class="card" style="margin-bottom: 15px;">
                                <div style="text-align:center">

                                    <img src="" alt="Card image cap" class="img-fluid" style="height:270px; width:100%">
                                    <div class="card-body">
                                        <h6 class="card-title">card title</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
 -->

            </div>
</section>
</div>
</div>
</div>
</section>











{% comment %} <section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section> {% endcomment %}

<script type="text/javascript">
    $(".team").addClass("active");
    var tabcontent = document.getElementsByClassName('teams');
    for (i = 1; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    function navigate(signame) {
        var tabcontent = document.getElementsByClassName('teams');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(signame).style.display = "block";
        $("." + signame).addClass("active");
    }
</script>
{% endblock %}