{% extends "base.html" %}
{% block virtual_expo %}active{% endblock %}
{% load static %}
{% block main %}


<section class="probootstrap-section"
    style="background-image: url('{% static 'img/virtual-expo/risk.jpeg' %}'); width: 100%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate ">
                <h1>
                    <font color="black">Risk assessment in SME’S</font>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>PROBLEM STATEMENT: </h3>
                <p>This project is focused on the financial lending aspect of SME’S (small and medium enterprises)
                    in India. We have studied various factors which affect the process of lending to various SME’S
                    in India. We have used real life data to justify various causes and effects. The project is
                    practical
                    and based on real statistics gathered.
                </p>

                <h3>METHODOLOGY AND THEORY:</h3>
                <p>
                    We went through a plethora of research papers and articles to gather a lot of information. Our
                    initial plan was to use data and facts to shed light on the SME’S In India and we didn’t change
                    our plan through out. We used techniques like logistic regression from real life data to back-up
                    our claims. The biggest challenge we faced was that companies and banks don’t tend to publish
                    data regarding the lending process, so we had to research a lot. In the initial phase we collected
                    data and facts then we proceeded to compiling all this information in a clear &amp; concise way. We
                    used data to perform logistic regression on datasets of 200 rows and predicted with 81%
                    accuracy along with 70% precision. We have used parameters like city tier, age, salary, existing
                    FOIR, loan amount, credit history and company tier to understand how this vital factors can
                    impact the lending process with respect to SME’S. We have also put up our conclusion on the
                    whole SME’S scenario in India.
                </p>


                <h3>RESULTS</h3>
                <p>63% of them agree that Entrepreneurs highly interpret the significance of credit risk
                    during any crisis, which determines their entrepreneurship. Some of them still agree to
                    the fact that SMEs have low knowledge about credit risk. (nearly 29%)
                    When there is a point of credit criteria transparency, entrepreneurs are quite critical over
                    their evaluation. The length of the operating business influences the evaluation of
                    important credit risk factors. It reduces the difference in the important credit risk factors
                    regarding the entrepreneur’s gender and age.
                    When compared between entrepreneurs who were beginners, over the field for 5 years
                    and those who are in the field for more than 10 years, it was found that the one with
                    more experience would evaluate all the risk factors equally than others who would give
                    importance to some rather than to all.
                    The more experienced one draw attention to the need to increase the quality of
                    communication between banks and SMEs and make it more intensive and transparent.<br>
                    When applied for a loan in NBFCs or a bank, considering your income,<br>
                    ● Higher is your income, more will be your scope of borrowing loan<br>
                    ● You will then be flexible with the chosen loan tenor as well as Competitive interest rates<br>
                    Out of the total income earned per month, 40% is left for the applicant&#39;s livelihood and
                    considering the remaining 60% of the salary, accordingly so much amount of loan is given.
                    Then similar kind of criteria is used when applied for a gold loan, half the amount of the pledged
                    gold ornaments is given.<br>
                    Salaried individuals may get a loan amount of up to rupees one crore and self-employed
                    individuals can avail up to the price three crores. And should be between 33 to 55 years of age
                    working in an MNC a private company or a public sector company and a resident of India to
                    apply for a loan against property. For self-employed individuals, they should be between 25 to
                    70 years of age with a regular source of income to apply for a loan against property.<br>
                    Young entrepreneurs are likely to get sanctioned with more loan amounts when compared to
                    those who are in their age of 40 to 50s. Loans are given depending on the years of service
                    remaining and the age of retirement.<br>
                    There are n number of eligibility criteria to be met when u apply for a loan, such as follows:
                    salary slip and six months bank passbook to avail a personal loan Banks and NBFCs apart from
                    this you yo submitting KYC documents, address proof, income proof, office address proof, latest
                    six months bank statement, proof of continuity of business and proof of residence or office
                    ownership to apply for a personal loan. These many securities are in a way, to ensure much
                    safety to the loan they provide.<br>
                    By the method logistic regression to classify each application on the basis of its probability of
                    default. It was noted that the probability of default as stated by the model is below 50%, then it
                    is

                    classified as a low default rate and safe to give loan. The vice-versa is true as for higher default
                    predictions, it classifies as unsafe to give loans. On achieved an accuracy of 81% along with a
                    70% precision, this basic model would boost the calculation of default risk for small and
                    medium-sized lending institutions and NBFCs.<br>


                </p>


                <h3>FUTURE WORK</h3>
                <p>In the Future this project can be taken forward by collecting more data about the SMEs and the
                    NBFCs and making logistic regression over the wide set of data to obtain more accurate and
                    precise result values and also there are many more factors in affecting the risk analysis of SME’s
                    which can be evaluated using a wider set of data and more research can be done over these
                    factors and database using different regression models in different cases to get optimal results
                    also we can expand the database to worldwide NBFCs and create a model for the risk assessment
                    of NBFCs over the world.
                </p>
                <h3>KEY LEARNINGS</h3>
                <p>Importance of SMEs in generating high employment and promoting the innovativeness
                    and competitiveness of their economies<br>
                    ● SMEs are the leading factor in economic recovery and development.<br>
                    ● (NBFCs) have outperformed banks in new credit deployment<br>
                    ● How NBFCs manage the increased risk of default rates<br>
                    ● Dealing with Risk Parameters while providing loan (NBFCs): Credit rating is an
                    evaluation of the loan applicant&#39;s failure to repay the loan at scheduled periods of
                    instalment. Factors considered for the creditworthiness of the applicant,<br>
                    1. Loan amount<br>
                    2. Borrower&#39;s age and gender<br>
                    3. Education qualification<br>
                    4. Mobility of location and No. Of dependents<br>
                    5. Joint applicants, Employer type and Job designation<br>
                    6. Relationship with banks( credit history)<br>
                    7. Salary and Stability of income<br>
                    8. Marketability of property/business - company tier,<br>
                    9. Proof for income and their bank statements<br>
                    10. Purpose, property value, and net worth.<br>

                    11. Fixed obligations<br>
                    12. Surety assured.<br>
                    13. Default risk percentage.<br>
                    ● Factors influencing financial performance: firm, industry and economy<br>
                    ● The Risk from strategy, operation and projects.
                </p>



                <h3>CONCLUSION</h3>
                <p>The role of SMEs in the country is very crucial more than 20 million SMEs are there in
                    the country contributes around 40 percent of the manufacturing activity and NBFCs are
                    helping them with taking risks<br>
                    ● The age of the firm is independent of loan approvals whereas The age of the firm is
                    dependent on loan approvals from the study<br>
                    ● A higher level of attained education significantly and positively influences the SME’s
                    financial performance hence reducing credit risk<br>
                    ● Salary isn’t the only factor which affects the risk but FOIR is the important factor which
                    decides the amount of the loan and the credit risk<br>
                    ● FOIR percentage varies according to the net worth of customers varying from 40 for low
                    net worth customers to 70 for high net worth customers.<br>
                    ● Credit history helps SMEs to benchmark themselves and get a better rating by NBFCs
                    and other organization and sectors<br>
                    ● The majority of the Indian population is located in tier-2 and tier-3 cities yet it only
                    constitutes 53% of the loan business.<br>
                    ● CIBIL scores are used for assessing while lending to companies and individuals whereas
                    CRISIL is used for assessing companies<br>
                    ● Overall While lending to an individual salary plays a very important role, whereas While
                    lending to companies the revenue of the company, past credit history, and most
                    importantly predicted growth are the factors affecting credit risk
                </p>




                <h3>TEAM</h3>

                <p>
                    ● ANSAR B NADAF( ansarnadaf5@gmail.com )<br>
                    ● SRINIKETH GAUTHAM(sriniketh.gautam@gmail.com)<br>
                    ● RAMYASHREE(gkramyashree@gmail.com)<br>
                    ● YASH(Mentor)
                </p>

                <!-- <h3>PICTURES</h3>
                <section class="container">
                    <div class="row mb-5">

                        <div class="card-deck  col-md-4 col-sm-6 col-sm-12">
                            <div class="card" style="margin-bottom: 15px;">
                                <div style="text-align:center">

                                    <img src="" alt="Card image cap" class="img-fluid" style="height:270px; width:100%">
                                    <div class="card-body">
                                        <h6 class="card-title">card title</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
 -->

            </div>
</section>
</div>
</div>
</div>
</section>











{% comment %} <section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section> {% endcomment %}

<script type="text/javascript">
    $(".team").addClass("active");
    var tabcontent = document.getElementsByClassName('teams');
    for (i = 1; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    function navigate(signame) {
        var tabcontent = document.getElementsByClassName('teams');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(signame).style.display = "block";
        $("." + signame).addClass("active");
    }
</script>
{% endblock %}