{% extends "base.html" %}
{% block virtual_expo %}active{% endblock %}
{% load static %}
{% block main %}


<section class="probootstrap-section"
    style="background-image: url('{% static 'img/virtual-expo/robotic-arm.png' %}'); width: 100%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate ">
                <h1>
                    <font color="black">Robotic Arm</font>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>PROBLEM STATEMENT: </h3>
                <p>To make a Robotic Arm that can be controlled using a smartphone with the
                    help of Bluetooth module
                </p>


                <h3>PROPOSED SOLUTION:</h3>
                <p>A Bluetooth controlled 3-D printed 5 degrees of freedom
                    robotic arm that can be controlled using a mobile application. AutoCAD and Catia
                    V5 to be used to design the robot. The robot will use Arduino Uno as an
                    electronics platform. 3 SG90 and 3 MG996R servo motors to be used at the joints.
                    MIT app inventor to be used for mobile application where servo motors can be
                    controlled by the user. The application is user-friendly. The robot will have a
                    memory so that it can execute previously defined motions so that it can be used in
                    assembly-line manufacturing.<br>

                    Using the sliders in the app we can manually control the movement of each servo
                    or axis of the robot arm. Also using the “Save” button we can record each position
                    or step and then the robot arm can automatically run and repeat these steps. With
                    the same button we can pause the automatic operation as well as reset or delete all
                    steps so that we can record new ones.<br>
                    For making the circuit, we need Arduino UNO, HC-05 Bluetooth module for
                    communication with the smartphone and servo motors. The control pins of servo
                    motors are connected to 6 digital pins of Arduino UNO. For powering the servos
                    we need 5V which comes from an external power source since Arduino cannot
                    handle the amount of current all of them can draw. The power source must handle
                    at least 2A of current.<br>
                    In the Android Application, at the top we have two buttons for connecting the
                    smartphone to the HC-05 Bluetooth module. Then on the left side we have an
                    image of the robot arm, and on the right side we have the six sliders for controlling
                    the servos and one slider for the speed control. Each slider has different initial,
                    minimum and maximum value that suits the robot arm joints. At the bottom of the
                    app, we have three buttons, SAVE, RUN and RESET through which we can
                    program the robot arm to run automatically. There is also a label below which
                    shows the number of steps we have saved.
                </p>


                <h3>TECHNOLOGY USED</h3>
                <p>● Designing the bot - AutoCAD and Catia<br>
                    ● Microcontroller - Arduino UNO<br>
                    ● Rotation - Servo motors<br>
                    ● Designing Application - MIT App Inverter<br>
                    ● Bluetooth and Arduino UNO Interfacing
                </p>



                <h3>RESULTS</h3>
                <p>Robotic Arm is designed which can be controlled via bluetooth
                    using an application in mobile phone. It has memory to remember the steps
                    and repeat the saved steps which makes it autonomous.<br>
                    <img src="{% static 'img/virtual-expo/robotic-arm1.png' %}" class="img-rounded img-fluid"
                        style="width: 50%;height:50%"><br>
                        <img src="{% static 'img/virtual-expo/robotic-arm2.png' %}" class="img-rounded img-fluid"
                        style="width: 50%;height:50%"><br>
                </p>


                <h3>FUTURE WORK</h3>
                <p>The project involves a robotic arm which is currently controlled
                    through bluetooth by a mobile application. In the future, image processing could be
                    implemented with the robotic arm to enable it to detect and interact with objects
                    based on it’s features such as shape, colour etc. Moreover, dedicated tasks such as
                    picking up an object and placing it in a different location can be automated too
                    instead of manually operating it.
                </p>



                <h3>PROJECT LINK</h3>
                <p>
                <a href="https://github.com/rajatshuklaa/Robotic-arm.git">GitHub Repository</a><br>
                </p>

                <h3>TEAM</h3>

                <p>● Rajat Shukla - 3rd Year, Mechanical Engineering (Project Mentor)<br>
                    ● Srujana Nadella - 3rd Year, Electronics and Communication<br>
                    Engineering (Project Mentor)<br>
                    ● Abhinav Raj - 2nd Year, Mechanical Engineering<br>
                    ● Kaustubh Sonawane - 2nd Year, Mechanical Engineering<br>
                    ● Roshan Rangarajan - 2nd Year, Electronics and Communication
                    Engineering<br>
                    ● Sumanth Uppalapati - 2nd Year, Mechanical Engineering<br>
                </p>

                <!-- <h3>PICTURES</h3>
                <section class="container">
                    <div class="row mb-5">

                        <div class="card-deck  col-md-4 col-sm-6 col-sm-12">
                            <div class="card" style="margin-bottom: 15px;">
                                <div style="text-align:center">

                                    <img src="" alt="Card image cap" class="img-fluid" style="height:270px; width:100%">
                                    <div class="card-body">
                                        <h6 class="card-title">card title</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
 -->

            </div>
</section>
</div>
</div>
</div>
</section>











{% comment %} <section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section> {% endcomment %}

<script type="text/javascript">
    $(".team").addClass("active");
    var tabcontent = document.getElementsByClassName('teams');
    for (i = 1; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    function navigate(signame) {
        var tabcontent = document.getElementsByClassName('teams');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(signame).style.display = "block";
        $("." + signame).addClass("active");
    }
</script>
{% endblock %}