{% extends "base.html" %}
{% block virtual_expo %}active{% endblock %}
{% load static %}
{% block main %}


<section class="probootstrap-section"
    style="background-image: url('{% static 'img/virtual-expo/town-planning.png' %}'); width: 100%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate ">
                <h1>
                    <font color="black">Town Planning Using Pervious Concrete</font>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>PROBLEM STATEMENT: </h3>
                <p>In India, we are prone to floods. There are no proper drainage systems or plans which can
                    be helpful in preventing these floods. Major cities like commercial capital Mumbai, Chennai, areas
                    of Karnataka and Kerala get flooded almost every year. Due to increased urbanization, the
                    groundwater level is also decreasing as the town planning is not done properly. Even rural areas
                    get affected adversely as crops get damaged and sometimes people in rural areas have to
                    migrate to cities due to floods.<br>
                    This project aims to design a town by using Pervious(Thirsty) concrete for roads via software. The
                    water will percolate through the top permeable layer of the road and reach underneath the layer
                    of stones and pebbles, which are arranged scientifically for recharging the groundwater. This
                    process will also reduce the risk of floods and water stagnation. Working with proper urban
                    planning undertaking all measures required along with establishing newer technologies for better
                    and faster development.<br><br>
                    <strong><i></i>Keywords:</strong> Town-planning, Thirsty Concrete, Road, Urbanization
                    <br> For more information on town planning <a
                        href="https://drive.google.com/file/d/1mJ2jtFG7z6JZYJU4BQZOQTuSadXJArcb/view?usp=sharing">click
                        here</a>.
                </p>

                <h3>METHODOLOGY AND THEORY:</h3>
                <p>
                    <strong><i>1) PERVIOUS CONCRETE:</i></strong>
                    Pervious concrete is a special type of concrete with high porosity, made from a mixture
                    of cement, water, coarse aggregate and a minimal amount or no amount of fine aggregate (sand).
                    It also frequently contains chemical admixtures. Pervious concrete creates a porous medium,
                    which allows water from precipitation and other sources to pass through and reach the
                    underlying soil. This reduces runoff from a site while recharging groundwater levels. High
                    porosity is attained by high interconnected voids. Pervious concrete has applications in

                    sustainable construction and is often used in areas with less traffic, sidewalks, parking areas, and
                    greenhouses. It is commonly produced to allow as much as 5 gals/ft2/min (40.75
                    millimetres/min) to pass through the body of the concrete. The proper utilization of Pervious
                    concrete is a recognized Best Management Practice by the U.S. Environmental Protection
                    Agency (EPA) for providing First-Flush pollution control and stormwater management. Pervious
                    concrete reduces the runoff from paved areas, which reduces the need for separate stormwater
                    retention ponds and allows the use of smaller capacity storm sewers. Initial costs for Pervious
                    concrete pavements are higher than those for conventional concrete or asphalt paving. The
                    material itself is only a little more expensive, and we tend to install Pervious concrete thicker
                    than regular concrete. In this project, we have used the Pervious Concrete in mainly Valleys
                    Areas of the Road as the water gets collected in those areas and as Pervious Concrete is costly,
                    we have aimed for increased utilization of Pervious Concrete. <strong>Pervious Concrete along
                        sides of roads and pavement areas can reduce the cost and maximize its utilization.</strong><br>
                        <p class="text-center"><img src="{% static 'img/virtual-expo/town-planning4.jpg' %}"
                            class="img-rounded img-fluid text-center" style="width: 50%;"><br>
                            For Usage Along The Side Of Roads</p><br>
                            <p class="text-center"><img src="{% static 'img/virtual-expo/town-planning5.jpg' %}"
                                class="img-rounded img-fluid text-center" style="width: 50%;"><br>
                                Laying of Pervious Concrete in Valley Areas</p><br>
                    <strong><i>2) TOWN PLANNING:</i></strong>
                    About 40% of the Indian population lives in a city. Sure, convenience and excitement are great,
                    but living in a city can be rough. We know that some cities can look like a vast slum with the
                    least development a city should have.<br>
                    Nevertheless, how can we make this better?<br>
                    First things first, location. We will want somewhere with a good water supply, so near a lake
                    would be great. Somewhere scenic obviously with moderate but not extreme seasons. We will
                    want our city to be small enough to avoid lots of congestion and overcrowding, but still large
                    enough to have all the amenities we city folk know and love. Let us say 25 square miles/65 sq
                    km and about half a million people. A square, 5m x 5m, or 8k x 8k grid layout would make the
                    city super easy to navigate. We would have timely, efficient subways running in straight lines,
                    crisscrossing under the city. However, above ground, transportation would be limited to bike
                    paths and walkways. A car-less city may sound extreme, but cities like Paris are already losing
                    expressways to favour bikes and walking. This keeps citizens healthier and reduces pollution.
                    Solar panels and wind turbines outside the city and on top of buildings would also lessen
                    emissions and help our utopian city stay green. A city like no pollution sounds ideal.<br>
                    Our buildings would also follow an eco-friendly path. We would construct a densely-packed city
                    with a mix of green office high-rises and residential buildings. Well, Vienna does this to help
                    reduce transport time and to keep the city feeling home.<br>
                    For more information on town planning <a
                        href="https://drive.google.com/file/d/1mJ2jtFG7z6JZYJU4BQZOQTuSadXJArcb/view?usp=sharing">click
                        here</a>.
                </p>


                <h3>APPROXIMATE CALCULATION:</h3>
                <p>The Total length of Road: 4848m<br>
                    Area of Road: 4848m *3.5m (Average breadth) =16968 m2<br>
                    Area of thirsty concrete applied at the sides of the Road: 2424m2<br>
                    Area of thirsty concrete applied at the valley part: 1050m2<br>
                    Total area of thirsty concrete: 3474m2<br>
                    Total volume of water passed through thirty concrete: 3474m2<br>
                    5 gal/ft2
                    /min<br>
                    707.8 m3/min=707800ltr/min<br>
                </p>


                <h3>TECHNOLOGY USED</h3>
                <p>We have used SketchUp software to make a model of the Area that was chosen to be a town. We
                    used real-time boundaries of NITK with the help of QGIS and Google Earth to get a clear picture
                    for planning and designing and to get the elevation profile of the Area. And designed buildings
                    in SketchUp. We have received AutoCAD models of the boundaries of NITK from the Engineer
                    Office of NITK for initial setting up of boundaries and also the road system we use in our
                    college.<br><br>
                    <strong><i></i>SketchUp:</strong> Using that search buildings option from Sketchup warehouse, we got
                    real design
                    models, and also developed many structures suitable. We worked on the elevation of the terrain.<br>
                <p class="text-center"><img src="{% static 'img/virtual-expo/town-planning1.png' %}"
                        class="img-rounded img-fluid text-center" style="width: 50%;"><br>
                    PROCESS OF MAKING 3D MODEL</p><br>
                AutoCAD: The AutoCAD models were taken from the RE Office in NITK and the models were analysed to find
                the boundary of NITK and trace it on GIS to get elevation profiles of the Area.<br>
                <p class="text-center"><img src="{% static 'img/virtual-expo/town-planning2.png' %}"
                        class="img-rounded img-fluid text-center" style="width: 50%;"><br>
                    Collection of DATA from NITK</p><br>
                    QGIS and Google Earth: For designing the roads and for getting the elevation profiles of the
road.<br>
<p class="text-center"><img src="{% static 'img/virtual-expo/town-planning3.png' %}"
    class="img-rounded img-fluid text-center" style="width: 50%;"><br>
    Planning of Roads and Finding the elevation Profile</p><br>


                </p>



                <h3>RESULTS</h3>
                <p>Proper usage of Thirsty concrete can help in groundwater recharging without using advanced drainage
                    systems at a lesser cost and hence prevent the flooding.<br>

                    Proper planning of a city is important for the smooth function of the city and while planning cities
                    we should aim to achieve Sustainable Development Goals..<br>


                </p>


                <h3>FUTURE WORK</h3>
                <p>Using different waste materials which can act as Supplementary Cementitious Materials inplace of
                    Cement in Pervious concrete, thereby reducing carbon emissions..
                </p>

                <h3>CONCLUSION</h3>
                <p>Based on the information obtained in the studies above mentioned

                    We could develop and plan such a perfect cities which will not be having significant underground
                    water problem by use of pervious concrete and by indicating the water storage area given that we can
                    use steepy roads and underground water supply system, we are planning such a town which are having
                    adequate storage and supply of water for sustainable needs, as well as the city will be smart
                    planned so that Massive urban migration in Indian cities will have less impact on groundwater and it
                    will not cause water shortages. basically helpful for the problem of groundwater depletion and water
                    shortage in critical areas which are having drought conditions. And as the results says it will be
                    economic and will benefit easily to the masses without using the heavy electrical machineries

                    And as per Indian road conditions focus on sustainability,technologies such as previous concrete are
                    likely to become even more popular.
                </p>




                <h3>TEAM</h3>

                <p>
                    ● VAIBHAV SAHAI - 8050829050 - vaibhavsahai.181cv151@nitk.edu.in<br>
                    ● G K RAMYASHREE - 93800 31676 - gkramyashree.181cv112@nitk.edu.in<br>
                    ● SUDEEPTHI NALLA - 81793 06692 - sudeepthinallareddy@gmail.com<br>
                    ● SHANKAR SHUBHAM - 6362826686 - shankar.181cv242@nitk.edu.in
                </p>

                <!-- <h3>PICTURES</h3>
                <section class="container">
                    <div class="row mb-5">

                        <div class="card-deck  col-md-4 col-sm-6 col-sm-12">
                            <div class="card" style="margin-bottom: 15px;">
                                <div style="text-align:center">

                                    <img src="" alt="Card image cap" class="img-fluid" style="height:270px; width:100%">
                                    <div class="card-body">
                                        <h6 class="card-title">card title</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
 -->

            </div>
</section>
</div>
</div>
</div>
</section>











{% comment %} <section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section> {% endcomment %}

<script type="text/javascript">
    $(".team").addClass("active");
    var tabcontent = document.getElementsByClassName('teams');
    for (i = 1; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    function navigate(signame) {
        var tabcontent = document.getElementsByClassName('teams');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(signame).style.display = "block";
        $("." + signame).addClass("active");
    }
</script>
{% endblock %}