<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IE NITK</title>
    <meta name="description" content="IE NITK">
    <meta name="keywords" content="IE NITK, exclusive technical club, ie nitk, ie-nitk, NITK, Institution of Engineers, NITK Chapter, Institution of Engineers">
    
    <meta property="og:title" content="IE NITK" />
    <meta property="og:description" content="IE NITK aims to enhance the technical expertise of its members and the student community, while acknowledging the importance of fine arts and social work." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ie.nitk.ac.in" />
    <meta property="og:image" content="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" type="" href="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" title="IE NITK">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="{% static 'js/scripts.min.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="probootstrap-search" id="probootstrap-search">
    <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
    <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
    </form>
</div>

<div class="probootstrap-page-wrapper">
    <!-- Fixed navbar -->

    <div class="probootstrap-header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
                    <span><i class="icon-location2"></i>National Institute of Technology Karnataka, Surathkal</span>
                    <!-- <span><i class="icon-phone2"></i>+1-123-456-7890</span> -->
                    <span><i class="icon-mail"></i>ie@nitk.edu.in</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
                    <ul>
                        <li><a href="https://github.com/IE-NITK" target="_blank"><i class="icon-github2"></i></a></li>
                        <li><a href="https://www.facebook.com/ienitk/" target="_blank"><i class="icon-facebook2"></i></a></li>
                        <li><a href="https://www.instagram.com/ienitk/" target="_blank"><i class="icon-instagram2"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/ienitk/" target="_blank"><i
                                class="icon-linkedin"></i></a></li>
                          <li><a href="https://twitter.com/ienitk"><i class="icon-twitter"></i></a></li>
                        <li><a href="/blog"><i class="icon-blog"></i></a></li>

                        {% if user.is_authenticated %}
                            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
                        {% else %}
                            <li><a href="/login"><i class="icon-login"></i></a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--     <marquee>
        <strong>SMPs are LIVE  <a href="{% url 'events:smp2020' %}">Click here to apply.</a></strong>
    </marquee>  -->
    <nav class="navbar navbar-default probootstrap-navbar">
        <div class="container">
            <div class="navbar-header">
                <div class="btn-more js-btn-more visible-xs">
                    <a href="#"><i class="icon-dots-three-vertical "></i></a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}" title="IE NITK">IE NITK</a>
            </div>
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% block index %}{% endblock %}"><a href="{% url 'home' %}">Home</a></li>
                    <li class="{% block sig %}{% endblock %}"><a href="{% url 'sig:sig' %}">SIG</a></li>
                    <li class="{% block events %}{% endblock %}"><a href="{% url 'events:events' %}">Events</a></li>
                    <li class="{% block blog %}{% endblock %}"><a href="/blog">Blog</a></li>
                    <li class="{% block teams %}{% endblock %}"><a href="{% url 'teams:teams' %}">Team</a></li>
                    <li class="{% block alumni %}{% endblock %}"><a href="{% url 'alumni:alumni' %}">Alumni</a></li>
                    <li class="{% block smp %}{% endblock %}"><a href="{% url 'events:smp2020' %}">SMP</a></li>
                    <li class="{% block virtual_expo %}{% endblock %}"><a href="{% url 'virtual_expo:virtual_expo' %}">Virtual Expo</a></li>
{#                    <li ><a href="{% url 'events:hackverse' %}">Hackverse</a></li>#}
                    <li class="{% block flappy %}{% endblock %}"><a href="{% url 'flappy' %}">Bored?</a></li>
                    <!-- <li ><a href="{% url 'accounts:register' %}"><b>Apply</b></a></li> -->

                    {% if user.is_authenticated %}
                        <li ><a href="{% url 'accounts:profile' %}">Profile</a></li>
                        <li ><a href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% else %}
                    <li ><a href="{% url 'accounts:index' %}">Login</a></li>
                    {% endif %}
                    <!-- <li class="contact"><a href="contact.html">Contact</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <h3>About IE NITK</h3>
                        <p>Institution of Engineers, NITK Chapter, is one of the six exclusive clubs in NITK. We are
                            divided by three core Special Interest Groups (SIGs) - Code, Gadget and Garage; but united
                            by five auxiliary SIGs - Vriddhi, our social initiative, Script, our literary SIG, Robotics,
                            Business and Media.</p>
                        <h3>Social</h3>
                        <ul class="probootstrap-footer-social">
                            <li><a href="https://facebook.com/ienitk" target="_blank"><i class="icon-facebook"></i></a></li>
                            <li><a href="https://github.com/IE-NITK" target="_blank"><i class="icon-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/ienitk/" target="_blank"><i
                                    class="icon-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/ienitk/?hl=en" target="_blank"><i class="icon-instagram"></i></a>
                            </li>
                              <li><a href="https://twitter.com/ienitk"><i class="icon-twitter"></i></a></li>
                            <li><a href="/blog/"><i class="icon-blog"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-md-push-1">
                    <div class="probootstrap-footer-widget">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'events:events' %}">Events</a></li>
                            <li><a href="{% url 'sig:sig' %}">SIGs</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="{% url 'teams:teams' %}">Team</a></li>
                            <li><a href="{% url 'flappy' %}">Bored?</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <h3>Contact Info</h3>
                        <ul class="probootstrap-contact-info">
                            <li><i class="icon-location2"></i> <span>National Institute of Technology Karnataka, Surathkal</span>
                            </li>
                            <li><i class="icon-mail"></i><span>ie@nitk.edu.in</span></li>
                            <!-- <li><i class="icon-phone2"></i><span>+123 456 7890</span></li> -->
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div class="probootstrap-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-left">
                        <p>&copy; 2020 Built with <i class="icon icon-heart"></i> at IE NITK</p>
                    </div>
                    <div class="col-md-4 probootstrap-back-to-top">
                        <p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126629212-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-126629212-1');
</script>
</body>

</html>
