{% extends "base.html" %}
{% load static %}
{% block ie-stories %}active{% endblock %}
{% block main %}

      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center section-heading probootstrap-animate">
              <h2>IE Stories</h2>
          </div>

          <div class="row" style="margin: 10px;">

            <div class="col-md-4 margin-btm-20">
              <div class="quote dark">
                <blockquote>
                  <p>
                    IE has played a very key role in my academic and co curricular growth. Always getting challenged with new problems and having the liberty to experiment and fall is something for which I'll be forever grateful to IE. It always felt like a home away from home as the seniors were so warm and welcoming. To current and new members, wish you luck to go onwards and upwards!                      
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/profile/shreyansh25.shrivastava@gmail.com.webp' %}" alt="">
                </div>
                <h3>Shreyansh Shrivastava</h3>
                <p>
                    <strong>Convener 2020-2021</strong>
                </p>
              </div>
            </div>

            <div class="col-md-8 margin-btm-20">
              <div class="quote dark">
                <blockquote>
                  <p>
                    IE NITK has a sense of community, where the members come together, connect, talk, enjoy, share, support each other at all stages while focusing on the members growth & development. IE gave the freedom and platform which I would have not had anywhere else.                       
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/mishal.jpg' %}" alt="">
                </div>
                <h3>Mishal Shah</h3>
                <p>
                    <strong>Convener 2019-20</strong>
                </p>
              </div>
            </div>

            <div class="col-md-8 margin-btm-20">
              <div class="quote dark">
                <blockquote>
                  <p>
                    If there is one thing IE has taught me, it is that trust can lead to wonders. In this fast-paced environment of ever-increasing competition, trust, faith and hope have helped IE rise to where we are today. IE has done for me, more than I have for IE.                       
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/tarunya.jpeg' %}" alt="">
                </div>
                <h3>Tarunya Rao</h3>
                <p>
                    <strong>Convener 2018-19</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="row" style="margin: 10px;">
            

            <div class="col-md-8 margin-btm-20">
              <div class="quote dark">
                <blockquote>
                  <p>
                    IE was the perfect experimental playground for me to learn and to lead - the mistakes were blameless and the people were family. Thanks for the memories! :))                      
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/profile/naramadhumitha@gmail.com.webp' %}" alt="">
                </div>
                <h3>Madhumitha Nara</h3>
                <p>
                    <strong>President 2020-21</strong>
                </p>
              </div>

              <div class="quote dark">
                <blockquote>
                  <p>
                    I think choosing IE as a club for me has the same significance as choosing NITK for college. Both decisions were against the grain, but their impact left a very positive mark in my development. IE was quintessential in my social and technical development. I will cherish all the friendships, trips, late night website work, dinners forever.                        
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/profile/chaitany.pandiya@gmail.com.webp' %}" alt="">
                </div>
                <h3>Chaitany Pandiya</h3>
                <p>
                    <strong>Website Head 2020-2021</strong>
                </p>
              </div>

            </div>

            <div class="col-md-4 margin-btm-20">
              <div class="quote dark">
                <blockquote>
                  <p>
                    When I joined IE, I was looking for the technical stuff which included doing projects outside the course curriculum, hosting technical events, etc. But when I left IE as its alumnus, I had with me few of my best friends I ever had during my engineering days and probably future too. The network which the club has provided me is priceless and I'll always be indebted to it and feel like I always belong to it thanks to the active network of IE members.                     
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/profile/shrinidhi99.varna@gmail.com.webp' %}" alt="">
                </div>
                <h3>Shrinidhi Anil Varna</h3>
                <p>
                    <strong>Batch of 2021</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="row" style="margin: 10px;">
            <div class="col-md-6 margin-btm-20">
              <div class="quote dark">
                <blockquote>
                  <p>
                    Being a part of IE, I've learnt more from my seniors and batchmates than I ever did in class. Every member of IE is focused on their growth along with helping other grow.

                    The support and guidance I've had from from my seniors is indescribable. Even after graduating, they have never hesitated to help us with anything, anytime.
                    
                    IE forms bonds which last longer than the four years of college. We truly become a family.                   
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/profile/prakritigoyal19@gmail.com.webp' %}" alt="">
                </div>
                <h3>Prakriti Goyal</h3>
                <p>
                    <strong>Convener 2021-2022</strong>
                </p>
              </div>
            </div>

            <div class="col-md-6 margin-btm-20">
              <div class="quote dark">
                <blockquote>
                  <p>
                    IE is one of the best things that has happened to me at NITK. I being an introvert, definitely would not have known the number of seniors that I know today, if not for IE. The amount of activities, help and interactions be it during projects or internship season that one can get is immense. IE has helped me multi-dimensionally. I truly sensed the essence of symbiosis here. The events, SMPs, dinners.... man many moments to cherish!!!                    
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/profile/sumanth007hk@gmail.com.webp' %}" alt="">
                </div>
                <h3>Sumanth Bharadwaj</h3>
                <p>
                    <strong>Garage SIG Head 2021-22</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="row" style="margin: 10px;">
            <div class="col-md-4 margin-btm-20">
              <div class="quote dark">
                <blockquote>
                  <p>
                    For me, IE was the main contributer towards my sucess. My IE seniors helped me a lot in clearing technical difficulties as well as guided me for the best. The projects that I did with IE gave a very good learning experience to me. The numerous events conducted by IE weather me as an organiser or a participant, helped to boost my confidence in communication as well as in interaction with others.                 
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/profile/divyanshbansal0612@gmail.com.webp' %}" alt="">
                </div>
                <h3>Divyansh Bansal</h3>
                <p>
                    <strong>Batch of 2022</strong>
                </p>
              </div>
            </div>

            <div class="col-md-8 margin-btm-20">
              <div class="quote dark">
                <blockquote>
                  <p>
                    I can't describe in words how IE club had helped me to grow in my career as well as in my personality. The seniors of IE have helped to me take right decision at the right time and always helped me in all way academically and non academically as well                   
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/profile/rahulsb.191cv142@nitk.edu.in.webp' %}" alt="">
                </div>
                <h3>Rahul siddappa balekundri </h3>
                <p>
                    <strong>Batch of 2023</strong>
                </p>
              </div>
            </div>

            <div class="col-md-8 margin-btm-20">
              <div class="quote dark">
                <blockquote>
                  <p>
                    My first year in IE has been a wonderful experience. It offered me the perfect blend of learning and fun. I met some of the best seniors and batchmates through IE. Getting into IE is the best thing that has happened to me.                    
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/profile/shreya.191cv132@nitk.edu.in.webp' %}" alt="">
                </div>
                <h3>Shreya Lingareddy</h3>
                <p>
                    <strong>Batch of 2023</strong>
                </p>
              </div>
            </div>

            <div class="col-md-12 margin-btm-20">
              <div class="quote dark">
                <blockquote>
                  <p>
                    As I look back at my time at IE and all that I've learnt here, it feels like I didn't choose IE, IE chose me. I used to be very sceptical when people said we are a family. However, after joining IE, I started truly believing those words. As I found a home away from home, I also found a group of brilliant tech-savvy individuals who keep pushing each other to excel. From pushing my technical limits to learning new co-curricular activities, I credit all my success to IE. I hope I can make the most of my final year at IE and impart to my juniors what I received from my seniors!                  
                  </p>
                </blockquote>                        
              </div>
              <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="{% static 'img/profile/atreyamaj@gmail.com.webp' %}" alt="">
                </div>
                <h3>Atreya Majumdar</h3>
                <p>
                    <strong>President 2021-2022</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>   
    
    <!-- END wrapper -->
    {% endblock %}

  
